# Data Types

In [ ]:
#int
#float
#str
#Boolean

In [1]:
#int
a=3
type(a)

int

In [2]:
#float
b=4.7
type(b)

float

In [ ]:
a=3.0

type(a)

float

In [ ]:
#astype(int)

In [3]:
#str
s='Hello'
type(s)

str

In [8]:
a='3'
type(a)

str

In [6]:
#Boolean
1>3

False

In [7]:
3==3

True

In [8]:
3!=3

False

# Indexing

In [14]:
s='Hello'
s[0]

'H'

In [15]:
s[-1]

'o'

In [16]:
import pandas as pd

In [20]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn (1).csv')

In [18]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Operations

In [9]:
# Math(+,-,*,/,//,%,**)
a=4
b=3
print(a/b)

1.3333333333333333

In [ ]:
print(a//b)   # butun qismini olish

1

In [11]:
print(a%b)  # qoldiq

1

In [ ]:
print(a**b)    # sonning darajasi

64

In [ ]:
print(pow(a,b))     # sonning darajasi

64

# Logic operations

In [ ]:
# and---- ikkkala tomon togri bolish kk
# or ----- bitta tomon yoki ikkala tomon xam

# Comperative Operations

In [ ]:
# >,<, ==, !=

# Vazifa

# Istalgan so'zni boshidagi va oxiridagi xarfini topadigan kod yozing
# Berilgan ikki sonni musbat va juft ekanligini topadigan kod yozing
# Berilgan so'zni oxiridan ikkinchi xarfini topadigan kod yozing
# Istalgan sonni toq  yoki manfiy ekanligini tekshiradigan kod yozing

In [1]:
S='Type'
S[0]

'T'

In [2]:
S[-1]

'e'

In [ ]:
a = 2 
a > 0 and a % 2 == 0

True

In [56]:
b=4
b>0 and b % 2 ==0

True

In [55]:
S='Type'
S[-2]

'p'

In [58]:
a=89
a%2==0 or a<-0

False