TUSHIB QOLDIRILGAN QIMANLARNI TOLDIRISH

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('clinvar_conflicting.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_10876\1084741125.py:1: DtypeWarning: Columns (0,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('clinvar_conflicting.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65188 entries, 0 to 65187
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65188 non-null  object
 1   POS                 65188 non-null  int64
 2   REF                 65188 non-null  object
 3   ALT                 65188 non-null  object
 4   AF_ESP              65188 non-null  float64
 5   AF_EXAC             65188 non-null  float64
 6   AF_TGP              65188 non-null  float64
 7   CLNDISDB            65188 non-null  object
 8   CLNDISDBINCL        167 non-null    object
 9   CLNDN               65188 non-null  object
 10  CLNDNINCL           167 non-null    object
 11  CLNHGVS             65188 non-null  object
 12  CLNSIGINCL          167 non-null    object
 13  CLNVC               65188 non-null  object
 14  CLNVI               27659 non-null  object
 15  MC                  64342 non-null  object
 16  ORIGIN              65188 non-null  int64
 17  SSR                 130 non-null    float64
 18  CLASS               65188 non-null  int64
 19  Allele              65188 non-null  object
 20  Consequence         65188 non-null  object
 21  IMPACT              65188 non-null  object
 22  SYMBOL              65172 non-null  object
 23  Feature_type        65174 non-null  object
 24  Feature             65174 non-null  object
 25  BIOTYPE             65172 non-null  object
 26  EXON                56295 non-null  object
 27  INTRON              8803 non-null   object
 28  cDNA_position       56304 non-null  object
 29  CDS_position        55233 non-null  object
 30  Protein_position    55233 non-null  object
 31  Amino_acids         55184 non-null  object
 32  Codons              55184 non-null  object
 33  DISTANCE            108 non-null    float64
 34  STRAND              65174 non-null  float64
 35  BAM_EDIT            31969 non-null  object
 36  SIFT                24836 non-null  object
 37  PolyPhen            24796 non-null  object
 38  MOTIF_NAME          2 non-null      object
 39  MOTIF_POS           2 non-null      float64
 40  HIGH_INF_POS        2 non-null      object
 41  MOTIF_SCORE_CHANGE  2 non-null      float64
 42  LoFtool             60975 non-null  float64
 43  CADD_PHRED          64096 non-null  float64
 44  CADD_RAW            64096 non-null  float64
 45  BLOSUM62            25593 non-null  float64
dtypes: float64(12), int64(3), object(31)
memory usage: 22.9+ MB

In [8]:
df.head()

,CHROM,POS,REF,ALT,AF_ESP,AF_EXAC,AF_TGP,CLNDISDB,CLNDISDBINCL,CLNDN,...,SIFT,PolyPhen,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,LoFtool,CADD_PHRED,CADD_RAW,BLOSUM62
0,1,1168180,G,C,0.0771,0.10020,0.1066,MedGen:CN169374,NaN,not_specified,...,tolerated,benign,NaN,NaN,NaN,NaN,NaN,1.053,-0.208682,2.0
1,1,1470752,G,A,0.0000,0.00000,0.0000,"MedGen:C1843891,OMIM:607454,Orphanet:ORPHA9877...",NaN,Spinocerebellar_ataxia_21|not_provided,...,deleterious_low_confidence,benign,NaN,NaN,NaN,NaN,NaN,31.000,6.517838,-3.0
2,1,1737942,A,G,0.0000,0.00001,0.0000,"Human_Phenotype_Ontology:HP:0000486,MedGen:C00...",NaN,Strabismus|Nystagmus|Hypothyroidism|Intellectu...,...,deleterious,probably_damaging,NaN,NaN,NaN,NaN,NaN,28.100,6.061752,-1.0
3,1,2160305,G,A,0.0000,0.00000,0.0000,"MedGen:C1321551,OMIM:182212,SNOMED_CT:83092002...",NaN,Shprintzen-Goldberg_syndrome|not_provided,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.500,3.114491,NaN
4,1,2160305,G,T,0.0000,0.00000,0.0000,"MedGen:C1321551,OMIM:182212,SNOMED_CT:83092002",NaN,Shprintzen-Goldberg_syndrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.700,4.766224,-3.0

In [9]:
df.nunique()

CHROM                    38
POS                   63115
REF                     866
ALT                     458
AF_ESP                 2842
AF_EXAC                6667
AF_TGP                 2087
CLNDISDB               9234
CLNDISDBINCL             93
CLNDN                  9260
CLNDNINCL               101
CLNHGVS               65188
CLNSIGINCL              137
CLNVC                     7
CLNVI                 27654
MC                       90
ORIGIN                   31
SSR                       2
CLASS                     2
Allele                  374
Consequence              48
IMPACT                    4
SYMBOL                 2328
Feature_type              2
Feature                2369
BIOTYPE                   2
EXON                   3264
INTRON                 1929
cDNA_position         13970
CDS_position          13663
Protein_position       7339
Amino_acids            1262
Codons                 2220
DISTANCE                 96
STRAND                    2
BAM_EDIT                  2
SIFT                      4
PolyPhen                  4
MOTIF_NAME                2
MOTIF_POS                 1
HIGH_INF_POS              1
MOTIF_SCORE_CHANGE        2
LoFtool                1195
CADD_PHRED             9324
CADD_RAW              63803
BLOSUM62                  6
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65188 entries, 0 to 65187
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65188 non-null  object
 1   POS                 65188 non-null  int64
 2   REF                 65188 non-null  object
 3   ALT                 65188 non-null  object
 4   AF_ESP              65188 non-null  float64
 5   AF_EXAC             65188 non-null  float64
 6   AF_TGP              65188 non-null  float64
 7   CLNDISDB            65188 non-null  object
 8   CLNDISDBINCL        167 non-null    object
 9   CLNDN               65188 non-null  object
 10  CLNDNINCL           167 non-null    object
 11  CLNHGVS             65188 non-null  object
 12  CLNSIGINCL          167 non-null    object
 13  CLNVC               65188 non-null  object
 14  CLNVI               27659 non-null  object
 15  MC                  64342 non-null  object
 16  ORIGIN              65188 non-null  int64
 17  SSR                 130 non-null    float64
 18  CLASS               65188 non-null  int64
 19  Allele              65188 non-null  object
 20  Consequence         65188 non-null  object
 21  IMPACT              65188 non-null  object
 22  SYMBOL              65172 non-null  object
 23  Feature_type        65174 non-null  object
 24  Feature             65174 non-null  object
 25  BIOTYPE             65172 non-null  object
 26  EXON                56295 non-null  object
 27  INTRON              8803 non-null   object
 28  cDNA_position       56304 non-null  object
 29  CDS_position        55233 non-null  object
 30  Protein_position    55233 non-null  object
 31  Amino_acids         55184 non-null  object
 32  Codons              55184 non-null  object
 33  DISTANCE            108 non-null    float64
 34  STRAND              65174 non-null  float64
 35  BAM_EDIT            31969 non-null  object
 36  SIFT                24836 non-null  object
 37  PolyPhen            24796 non-null  object
 38  MOTIF_NAME          2 non-null      object
 39  MOTIF_POS           2 non-null      float64
 40  HIGH_INF_POS        2 non-null      object
 41  MOTIF_SCORE_CHANGE  2 non-null      float64
 42  LoFtool             60975 non-null  float64
 43  CADD_PHRED          64096 non-null  float64
 44  CADD_RAW            64096 non-null  float64
 45  BLOSUM62            25593 non-null  float64
dtypes: float64(12), int64(3), object(31)
memory usage: 22.9+ MB

In [11]:
df=pd.read_csv('clinvar_conflicting.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_10876\1084741125.py:1: DtypeWarning: Columns (0,6,16,17,18,34,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('clinvar_conflicting.csv')

In [14]:
df.isnull().any()

CHROM                 False
POS                   False
REF                   False
ALT                   False
AF_ESP                False
AF_EXAC               False
AF_TGP                False
CLNDISDB               True
CLNDISDBINCL           True
CLNDN                  True
CLNDNINCL              True
CLNHGVS                True
CLNSIGINCL             True
CLNVC                 False
CLNVI                  True
MC                     True
ORIGIN                 True
SSR                    True
CLASS                 False
Allele                False
Consequence           False
IMPACT                False
SYMBOL                 True
Feature_type           True
Feature                True
BIOTYPE                True
EXON                   True
INTRON                 True
cDNA_position          True
CDS_position           True
Protein_position       True
Amino_acids            True
Codons                 True
DISTANCE               True
STRAND                 True
BAM_EDIT               True
SIFT                   True
PolyPhen               True
MOTIF_NAME             True
MOTIF_POS              True
HIGH_INF_POS           True
MOTIF_SCORE_CHANGE     True
LoFtool                True
CADD_PHRED             True
CADD_RAW               True
BLOSUM62               True
dtype: bool

In [15]:
df.isnull().sum()

CHROM                     0
POS                       0
REF                       0
ALT                       0
AF_ESP                    0
AF_EXAC                   0
AF_TGP                    0
CLNDISDB                  1
CLNDISDBINCL          64979
CLNDN                     1
CLNDNINCL             64979
CLNHGVS                   1
CLNSIGINCL            64980
CLNVC                     0
CLNVI                 37529
MC                      846
ORIGIN                    1
SSR                   65015
CLASS                     0
Allele                    0
Consequence               0
IMPACT                    0
SYMBOL                   17
Feature_type             14
Feature                  14
BIOTYPE                  16
EXON                   8894
INTRON                56342
cDNA_position          8885
CDS_position           9955
Protein_position       9955
Amino_acids           10004
Codons                10005
DISTANCE              65038
STRAND                   15
BAM_EDIT              33214
SIFT                  40350
PolyPhen              40390
MOTIF_NAME            65144
MOTIF_POS             65144
HIGH_INF_POS          65144
MOTIF_SCORE_CHANGE    65144
LoFtool                4210
CADD_PHRED             1093
CADD_RAW               1093
BLOSUM62              39589
dtype: int64

In [16]:
df.drop('SSR', axis=1, inplace=true)

NameError: name 'true' is not defined

In [17]:
df.drop('SSR', axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65147 entries, 0 to 65146
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65147 non-null  object
 1   POS                 65147 non-null  int64
 2   REF                 65147 non-null  object
 3   ALT                 65147 non-null  object
 4   AF_ESP              65147 non-null  float64
 5   AF_EXAC             65147 non-null  float64
 6   AF_TGP              65147 non-null  object
 7   CLNDISDB            65146 non-null  object
 8   CLNDISDBINCL        168 non-null    object
 9   CLNDN               65146 non-null  object
 10  CLNDNINCL           168 non-null    object
 11  CLNHGVS             65146 non-null  object
 12  CLNSIGINCL          167 non-null    object
 13  CLNVC               65147 non-null  object
 14  CLNVI               27618 non-null  object
 15  MC                  64301 non-null  object
 16  ORIGIN              65146 non-null  object
 17  CLASS               65147 non-null  object
 18  Allele              65147 non-null  object
 19  Consequence         65147 non-null  object
 20  IMPACT              65147 non-null  object
 21  SYMBOL              65130 non-null  object
 22  Feature_type        65133 non-null  object
 23  Feature             65133 non-null  object
 24  BIOTYPE             65131 non-null  object
 25  EXON                56253 non-null  object
 26  INTRON              8805 non-null   object
 27  cDNA_position       56262 non-null  object
 28  CDS_position        55192 non-null  object
 29  Protein_position    55192 non-null  object
 30  Amino_acids         55143 non-null  object
 31  Codons              55142 non-null  object
 32  DISTANCE            109 non-null    float64
 33  STRAND              65132 non-null  object
 34  BAM_EDIT            31933 non-null  object
 35  SIFT                24797 non-null  object
 36  PolyPhen            24757 non-null  object
 37  MOTIF_NAME          3 non-null      object
 38  MOTIF_POS           3 non-null      float64
 39  HIGH_INF_POS        3 non-null      object
 40  MOTIF_SCORE_CHANGE  3 non-null      float64
 41  LoFtool             60937 non-null  float64
 42  CADD_PHRED          64054 non-null  float64
 43  CADD_RAW            64054 non-null  float64
 44  BLOSUM62            25558 non-null  float64
dtypes: float64(9), int64(1), object(35)
memory usage: 22.4+ MB

In [19]:
df.info('SYMBOL')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65147 entries, 0 to 65146
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65147 non-null  object
 1   POS                 65147 non-null  int64
 2   REF                 65147 non-null  object
 3   ALT                 65147 non-null  object
 4   AF_ESP              65147 non-null  float64
 5   AF_EXAC             65147 non-null  float64
 6   AF_TGP              65147 non-null  object
 7   CLNDISDB            65146 non-null  object
 8   CLNDISDBINCL        168 non-null    object
 9   CLNDN               65146 non-null  object
 10  CLNDNINCL           168 non-null    object
 11  CLNHGVS             65146 non-null  object
 12  CLNSIGINCL          167 non-null    object
 13  CLNVC               65147 non-null  object
 14  CLNVI               27618 non-null  object
 15  MC                  64301 non-null  object
 16  ORIGIN              65146 non-null  object
 17  CLASS               65147 non-null  object
 18  Allele              65147 non-null  object
 19  Consequence         65147 non-null  object
 20  IMPACT              65147 non-null  object
 21  SYMBOL              65130 non-null  object
 22  Feature_type        65133 non-null  object
 23  Feature             65133 non-null  object
 24  BIOTYPE             65131 non-null  object
 25  EXON                56253 non-null  object
 26  INTRON              8805 non-null   object
 27  cDNA_position       56262 non-null  object
 28  CDS_position        55192 non-null  object
 29  Protein_position    55192 non-null  object
 30  Amino_acids         55143 non-null  object
 31  Codons              55142 non-null  object
 32  DISTANCE            109 non-null    float64
 33  STRAND              65132 non-null  object
 34  BAM_EDIT            31933 non-null  object
 35  SIFT                24797 non-null  object
 36  PolyPhen            24757 non-null  object
 37  MOTIF_NAME          3 non-null      object
 38  MOTIF_POS           3 non-null      float64
 39  HIGH_INF_POS        3 non-null      object
 40  MOTIF_SCORE_CHANGE  3 non-null      float64
 41  LoFtool             60937 non-null  float64
 42  CADD_PHRED          64054 non-null  float64
 43  CADD_RAW            64054 non-null  float64
 44  BLOSUM62            25558 non-null  float64
dtypes: float64(9), int64(1), object(35)
memory usage: 22.4+ MB

In [21]:
df['SYMBOL']

0        B3GALT6
1        TMEM240
2           GNB1
3            SKI
4            SKI
          ...
65142         F8
65143         F8
65144         F8
65145     RAB39B
65146      CLIC2
Name: SYMBOL, Length: 65147, dtype: object

In [23]:
df['SYMBOL'].fillna(df['SYMBOL'].mode()[0],inplace=True)

In [26]:
df.isnull().sum()

CHROM                     0
POS                       0
REF                       0
ALT                       0
AF_ESP                    0
AF_EXAC                   0
AF_TGP                    0
CLNDISDB                  1
CLNDISDBINCL          64979
CLNDN                     1
CLNDNINCL             64979
CLNHGVS                   1
CLNSIGINCL            64980
CLNVC                     0
CLNVI                 37529
MC                      846
ORIGIN                    1
CLASS                     0
Allele                    0
Consequence               0
IMPACT                    0
SYMBOL                    0
Feature_type             14
Feature                  14
BIOTYPE                  16
EXON                   8894
INTRON                56342
cDNA_position          8885
CDS_position           9955
Protein_position       9955
Amino_acids           10004
Codons                10005
DISTANCE              65038
STRAND                   15
BAM_EDIT              33214
SIFT                  40350
PolyPhen              40390
MOTIF_NAME            65144
MOTIF_POS             65144
HIGH_INF_POS          65144
MOTIF_SCORE_CHANGE    65144
LoFtool                4210
CADD_PHRED             1093
CADD_RAW               1093
BLOSUM62              39589
dtype: int64

In [27]:
df[['Feature_type', 'Feature', 'BIOTYPE']]

      Feature_type         Feature         BIOTYPE
0       Transcript     NM_080605.3  protein_coding
1       Transcript  NM_001114748.1  protein_coding
2       Transcript     NM_002074.4  protein_coding
3       Transcript  XM_005244775.1  protein_coding
4       Transcript  XM_005244775.1  protein_coding
...            ...             ...             ...
65142   Transcript     NM_000132.3  protein_coding
65143   Transcript     NM_000132.3  protein_coding
65144   Transcript     NM_000132.3  protein_coding
65145   Transcript     NM_171998.2  protein_coding
65146   Transcript  XM_005274646.1  protein_coding

[65147 rows x 3 columns]

In [31]:
df['BIOTYPE'].fillna(df['BIOTYPE'].mode()[0],inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_10876\2970339420.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BIOTYPE'].fillna(df['BIOTYPE'].mode()[0],inplace=True)

In [33]:
df['BIOTYPE']

0        protein_coding
1        protein_coding
2        protein_coding
3        protein_coding
4        protein_coding
              ...
65142    protein_coding
65143    protein_coding
65144    protein_coding
65145    protein_coding
65146    protein_coding
Name: BIOTYPE, Length: 65147, dtype: object

In [43]:
df.isnull().sum()

CHROM                     0
POS                       0
REF                       0
ALT                       0
AF_ESP                    0
AF_EXAC                   0
AF_TGP                    0
CLNDISDB                  1
CLNDISDBINCL          64979
CLNDN                     1
CLNDNINCL             64979
CLNHGVS                   1
CLNSIGINCL            64980
CLNVC                     0
CLNVI                 37529
MC                      846
ORIGIN                    1
CLASS                     0
Allele                    0
Consequence               0
IMPACT                    0
SYMBOL                    0
Feature_type              0
Feature                  14
BIOTYPE                   0
EXON                   8894
INTRON                56342
cDNA_position          8885
CDS_position           9955
Protein_position       9955
Amino_acids           10004
Codons                10005
DISTANCE              65038
STRAND                   15
BAM_EDIT              33214
SIFT                  40350
PolyPhen              40390
MOTIF_NAME            65144
MOTIF_POS             65144
HIGH_INF_POS          65144
MOTIF_SCORE_CHANGE    65144
LoFtool                4210
CADD_PHRED             1093
CADD_RAW               1093
BLOSUM62              39589
dtype: int64

In [42]:
df['Feature_type'].fillna('transcript',inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_10876\4188473738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Feature_type'].fillna('transcript',inplace=True)

In [46]:
df.drop('CLNDISDBINCL', axis=1, inplace=True)

In [48]:
df.drop('CLNDNINCL', axis=1, inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65147 entries, 0 to 65146
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65147 non-null  object
 1   POS                 65147 non-null  int64
 2   REF                 65147 non-null  object
 3   ALT                 65147 non-null  object
 4   AF_ESP              65147 non-null  float64
 5   AF_EXAC             65147 non-null  float64
 6   AF_TGP              65147 non-null  object
 7   CLNDISDB            65146 non-null  object
 8   CLNDN               65146 non-null  object
 9   CLNHGVS             65146 non-null  object
 10  CLNVC               65147 non-null  object
 11  CLNVI               27618 non-null  object
 12  MC                  64301 non-null  object
 13  ORIGIN              65146 non-null  object
 14  CLASS               65147 non-null  object
 15  Allele              65147 non-null  object
 16  Consequence         65147 non-null  object
 17  IMPACT              65147 non-null  object
 18  SYMBOL              65147 non-null  object
 19  Feature_type        65147 non-null  object
 20  Feature             65133 non-null  object
 21  BIOTYPE             65147 non-null  object
 22  EXON                56253 non-null  object
 23  INTRON              8805 non-null   object
 24  cDNA_position       56262 non-null  object
 25  CDS_position        55192 non-null  object
 26  Protein_position    55192 non-null  object
 27  Amino_acids         55143 non-null  object
 28  Codons              55142 non-null  object
 29  DISTANCE            109 non-null    float64
 30  STRAND              65132 non-null  object
 31  BAM_EDIT            31933 non-null  object
 32  SIFT                24797 non-null  object
 33  PolyPhen            24757 non-null  object
 34  MOTIF_NAME          3 non-null      object
 35  MOTIF_POS           3 non-null      float64
 36  HIGH_INF_POS        3 non-null      object
 37  MOTIF_SCORE_CHANGE  3 non-null      float64
 38  LoFtool             60937 non-null  float64
 39  CADD_PHRED          64054 non-null  float64
 40  CADD_RAW            64054 non-null  float64
 41  BLOSUM62            25558 non-null  float64
dtypes: float64(9), int64(1), object(32)
memory usage: 20.9+ MB

In [55]:
df.isnull().sum()

CHROM                     0
POS                       0
REF                       0
ALT                       0
AF_ESP                    0
AF_EXAC                   0
AF_TGP                    0
CLNDISDB                  1
CLNDN                     1
CLNHGVS                   1
CLNVC                     0
CLNVI                 37529
MC                      846
ORIGIN                    1
CLASS                     0
Allele                    0
Consequence               0
IMPACT                    0
SYMBOL                    0
Feature_type              0
Feature                  14
BIOTYPE                   0
EXON                   8894
INTRON                56342
cDNA_position          8885
CDS_position           9955
Protein_position       9955
Amino_acids           10004
Codons                10005
DISTANCE              65038
STRAND                   15
BAM_EDIT              33214
SIFT                  40350
PolyPhen              40390
MOTIF_NAME            65144
MOTIF_POS             65144
HIGH_INF_POS          65144
MOTIF_SCORE_CHANGE    65144
LoFtool                4210
CADD_PHRED             1093
CADD_RAW               1093
BLOSUM62              39589
dtype: int64