# 6 dars uchun vazifa

# 1. Supervised ML nima va  qanday turlarga bo’linadi? 
Supervised Ml degani bu kompyuterni input va output bilan aqli qilib olib va keyin unga input yoki 
output berib dependent korsatkichlarni topamiz. AI---Machine Learning---Supervised Ml-------------
Classification va Regression. Classification---Binary va Multi class.

# 2. Data qanday bo’lishi kerak?
1.Kop bolishi kerak
2.Sohaga alahodor bolishi kerak 
3.Toliq bolishi

# 3. Data Preprocessing nima?

Data Preprocessing bu Data ni ozimizga kerak bolgan holatga tushirish. Masalan: Tushirilga missing value 
larni toldirish yoki Encoding qilish categorical bolgan inputni numericalga aylantirish

# 4. Mean va Modeni farqi nimada?

Mean numerical bolgan qiymatning orta arifmetikalik qiymat bilan toltiradi a Mode esa qiymat 
korsatkichlarda qaysi qiymat kop qaytarilgan bolsa shu qiymat bilan toltiradi va yana bir farqi Mode
ham numerical va categoricalga ishlatsak boladi.

# 5. Regression va Classification nima va ularga  idea ayting?

Regression bu Supervised Ml bir turi bolib va qiymatda cheksiz classlar kutilyotgan bolsa Regression 
ishlatiladi. Classification ham Supervised Ml ning bir turi bolib va qiymatda chekli classlar 
kutilyotgan bolsa demak Classification ishlatiladi. Va classification ozi ikkiga bolinadi Binary va 
Multi class. Binary bu ikki class kutilyotgan bolsa, Multi class esa 2 dan kop lekin chekli bolsa 
ishlatiladi

# 6. Tushurib qoldilgan qiymatlarni to’ldirish usullari va ular qanday ishlaydi?

Mean, Median, Mode. Mean va Median faqat numericalarga ishlatamiz va Mode esa ham numerical va 
categoricalga ishlatsak boladi. Mean orta arifmetik qiymat bilan toltiradi, Median esa qaysi qiymat
oldinda turgan bolsa shu bilan toltiradi. Mode esa eng kop bolgan qiymat bilan.

# 7. ML va AI da eng muhim element?

Bu Data(input), u siz ish boshlab bolmaydi

# 8. Median qanday ishlaydi?

Median qaysi qiymat yaqin tursa tushib qoldirilgan qiymatga shu qiymat bilan toltiriladi

# Python coding(2-minut)

In [ ]:
1. Agar berilgan son 2 ga bo’linsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

In [8]:
a=25
if a%2==0: print ('yaqshi')
else: print ('yomon')

yomon

2.Agar berilgan son musbat bo’lsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

In [9]:
a=25
if a>0:print('yaqshi')
else:print('yomon')

yaqshi

3. Agar berilgan 5 ga va 3 ga bolinsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

In [10]:
a=25
if a%5 and a%3: print('yaqshi')
else:print('yomon')

yomon

4. Agar berilgan so’zning bosh xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring

In [25]:
a='Hello'
if a[0]==a:print('yaqshi')
else:print('yomon')

yomon

5. Agar berilgan so’zning oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring

In [23]:
a='hello'
if a[-1]==a:print('yaqshi')
else:print('yomon')

yomon

6. Agar berilgan so’zning bosh xarfi ‘b’ va oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring

In [22]:
a='hello'
if a[0]=='b' and a[-1]=='a':
    print('yaqshi')
else:print('yomon')

yomon

7. Berilgan sonning musbat ekanligini isbotlang

In [28]:
a = 7

if a > 0:
    print("musbat")
else:
    print("musbat emas")

musbat

8. Berilgan sonning manfiy ekanligini isbotlang

In [27]:
a = -5

if a < 0:
    print("manfiy")
else:
    print("manfiy emas")

manfiy

9. Berilgan sonning nol ekanligini isbotlang

In [26]:
a = 0

if a == 0:
    print("nol")
else:
    print("nol emas")

nol

10. Berilgan sonning 2 ga bolinishini isbotlang

In [ ]:
a = 8  

if a % 2 == 0:
    print("2 ga bo‘linadi")
else:
    print("2 ga bo‘linmaydi")

2 ga bo‘linadi

# ML coding(4-minut)

1. Mean orqali to’ldiring

In [30]:
import pandas as pd

In [34]:
df=pd.read_csv('Sales_with_NaNs_v1.3.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         8599 non-null   object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  8478 non-null   float64
 3   Sales_After                   9233 non-null   float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 9195 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [36]:
df.nunique()

Group                              2
Customer_Segment                   3
Sales_Before                    8388
Sales_After                     9143
Customer_Satisfaction_Before    7731
Customer_Satisfaction_After     7033
Purchase_Made                      2
dtype: int64

3. Median orqali to’ldiring

In [37]:
df['Sales_After'].fillna(df['Sales_After'].median(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_2352\3570922985.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sales_After'].fillna(df['Sales_After'].median(),inplace=True)

2. Mode orqali to’ldiring

In [38]:
df['Purchase_Made'].fillna(df['Purchase_Made'].mode()[0],inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         8599 non-null   object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  8478 non-null   float64
 3   Sales_After                   10000 non-null  float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 10000 non-null  object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

4. Fixed qiymat bn to’ldiring

In [41]:
df['Group'].fillna('Control',inplace=True)

In [40]:
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,273.129170,83.974852,87.738591,Yes

5. Istalgan ustunni tashlab yuboring

In [42]:
df.drop(['Customer_Segment'],axis=1,inplace=True)

In [44]:
df.dropna(inplace=True)