# For Loop uchun 10 ta misol ishlash

In [1]:
# 1-misol
# 1 dan 20 gacha bo‘lgan sonlarni ekranga chiqaradigan for loop yozing

for i in range(1, 21): 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
# 2-misol
# 1 dan 10 gacha bo‘lgan sonlarni toq raqamlrni ekranga chiqaradigan for loop yozing

for toq_son in range(1, 10): 
    if toq_son % 2 == 1: 
        print(toq_son)

1
3
5
7
9

In [7]:

# 3-misol
# 1 dan 10 gacha bo‘lgan sonlarni juft raqamlrni ekranga chiqaradigan for loop yozing if shartisiz

for toq_son in range(2, 11,2):
    print(toq_son)

2
4
6
8
10

In [8]:
# 4-misol
# Berilgan ro‘yxatdagi barcha elementlarni bittalab chiqaradigan for loop yozing.
royhat = ['Rano', 'Bek', 'Sattor', 'Alijon', 'Valijon']

for bittalab in royhat:
    print(bittalab)

Rano
Bek
Sattor
Alijon
Valijon

In [10]:
# 5-misol 
# Berilgan matndagi har bir belgini alohida chiqaradigan for loop yozing.
royhat = ['Alijon', 'Valijon']

for bittalab in royhat: 
    for har_bir_belgi in bittalab: 
        print(har_bir_belgi)

A
l
i
j
o
n
V
a
l
i
j
o
n

In [14]:
# 6-misol
# 1 dan 100 gacha bo‘lgan sonlar ichida 3 ga karrali bo‘lganlarni topadigan for loop yozing.

for i in range(1, 100): 
    if i%3==0: 
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [16]:
#7-misol 
# Berilgan lug‘at (dictionary) dagi kalit va qiymatlarni chiqaradigan for loop yozing.
talabalar_bahosi = {
    'Alijon': "-A'lochi",
    'Valijon': "-O'rtacha", 
    'Hasanjon': "-Ikkichi"

}

for key, value in talabalar_bahosi.items():
    print(key, value)

Alijon -A'lochi
Valijon -O'rtacha
Hasanjon -Ikkichi

In [21]:
#8-misol 
#Ro‘yxatdagi sonlarning yig‘indisini hisoblaydigan for loop yozing.

sonlar = [30, 23, 56, 55, 98, 76, 66]
total = 0
for add in sonlar:
     total = total + add
print(total)    # print for loop tasharisida bo'lsa bitta yakuniy yigindini chiqaradi

404

In [31]:
# 9-misol 
# Berilgan ro‘yxatda nechta element borligini for loop yordamida hisoblang.

sonlar = ['ALi', 2, 56, 'Vali', 1998, 'Ganisher', '66']
hisob = 0  # sanashni 0 dan boshlaydi 

for _ in sonlar:
    hisob = hisob + 1  # har bir elementni bittaga oshiradi. 
print(hisob)

7

In [32]:
# 10 -misol 
# 1 dan 10 gacha bo‘lgan sonlarning kvadratini chiqaradigan for loop yozing.

for kvadrat_qiymat in range(1, 10): 
    print(kvadrat_qiymat**2)

1
4
9
16
25
36
49
64
81

# For Loopdan foydalangan holda va foydalanmagan holda missing qiymatlarni 5 ta usulda to'ldirish.

In [33]:
import pandas as pd

In [85]:
df = pd.read_csv('employee_attrition_performance.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                9942 non-null   object
 1   age                        9983 non-null   object
 2   gender                     9829 non-null   object
 3   education                  9921 non-null   object
 4   department                 9865 non-null   object
 5   job_role                   9821 non-null   object
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          9725 non-null   object
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   9518 non-null   object
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         9251 non-null   object
 19  relationship_satisfaction  9193 non-null   float64
 20  environment_satisfaction   9193 non-null   float64
 21  attrition                  9302 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.7+ MB

In [36]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction     807
attrition                    698
dtype: int64

In [37]:
df.nunique()

employee_id                  9942
age                            51
gender                         39
education                      62
department                     22
job_role                       57
monthly_salary               9107
years_at_company               55
years_in_current_role          16
performance_score              37
job_satisfaction               59
work_life_balance               9
overtime                       42
distance_from_home_km          75
num_projects_last_year         11
training_hours_last_year      104
num_promotions                  5
last_promotion_years_ago       15
stock_option_level              6
relationship_satisfaction       4
environment_satisfaction        4
attrition                       2
dtype: int64

In [38]:
# For loopdan foydalanmgana holda 5 ta usulda tushirilgan qiymatlarni to'ldiramiz. 

# 1 - bu mean --> bu o'sha ustuni bo'yicha uning o'rta arifmetiki bilan to'ldirishdi faqat numerical qiymatlar uchun

df['environment_satisfaction'].fillna(df['environment_satisfaction'].mean(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/644679735.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['environment_satisfaction'].fillna(df['environment_satisfaction'].mean(), inplace=True)

In [39]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction       0
attrition                    698
dtype: int64

In [40]:
# 2- bu mode --> bu eng ko'p takrorlangan qiymat bilan to'ldirishdi ham numerical ham catregorical qiymatlar uchun ishlatilaveradi.

df['attrition'].fillna(df['attrition'].mode()[0], inplace=True)

In [41]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction       0
attrition                      0
dtype: int64

In [42]:
# 3 - bu median --> bu o'rtaa turgan qiymat bilan to'ldirishdi faqat numerical qiymatlar uchun

df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].median(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/542259527.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].median(), inplace=True)

In [43]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction       0
attrition                      0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                9942 non-null   object
 1   age                        9983 non-null   object
 2   gender                     9829 non-null   object
 3   education                  9921 non-null   object
 4   department                 9865 non-null   object
 5   job_role                   9821 non-null   object
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          9725 non-null   object
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   9518 non-null   object
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         9251 non-null   object
 19  relationship_satisfaction  10000 non-null  float64
 20  environment_satisfaction   10000 non-null  float64
 21  attrition                  10000 non-null  object
dtypes: float64(12), object(10)
memory usage: 1.7+ MB

In [45]:
# 4 - bu fixed --> bu qo'lda to'ldirish usuli, bunda oldin bilish yoki shu soxadan habardor bo'lish lozim

df['years_in_current_role'].fillna('Yes', inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/2771354415.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['years_in_current_role'].fillna('Yes', inplace=True)
/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/2771354415.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Yes' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['years_in_current_role'].fillna('Yes', inplace=True)

In [46]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role          0
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction       0
attrition                      0
dtype: int64

In [48]:
# 5-drop --bunda biz ikki hil usuldan foydalanamiz biri tushib qolgan qiymatlar oz bo'lganda 

df.dropna(inplace=True)  # Bunda dataframe ichidagi NaN (bo'sh) qiymatlari bor ustunlarni o'chirib tashlaydi.

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8809 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                8809 non-null   object
 1   age                        8809 non-null   object
 2   gender                     8809 non-null   object
 3   education                  8809 non-null   object
 4   department                 8809 non-null   object
 5   job_role                   8809 non-null   object
 6   monthly_salary             8809 non-null   float64
 7   years_at_company           8809 non-null   float64
 8   years_in_current_role      8809 non-null   object
 9   performance_score          8809 non-null   object
 10  job_satisfaction           8809 non-null   float64
 11  work_life_balance          8809 non-null   float64
 12  overtime                   8809 non-null   object
 13  distance_from_home_km      8809 non-null   float64
 14  num_projects_last_year     8809 non-null   float64
 15  training_hours_last_year   8809 non-null   float64
 16  num_promotions             8809 non-null   float64
 17  last_promotion_years_ago   8809 non-null   float64
 18  stock_option_level         8809 non-null   object
 19  relationship_satisfaction  8809 non-null   float64
 20  environment_satisfaction   8809 non-null   float64
 21  attrition                  8809 non-null   object
dtypes: float64(11), object(11)
memory usage: 1.5+ MB

In [53]:
# 2-usuli esa aniq bir foizi yo'q lekin ustunimizda juda ko'p ma'lumotlar tanqisligi va suniylashib ketgan bo'lsa ishlatiladi. 
# Bunda ustun butunlay tashlanib yuboriladi. 
df.drop('performance_score', axis=1, inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                9942 non-null   object
 1   age                        9983 non-null   object
 2   gender                     9829 non-null   object
 3   education                  9921 non-null   object
 4   department                 9865 non-null   object
 5   job_role                   9821 non-null   object
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   job_satisfaction           9737 non-null   float64
 10  work_life_balance          9597 non-null   float64
 11  overtime                   9518 non-null   object
 12  distance_from_home_km      9542 non-null   float64
 13  num_projects_last_year     9529 non-null   float64
 14  training_hours_last_year   9439 non-null   float64
 15  num_promotions             9251 non-null   float64
 16  last_promotion_years_ago   9251 non-null   float64
 17  stock_option_level         9251 non-null   object
 18  relationship_satisfaction  9193 non-null   float64
 19  environment_satisfaction   9193 non-null   float64
 20  attrition                  9302 non-null   object
dtypes: float64(12), object(9)
memory usage: 1.6+ MB

In [55]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction     807
attrition                    698
dtype: int64

In [56]:
# Endi for loopdan foydalangan holda 5 ta usulda qiymatlari to'ldirib chiqamiz. 

for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/998994087.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1331/998994087.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [57]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64

In [58]:
# Yoki median 

for col in df.columns:
    if df[col].isnull().any() and df[col].dtype != 'object':
        df[col].fillna(df[col].median(), inplace=True)

In [59]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64

In [60]:
# Fixed holatida ko'ramiz

for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'object':
            df[col].fillna('Unknown', inplace=True)  # matinli bo'lsa Unknown
        else: 
            df[col].fillna(-1, inplace=True) # sonli bo'lsa -1 bilan to'ldiradi.

In [61]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64

In [63]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction     807
attrition                    698
dtype: int64

In [64]:
df = df.dropna()   # bu barcha missing bo'lgan qatorlani o'chiradi.

In [65]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
performance_score            0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64

In [66]:
# agar faqat bitta ustun bo'yicha o'chirish kerak bo'lsa unda 
df = df.dropna(subset=['overtime'])

In [78]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction     807
attrition                    698
dtype: int64

In [82]:
# Agar 50% foizdan ortiq missing values bo'lsa unda drop columnsdan fodalanamiz bunda biz Threshold qo'yishimiz ishimizni osnonlashtiradi

threshold  = 0.5  # bu chegara qiymat 

for col in df.columns:
    if df[col].isnull().mean() < threshold:
        df.drop(columns=col, inplace=True)

In [83]:
df.isnull().sum()

Series([], dtype: float64)

# For Loop + Encoding

# bu yerda biz threshold ham qo'ysak maqsadga muvofiq sababi one-hot encoding nunique iloji boircha kichigini olishimiz kerak sababi dataset collapse bo'lmasligi uchun.

In [86]:
df.nunique()

employee_id                  9942
age                            51
gender                         39
education                      62
department                     22
job_role                       57
monthly_salary               9107
years_at_company               55
years_in_current_role          16
performance_score              37
job_satisfaction               59
work_life_balance               9
overtime                       42
distance_from_home_km          75
num_projects_last_year         11
training_hours_last_year      104
num_promotions                  5
last_promotion_years_ago       15
stock_option_level              6
relationship_satisfaction       4
environment_satisfaction        4
attrition                       2
dtype: int64

In [88]:
from sklearn.preprocessing import LabelEncoder 

encoder = LabelEncoder()

encoder

LabelEncoder()

In [90]:
threshold = 5
for col in df.columns:
    if df[col].dtype == 'object':
        if df[col].nunique() <= threshold:
            dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
            df = pd.concat([df.drop(columns=col), dummies], axis=1)
        else: 
            df[col] = encoder.fit_transform(df[col])

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                10000 non-null  int64
 1   age                        10000 non-null  int64
 2   gender                     10000 non-null  int64
 3   education                  10000 non-null  int64
 4   department                 10000 non-null  int64
 5   job_role                   10000 non-null  int64
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          10000 non-null  int64
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   10000 non-null  int64
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         10000 non-null  int64
 19  relationship_satisfaction  9193 non-null   float64
 20  environment_satisfaction   9193 non-null   float64
 21  attrition_No               10000 non-null  int64
 22  attrition_Yes              10000 non-null  int64
dtypes: float64(12), int64(11)
memory usage: 1.8 MB