# data types

In [7]:
import pandas as pd
print(pd.__version__)

3.0.0

In [9]:
import pandas as pd 
df=pd.read_csv('Premier_League_Player_Statistics_2023-24_20260207_050947.csv')

In [ ]:
df.head() # datani boshini so'rash uchun ishlatamiz # eng ko'p ishlatiladigan cod

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
0,Erling Haaland,Manchester City,Forward,FWD,31,2580,83,27,5,32,...,1,World Class (25+),Excellent,2.89,2023/24,Premier League,England,English Premier League,1,2026-02-07
1,Cole Palmer,Chelsea,Midfielder,MID,33,2880,87,22,11,33,...,2,World Class (25+),Good,2.61,2023/24,Premier League,England,English Premier League,1,2026-02-07
2,Alexander Isak,Newcastle United,Forward,FWD,30,2550,85,21,2,23,...,5,Elite (15-24),Excellent,2.22,2023/24,Premier League,England,English Premier League,1,2026-02-07
3,Ollie Watkins,Aston Villa,Forward,FWD,35,3050,87,19,13,32,...,3,World Class (25+),Good,2.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
4,Mohamed Salah,Liverpool,Forward,FWD,32,2750,86,18,10,28,...,4,World Class (25+),Excellent,2.28,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [ ]:
df.head(5) # o'zingizga kerakli qatorgacha so'rash uchun qavs ishiga qatorni raqamini kirgizing

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
0,Erling Haaland,Manchester City,Forward,FWD,31,2580,83,27,5,32,...,1,World Class (25+),Excellent,2.89,2023/24,Premier League,England,English Premier League,1,2026-02-07
1,Cole Palmer,Chelsea,Midfielder,MID,33,2880,87,22,11,33,...,2,World Class (25+),Good,2.61,2023/24,Premier League,England,English Premier League,1,2026-02-07
2,Alexander Isak,Newcastle United,Forward,FWD,30,2550,85,21,2,23,...,5,Elite (15-24),Excellent,2.22,2023/24,Premier League,England,English Premier League,1,2026-02-07
3,Ollie Watkins,Aston Villa,Forward,FWD,35,3050,87,19,13,32,...,3,World Class (25+),Good,2.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
4,Mohamed Salah,Liverpool,Forward,FWD,32,2750,86,18,10,28,...,4,World Class (25+),Excellent,2.28,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [13]:
df.tail()   # datani tag qismidan ko'rish

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
47,Raheem Sterling,Chelsea,Forward,FWD,31,2010,65,8,4,12,...,31,Excellent (10-14),Excellent,1.02,2023/24,Premier League,England,English Premier League,1,2026-02-07
48,Pedro Neto,Wolves,Forward,FWD,20,1380,69,2,9,11,...,26,Excellent (10-14),Excellent,1.15,2023/24,Premier League,England,English Premier League,1,2026-02-07
49,Hwang Hee-chan,Wolves,Forward,FWD,30,1950,65,12,2,14,...,23,Excellent (10-14),Excellent,1.28,2023/24,Premier League,England,English Premier League,1,2026-02-07
50,Amadou Onana,Everton,Midfielder,MID,30,2450,82,3,2,5,...,51,Good (5-9),Fair,0.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
51,Ashley Young,Everton,Defender,DEF,29,2280,79,0,1,1,...,52,Developing (0-4),Poor,-0.05,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [14]:
df.tail(3)  # o'zingizga kerakli qatorgacha so'rash uchun qavs ishiga qatorni raqamini kirgizing

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
49,Hwang Hee-chan,Wolves,Forward,FWD,30,1950,65,12,2,14,...,23,Excellent (10-14),Excellent,1.28,2023/24,Premier League,England,English Premier League,1,2026-02-07
50,Amadou Onana,Everton,Midfielder,MID,30,2450,82,3,2,5,...,51,Good (5-9),Fair,0.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
51,Ashley Young,Everton,Defender,DEF,29,2280,79,0,1,1,...,52,Developing (0-4),Poor,-0.05,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [ ]:
df.nunique() # xar bir ustunlar sonini aniqlash uchun ishlatamiz # class lar sonini topish

Player                       52
Team                         15
Position                      4
Position_Group                4
Appearances                  18
Minutes                      40
Minutes_Per_Appearance       25
Goals                        20
Assists                      13
Goal_Contributions           24
Goals_Per_90                 36
Assists_Per_90               29
Goal_Contributions_Per_90    39
Minutes_Per_Goal             49
Minutes_Per_Assist           49
Yellow_Cards                 12
Red_Cards                     3
Discipline_Score             12
Clean_Sheets                 10
Clean_Sheet_Percentage       11
Goals_Rank                   20
Assists_Rank                 13
Goal_Contributions_Rank      24
Clean_Sheets_Rank            10
Efficiency_Rank              46
Performance_Category          5
Discipline_Category           5
Efficiency_Rating            46
Season                        1
Competition                   1
Country                       1
League_Name                   1
League_Level                  1
Data_Collection_Date          1
dtype: int64

In [ ]:
df['Team'].nunique()  # ma'lum bir ustundi ajratib olish kerak bo'lsa ishlatamiz

15

In [ ]:
df['Team'] # Ma'lum bir bitta ustundi ajratib olish uchun ishlatamiz

0       Manchester City
1               Chelsea
2      Newcastle United
3           Aston Villa
4             Liverpool
5       Manchester City
6               Arsenal
7             Tottenham
8           Bournemouth
9              West Ham
10    Manchester United
11      Manchester City
12              Arsenal
13            Tottenham
14     Newcastle United
15              Arsenal
16              Arsenal
17            Liverpool
18      Manchester City
19      Manchester City
20              Arsenal
21            Liverpool
22      Manchester City
23          Aston Villa
24              Arsenal
25              Arsenal
26      Manchester City
27              Arsenal
28            Liverpool
29      Manchester City
30              Chelsea
31       Crystal Palace
32       Crystal Palace
33            Liverpool
34            Tottenham
35            Tottenham
36              Arsenal
37      Manchester City
38          Aston Villa
39    Manchester United
40              Arsenal
41             West Ham
42            Brentford
43            Brentford
44               Wolves
45    Nottingham Forest
46       Crystal Palace
47              Chelsea
48               Wolves
49               Wolves
50              Everton
51              Everton
Name: Team, dtype: str

In [ ]:
df[['Team','Position']]  # Ma'lum 2,3 va h.k qatorlarni ajratib olish uchun ishlatamiz

                 Team    Position
0     Manchester City     Forward
1             Chelsea  Midfielder
2    Newcastle United     Forward
3         Aston Villa     Forward
4           Liverpool     Forward
5     Manchester City  Midfielder
6             Arsenal     Forward
7           Tottenham     Forward
8         Bournemouth     Forward
9            West Ham     Forward
10  Manchester United  Midfielder
11    Manchester City  Midfielder
12            Arsenal  Midfielder
13          Tottenham  Midfielder
14   Newcastle United     Forward
15            Arsenal    Defender
16            Arsenal    Defender
17          Liverpool    Defender
18    Manchester City    Defender
19    Manchester City    Defender
20            Arsenal  Goalkeeper
21          Liverpool  Goalkeeper
22    Manchester City  Goalkeeper
23        Aston Villa  Goalkeeper
24            Arsenal  Goalkeeper
25            Arsenal  Midfielder
26    Manchester City  Midfielder
27            Arsenal     Forward
28          Liverpool     Forward
29    Manchester City     Forward
30            Chelsea     Forward
31     Crystal Palace  Midfielder
32     Crystal Palace     Forward
33          Liverpool     Forward
34          Tottenham     Forward
35          Tottenham     Forward
36            Arsenal     Forward
37    Manchester City  Midfielder
38        Aston Villa  Midfielder
39  Manchester United     Forward
40            Arsenal     Forward
41           West Ham  Midfielder
42          Brentford     Forward
43          Brentford     Forward
44             Wolves     Forward
45  Nottingham Forest     Forward
46     Crystal Palace     Forward
47            Chelsea     Forward
48             Wolves     Forward
49             Wolves     Forward
50            Everton  Midfielder
51            Everton    Defender

In [ ]:
df.info()  # Datada umumiy ma'lumot olish uchun ishlatamiz

<class 'pandas.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Player                     52 non-null     str
 1   Team                       52 non-null     str
 2   Position                   52 non-null     str
 3   Position_Group             52 non-null     str
 4   Appearances                52 non-null     int64
 5   Minutes                    52 non-null     int64
 6   Minutes_Per_Appearance     52 non-null     int64
 7   Goals                      52 non-null     int64
 8   Assists                    52 non-null     int64
 9   Goal_Contributions         52 non-null     int64
 10  Goals_Per_90               52 non-null     float64
 11  Assists_Per_90             52 non-null     float64
 12  Goal_Contributions_Per_90  52 non-null     float64
 13  Minutes_Per_Goal           52 non-null     int64
 14  Minutes_Per_Assist         52 non-null     int64
 15  Yellow_Cards               52 non-null     int64
 16  Red_Cards                  52 non-null     int64
 17  Discipline_Score           52 non-null     int64
 18  Clean_Sheets               52 non-null     int64
 19  Clean_Sheet_Percentage     52 non-null     float64
 20  Goals_Rank                 52 non-null     int64
 21  Assists_Rank               52 non-null     int64
 22  Goal_Contributions_Rank    52 non-null     int64
 23  Clean_Sheets_Rank          52 non-null     int64
 24  Efficiency_Rank            52 non-null     int64
 25  Performance_Category       52 non-null     str
 26  Discipline_Category        52 non-null     str
 27  Efficiency_Rating          52 non-null     float64
 28  Season                     52 non-null     str
 29  Competition                52 non-null     str
 30  Country                    52 non-null     str
 31  League_Name                52 non-null     str
 32  League_Level               52 non-null     int64
 33  Data_Collection_Date       52 non-null     str
dtypes: float64(5), int64(18), str(11)
memory usage: 13.9 KB

In [ ]:
df.isnull().sum()  # aniq sonlar orqali ustunlar va ularda tushib qolgan qiymatlar topish

Player                       0
Team                         0
Position                     0
Position_Group               0
Appearances                  0
Minutes                      0
Minutes_Per_Appearance       0
Goals                        0
Assists                      0
Goal_Contributions           0
Goals_Per_90                 0
Assists_Per_90               0
Goal_Contributions_Per_90    0
Minutes_Per_Goal             0
Minutes_Per_Assist           0
Yellow_Cards                 0
Red_Cards                    0
Discipline_Score             0
Clean_Sheets                 0
Clean_Sheet_Percentage       0
Goals_Rank                   0
Assists_Rank                 0
Goal_Contributions_Rank      0
Clean_Sheets_Rank            0
Efficiency_Rank              0
Performance_Category         0
Discipline_Category          0
Efficiency_Rating            0
Season                       0
Competition                  0
Country                      0
League_Name                  0
League_Level                 0
Data_Collection_Date         0
dtype: int64

In [ ]:
df.isnull().any()  # boolean orqali topish

Player                       False
Team                         False
Position                     False
Position_Group               False
Appearances                  False
Minutes                      False
Minutes_Per_Appearance       False
Goals                        False
Assists                      False
Goal_Contributions           False
Goals_Per_90                 False
Assists_Per_90               False
Goal_Contributions_Per_90    False
Minutes_Per_Goal             False
Minutes_Per_Assist           False
Yellow_Cards                 False
Red_Cards                    False
Discipline_Score             False
Clean_Sheets                 False
Clean_Sheet_Percentage       False
Goals_Rank                   False
Assists_Rank                 False
Goal_Contributions_Rank      False
Clean_Sheets_Rank            False
Efficiency_Rank              False
Performance_Category         False
Discipline_Category          False
Efficiency_Rating            False
Season                       False
Competition                  False
Country                      False
League_Name                  False
League_Level                 False
Data_Collection_Date         False
dtype: bool

# Conditions

In [ ]:
# agar son musbat bo'lsa yaxshi aks holda yomon degan so'zni ekranga chiqarish

In [26]:
a=2
if a>1: 
    print('yaxshi')

yaxshi

In [34]:
a=-0
if a>0: 
    print('yaxshi') 
elif a<0:
    print('yomon') 
else:
    print('nol')

nol

In [ ]:
baho=5
if baho==8:
    print('alo')
elif baho==7:
    print('yaxshi') 
elif baho==6:
    print('namunali') 
elif baho==5: 
    print('qoniqarsiz') 
else:
    print('juda yomon')

qoniqarsiz