For loop

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('loan_data.csv')

In [39]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0.0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561.0,No,1.0
1,21.0,female,High School,12282.0,0.0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504.0,Yes,0.0
2,25.0,female,High School,12438.0,3.0,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635.0,No,1.0
3,23.0,female,Bachelor,79753.0,0.0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675.0,No,1.0
4,24.0,male,Master,66135.0,1.0,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586.0,No,1.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44933 non-null  float64
 1   person_gender                   44933 non-null  object
 2   person_education                44933 non-null  object
 3   person_income                   44933 non-null  object
 4   person_emp_exp                  44932 non-null  float64
 5   person_home_ownership           44932 non-null  object
 6   loan_amnt                       44932 non-null  float64
 7   loan_intent                     44932 non-null  object
 8   loan_int_rate                   44932 non-null  float64
 9   loan_percent_income             44930 non-null  float64
 10  cb_person_cred_hist_length      44930 non-null  object
 11  credit_score                    44930 non-null  float64
 12  previous_loan_defaults_on_file  44929 non-null  object
 13  loan_status                     44929 non-null  float64
dtypes: float64(7), object(7)
memory usage: 4.8+ MB

In [41]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    1
person_home_ownership             1
loan_amnt                         1
loan_intent                       1
loan_int_rate                     1
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [45]:

df['person_emp_exp'].fillna(df['person_emp_exp'].mean, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_6168\285125086.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.mean of 0         0.0
1         0.0
2         3.0
3         0.0
4         1.0
         ...
44928     6.0
44929    17.0
44930     7.0
44931     4.0
44932     1.0
Name: person_emp_exp, Length: 44933, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['person_emp_exp'].fillna(df['person_emp_exp'].mean, inplace=True)

In [50]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         1
loan_intent                       1
loan_int_rate                     1
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [49]:
df['person_home_ownership'].fillna(df['person_home_ownership'].mode()[0], inplace=True)

In [51]:
df['loan_amnt'].fillna(df['loan_amnt'].median(),inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_6168\3613139976.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_amnt'].fillna(df['loan_amnt'].median(),inplace=True)

In [52]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       1
loan_int_rate                     1
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [54]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0.0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561.0,No,1.0
1,21.0,female,High School,12282.0,0.0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504.0,Yes,0.0
2,25.0,female,High School,12438.0,3.0,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635.0,No,1.0
3,23.0,female,Bachelor,79753.0,0.0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675.0,No,1.0
4,24.0,male,Master,66135.0,1.0,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586.0,No,1.0

In [57]:
df['loan_intent'].fillna(df['loan_intent'].fillna('PERSONAL'), inplace=True)

In [58]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     1
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [59]:
df.drop(['loan_int_rate'], axis=1, inplace=True)

In [60]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [64]:
df.columns

Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score',
       'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encoder=LabelEncoder()

In [26]:
encoder

LabelEncoder()

In [78]:
df['previous_loan_defaults_on_file']=encoder.fit_transform(df['previous_loan_defaults_on_file'])

In [79]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    0
loan_status                       4
dtype: int64

In [81]:
df.nunique()

person_age                           60
person_gender                         2
person_education                      6
person_income                     33936
person_emp_exp                       65
person_home_ownership                 6
loan_amnt                          4486
loan_intent                           9
loan_percent_income                  65
cb_person_cred_hist_length           30
credit_score                        340
previous_loan_defaults_on_file        3
loan_status                           2
dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44933 non-null  float64
 1   person_gender                   44933 non-null  object
 2   person_education                44933 non-null  object
 3   person_income                   44933 non-null  object
 4   person_emp_exp                  44933 non-null  object
 5   person_home_ownership           44933 non-null  object
 6   loan_amnt                       44933 non-null  float64
 7   loan_intent                     44933 non-null  object
 8   loan_percent_income             44930 non-null  float64
 9   cb_person_cred_hist_length      44930 non-null  object
 10  credit_score                    44930 non-null  float64
 11  previous_loan_defaults_on_file  44933 non-null  int64
 12  loan_status                     44929 non-null  float64
dtypes: float64(5), int64(1), object(7)
memory usage: 4.5+ MB

In [83]:
dummies=pd.get_dummies(df['person_gender'],prefix='jins',dtype=int)

In [84]:
dummies

       jins_female  jins_male
0                1          0
1                1          0
2                1          0
3                1          0
4                0          1
...            ...        ...
44928            0          1
44929            1          0
44930            0          1
44931            0          1
44932            0          1

[44933 rows x 2 columns]

In [86]:
df=pd.concat([df.drop(columns=['person_gender']),dummies],axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44933 non-null  float64
 1   person_gender                   44933 non-null  object
 2   person_education                44933 non-null  object
 3   person_income                   44933 non-null  object
 4   person_emp_exp                  44932 non-null  float64
 5   person_home_ownership           44932 non-null  object
 6   loan_amnt                       44932 non-null  float64
 7   loan_intent                     44932 non-null  object
 8   loan_int_rate                   44932 non-null  float64
 9   loan_percent_income             44930 non-null  float64
 10  cb_person_cred_hist_length      44930 non-null  object
 11  credit_score                    44930 non-null  float64
 12  previous_loan_defaults_on_file  44929 non-null  object
 13  loan_status                     44929 non-null  float64
dtypes: float64(7), object(7)
memory usage: 4.8+ MB

In [7]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    1
person_home_ownership             1
loan_amnt                         1
loan_intent                       1
loan_int_rate                     1
loan_percent_income               3
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    4
loan_status                       4
dtype: int64

In [9]:
df.columns

Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

In [14]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8448\1369730691.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8448\1369730691.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [15]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44933 non-null  float64
 1   person_gender                   44933 non-null  object
 2   person_education                44933 non-null  object
 3   person_income                   44933 non-null  object
 4   person_emp_exp                  44933 non-null  float64
 5   person_home_ownership           44933 non-null  object
 6   loan_amnt                       44933 non-null  float64
 7   loan_intent                     44933 non-null  object
 8   loan_int_rate                   44933 non-null  float64
 9   loan_percent_income             44933 non-null  float64
 10  cb_person_cred_hist_length      44933 non-null  object
 11  credit_score                    44933 non-null  float64
 12  previous_loan_defaults_on_file  44933 non-null  object
 13  loan_status                     44933 non-null  float64
dtypes: float64(7), object(7)
memory usage: 4.8+ MB

In [37]:
for col in df.columns:
    if df[col].nunique()<=4:
        dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
        df=pd.concat([df.drop(columns=col),dummies],axis=1)
    else:
        df[col]=encoder.fit_transform(df[col])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44933 entries, 0 to 44932
Data columns (total 67 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   person_age                                44933 non-null  int64
 1   person_education                          44933 non-null  int64
 2   person_income                             44933 non-null  int64
 3   person_emp_exp                            44933 non-null  int64
 4   person_home_ownership                     44933 non-null  int64
 5   loan_amnt                                 44933 non-null  int64
 6   loan_intent                               44933 non-null  int64
 7   loan_int_rate                             44933 non-null  int64
 8   loan_percent_income                       44933 non-null  int64
 9   cb_person_cred_hist_length                44933 non-null  int64
 10  credit_score                              44933 non-null  int64
 11  person_gender_female_0_0_0                44933 non-null  int64
 12  person_gender_female_0_0_1                44933 non-null  int64
 13  person_gender_female_0_1_0                44933 non-null  int64
 14  person_gender_female_0_1_1                44933 non-null  int64
 15  person_gender_female_1_0_0                44933 non-null  int64
 16  person_gender_female_1_0_1                44933 non-null  int64
 17  person_gender_female_1_1_0                44933 non-null  int64
 18  person_gender_female_1_1_1                44933 non-null  int64
 19  person_gender_male_0_0_0                  44933 non-null  int64
 20  person_gender_male_0_0_1                  44933 non-null  int64
 21  person_gender_male_0_1_0                  44933 non-null  int64
 22  person_gender_male_0_1_1                  44933 non-null  int64
 23  person_gender_male_1_0_0                  44933 non-null  int64
 24  person_gender_male_1_0_1                  44933 non-null  int64
 25  person_gender_male_1_1_0                  44933 non-null  int64
 26  person_gender_male_1_1_1                  44933 non-null  int64
 27  previous_loan_defaults_on_file_No_0_0_0   44933 non-null  int64
 28  previous_loan_defaults_on_file_No_0_0_1   44933 non-null  int64
 29  previous_loan_defaults_on_file_No_0_1_0   44933 non-null  int64
 30  previous_loan_defaults_on_file_No_0_1_1   44933 non-null  int64
 31  previous_loan_defaults_on_file_No_1_0_0   44933 non-null  int64
 32  previous_loan_defaults_on_file_No_1_0_1   44933 non-null  int64
 33  previous_loan_defaults_on_file_No_1_1_0   44933 non-null  int64
 34  previous_loan_defaults_on_file_No_1_1_1   44933 non-null  int64
 35  previous_loan_defaults_on_file_Yes_0_0_0  44933 non-null  int64
 36  previous_loan_defaults_on_file_Yes_0_0_1  44933 non-null  int64
 37  previous_loan_defaults_on_file_Yes_0_1_0  44933 non-null  int64
 38  previous_loan_defaults_on_file_Yes_0_1_1  44933 non-null  int64
 39  previous_loan_defaults_on_file_Yes_1_0_0  44933 non-null  int64
 40  previous_loan_defaults_on_file_Yes_1_0_1  44933 non-null  int64
 41  previous_loan_defaults_on_file_Yes_1_1_0  44933 non-null  int64
 42  previous_loan_defaults_on_file_Yes_1_1_1  44933 non-null  int64
 43  loan_status_0.0_0_0_0                     44933 non-null  int64
 44  loan_status_0.0_0_0_1                     44933 non-null  int64
 45  loan_status_0.0_0_1_0                     44933 non-null  int64
 46  loan_status_0.0_0_1_1                     44933 non-null  int64
 47  loan_status_0.0_1_0_0                     44933 non-null  int64
 48  loan_status_0.0_1_0_1                     44933 non-null  int64
 49  loan_status_0.0_1_1_0                     44933 non-null  int64
 50  loan_status_0.0_1_1_1                     44933 non-null  int64
 51  loan_status_0.22168310000222574_0_0_0     44933 non-null  int64
 52  loan_status_0.22168310000222574_0_0_1     44933 non-null  int64
 53  loan_status_0.22168310000222574_0_1_0     44933 non-null  int64
 54  loan_status_0.22168310000222574_0_1_1     44933 non-null  int64
 55  loan_status_0.22168310000222574_1_0_0     44933 non-null  int64
 56  loan_status_0.22168310000222574_1_0_1     44933 non-null  int64
 57  loan_status_0.22168310000222574_1_1_0     44933 non-null  int64
 58  loan_status_0.22168310000222574_1_1_1     44933 non-null  int64
 59  loan_status_1.0_0_0_0                     44933 non-null  int64
 60  loan_status_1.0_0_0_1                     44933 non-null  int64
 61  loan_status_1.0_0_1_0                     44933 non-null  int64
 62  loan_status_1.0_0_1_1                     44933 non-null  int64
 63  loan_status_1.0_1_0_0                     44933 non-null  int64
 64  loan_status_1.0_1_0_1                     44933 non-null  int64
 65  loan_status_1.0_1_1_0                     44933 non-null  int64
 66  loan_status_1.0_1_1_1                     44933 non-null  int64
dtypes: int64(67)
memory usage: 23.0 MB