In [73]:
import pandas as pd

df = pd.read_csv("./../Data/bundesliga_player.csv")
df.head()

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter
0,0,Manuel Neuer,Manuel Peter Neuer,37,1.93,Germany,Gelsenkirchen,7.0,45.0,Goalkeeper,1,right,Bayern Munich,2024-06-30,2011-07-01,PRO Profil GmbH,adidas
1,1,Yann Sommer,NaN,34,1.83,Switzerland,Morges,5.0,13.0,Goalkeeper,27,right,Bayern Munich,2025-06-30,2023-01-19,Relatives,Puma
2,2,Sven Ulreich,NaN,34,1.92,Germany,Schorndorf,0.9,6.0,Goalkeeper,26,right,Bayern Munich,2024-06-30,2021-07-01,BMS Sportconsulting ...,adidas
3,3,Johannes Schenk,NaN,20,1.91,Germany,Schweinfurt,0.3,0.3,Goalkeeper,35,NaN,Bayern Munich,2024-06-30,2022-07-01,11WINS,NaN
4,4,Matthijs de Ligt,NaN,23,1.89,Netherlands,Leiderdorp,75.0,75.0,Defender - Centre-Back,4,right,Bayern Munich,2027-06-30,2022-07-19,Rafaela Pimenta,adidas

In [74]:
df.isnull().sum()

Unnamed: 0            0
name                  0
full_name           287
age                   0
height                0
nationality           0
place_of_birth        5
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

In [75]:
# dtop 50% dan kop bosh joylar bolsa ochirish uchun ishlatiladi 
# coulumn gu 열 row 행 

df.drop(["full_name", "outfitter", "player_agent"], axis=1, inplace=True)
df.isnull().sum()

Unnamed: 0           0
name                 0
age                  0
height               0
nationality          0
place_of_birth       5
price                5
max_price            5
position             0
shirt_nr             0
foot                 9
club                 0
contract_expires    34
joined_club          0
dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   age               515 non-null    int64
 3   height            515 non-null    float64
 4   nationality       515 non-null    object
 5   place_of_birth    510 non-null    object
 6   price             510 non-null    float64
 7   max_price         510 non-null    float64
 8   position          515 non-null    object
 9   shirt_nr          515 non-null    int64
 10  foot              506 non-null    object
 11  club              515 non-null    object
 12  contract_expires  481 non-null    object
 13  joined_club       515 non-null    object
dtypes: float64(3), int64(3), object(8)
memory usage: 56.5+ KB

In [77]:
# 필요없는 컬럼 삭제
df.drop("Unnamed: 0", axis=1, inplace=True)

# 문자 → mode
df["place_of_birth"].fillna(df["place_of_birth"].mode()[0], inplace=True)
df["foot"].fillna(df["foot"].mode()[0], inplace=True)
df["contract_expires"].fillna(df["contract_expires"].mode()[0], inplace=True)

# 가격 → median
df["price"].fillna(df["price"].median(), inplace=True)
df["max_price"].fillna(df["max_price"].median(), inplace=True)

# 확인
df.isnull().sum()

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_11171/3231004092.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["place_of_birth"].fillna(df["place_of_birth"].mode()[0], inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_11171/3231004092.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["foot"].fillna(df["foot"].mode()[0], inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_11171/3231004092.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["contract_expires"].fillna(df["contract_expires"].mode()[0], inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_11171/3231004092.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["price"].fillna(df["price"].median(), inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_11171/3231004092.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["max_price"].fillna(df["max_price"].median(), inplace=True)

name                0
age                 0
height              0
nationality         0
place_of_birth      0
price               0
max_price           0
position            0
shirt_nr            0
foot                0
club                0
contract_expires    0
joined_club         0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              515 non-null    object
 1   age               515 non-null    int64
 2   height            515 non-null    float64
 3   nationality       515 non-null    object
 4   place_of_birth    515 non-null    object
 5   price             515 non-null    float64
 6   max_price         515 non-null    float64
 7   position          515 non-null    object
 8   shirt_nr          515 non-null    int64
 9   foot              515 non-null    object
 10  club              515 non-null    object
 11  contract_expires  515 non-null    object
 12  joined_club       515 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 52.4+ KB

## Encoding asosan objectlar uchun ishledi Label encoding

In [ ]:
# aynan bizga kerakli joyini chaqirib olamiz
from sklearn.preprocessing import LabelEncoder

# encoder ichiga solamiz

encoder = LabelEncoder()
# faqat objectlar uchun ishledi
"""
name
nationality
place_of_birth
position
foot
club
contract_expires
joined_club
"""

In [80]:
df["name"] = encoder.fit_transform(df["name"])
df["nationality"] = encoder.fit_transform(df["nationality"])
df["place_of_birth"] = encoder.fit_transform(df["place_of_birth"])
df["position"] = encoder.fit_transform(df["position"])
df["foot"] = encoder.fit_transform(df["foot"])
df["club"] = encoder.fit_transform(df["club"])
df["contract_expires"] = encoder.fit_transform(df["contract_expires"])
df["joined_club"] = encoder.fit_transform(df["joined_club"])

In [84]:
df.head()

,name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club
0,285,37,1.93,55,114,7.0,45.0,7,1,2,6,1,3
1,506,34,1.83,130,217,5.0,13.0,7,27,2,6,2,184
2,465,34,1.92,55,278,0.9,6.0,7,26,2,6,1,93
3,182,20,1.91,55,279,0.3,0.3,7,35,2,6,1,135
4,314,23,1.89,107,172,75.0,75.0,4,4,2,6,4,148

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              515 non-null    int64
 1   age               515 non-null    int64
 2   height            515 non-null    float64
 3   nationality       515 non-null    int64
 4   place_of_birth    515 non-null    int64
 5   price             515 non-null    float64
 6   max_price         515 non-null    float64
 7   position          515 non-null    int64
 8   shirt_nr          515 non-null    int64
 9   foot              515 non-null    int64
 10  club              515 non-null    int64
 11  contract_expires  515 non-null    int64
 12  joined_club       515 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 52.4 KB

# 끝