In [19]:
import pandas as pd
df = pd.read_csv("./../Data/법무부_외국인체류데이터_20241231.csv", encoding='euc-kr')
df2 =pd.read_csv('./../Data/titanic.csv')
df3 = pd.read_csv('./../Data/iris.csv')
df4 = pd.read_csv('./../Data/housing.csv')

In [20]:
df4.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [21]:
df4.isnull().sum()

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [22]:
df.tail()

,대륙,국적,성별,D1(문화예술),D2(유학),D3(기술연수),D4(일반연수),D5(취재),D6(종교),D7(주재),...,E10(선원취업),F1(방문동거),F2(거주),F3(동반),F5(영주),F6(결혼이민),G1(기타),H1(관광취업),H2(방문취업),기타(Other)
375,아프리카주,코모로,남성,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
376,아프리카주,카보베르데,여성,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,아프리카주,세이셸,남성,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
378,기타,기타,남성,0,3,0,1,0,1,0,...,0,30,17,2,1,6,13,0,0,18
379,기타,기타,여성,0,1,0,0,0,0,0,...,0,45,14,1,2,7,13,0,0,8

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대륙         380 non-null    object
 1   국적         380 non-null    object
 2   성별         380 non-null    object
 3   D1(문화예술)   380 non-null    int64
 4   D2(유학)     380 non-null    int64
 5   D3(기술연수)   380 non-null    int64
 6   D4(일반연수)   380 non-null    int64
 7   D5(취재)     380 non-null    int64
 8   D6(종교)     380 non-null    int64
 9   D7(주재)     380 non-null    int64
 10  D8(기업투자)   380 non-null    int64
 11  D9(무역경영)   380 non-null    int64
 12  D10(구직)    380 non-null    int64
 13  E1(교수)     380 non-null    int64
 14  E2(회화)     380 non-null    int64
 15  E3(연구)     380 non-null    int64
 16  E4(기술지도)   380 non-null    int64
 17  E5(전문직업)   380 non-null    int64
 18  E6(예술흥행)   380 non-null    int64
 19  E7(특정활동)   380 non-null    int64
 20  E8(계절근로)   380 non-null    int64
 21  E9(비전문취업)  380 non-null    int64
 22  E10(선원취업)  380 non-null    int64
 23  F1(방문동거)   380 non-null    int64
 24  F2(거주)     380 non-null    int64
 25  F3(동반)     380 non-null    int64
 26  F5(영주)     380 non-null    int64
 27  F6(결혼이민)   380 non-null    int64
 28  G1(기타)     380 non-null    int64
 29  H1(관광취업)   380 non-null    int64
 30  H2(방문취업)   380 non-null    int64
 31  기타(Other)  380 non-null    int64
dtypes: int64(29), object(3)
memory usage: 95.1+ KB