# Mid Term Python coding savollar

In [1]:
# 1. Agar berilgan son 2 ga bo’linsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

berilgan_son = int(input("Istalgan son kiriting: "))

if berilgan_son % 2 == 0: 
    print('Yaxshi')
else: 
    print('Yomon')

Yomon

In [2]:
# 2. Agar berilgan son musbat bo’lsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?
berilgan_son = int(input("Istalgan son kiriting: "))

if berilgan_son > 0: 
    print('Yaxshi')
else: 
    print('Yomon')

Yomon

In [7]:
# 3. Agar berilgan 5 ga va 3 ga bolinsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?
berilgan_son = int(input("Istalgan son kiriting: "))

if berilgan_son % 3 == 0 and berilgan_son % 5 == 0: 
    print('Yaxshi')
else: 
    print('Yomon')

Yaxshi

In [9]:
# 4. Agar berilgan so’zning bosh xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 
berilgan_soz = input("Istalgan so'z kiriting: ")

if berilgan_soz[0] == 'a': 
    print('Yaxshi')
else: 
    print('Yomon')

Yomon

In [10]:
# 5. Agar berilgan so’zning oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 
berilgan_soz = input("Istalgan so'z kiriting: ")

if berilgan_soz[-1] == 'a': 
    print('Yaxshi')
else: 
    print('Yomon')

Yaxshi

In [13]:
# 6. Agar berilgan so’zning bosh xarfi ‘b’ va oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 
berilgan_soz = input("Istalgan so'z kiriting: ")

if berilgan_soz[0] == 'b' and berilgan_soz[-1] == 'a': 
    print('Yaxshi')
else: 
    print('Yomon')

Yaxshi

In [19]:
# 7. Berilgan sonning musbat ekanligini isbotlang
son = int(input('Berilgan son: '))

if son > 0: 
    print(f'{son} -musbat')
elif son == 0:
    print(f'{son} -na musbat va na manfiy; {son} neytral son')
else:
    print(f'{son} -musbat emas')

0 -na musbat va na manfiy; 0 neytral son

In [16]:
# 8. Berilgan sonning manfiy ekanligini isbotlang
son = int(input('Berilgan son: '))

if son < 0: 
    print(f'{son} -manfiy')
elif son == 0:
    print(f'{son} -na musbat va na manfiy; {son} neytral son')
else:
    print(f'{son} -manfiy emas')

5 manfiy emas

In [20]:
# Berilgan sonning 0 ekanligini isbotlang 
son = int(input('Berilgan son: '))

if son == 0: 
    print(f'{son} ga teng')
else:
    print(f'{son}, 0 emas!')

0 ga teng

In [ ]:
# Berilgan sonni 2 ga bo'lisnishini isbotlang 

son = int(input('Berilgan son: '))

if son % 2 == 0: 
    print("Son 2 ga bo'linadi")
else:
    print("Son 2 ga bo'linmaydi")

# ML bo'yicha

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('employee_attrition_performance.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                9942 non-null   object
 1   age                        9983 non-null   object
 2   gender                     9829 non-null   object
 3   education                  9921 non-null   object
 4   department                 9865 non-null   object
 5   job_role                   9821 non-null   object
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          9725 non-null   object
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   9518 non-null   object
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         9251 non-null   object
 19  relationship_satisfaction  9193 non-null   float64
 20  environment_satisfaction   9193 non-null   float64
 21  attrition                  9302 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.7+ MB

In [24]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    807
environment_satisfaction     807
attrition                    698
dtype: int64

In [25]:
# Mean orqali to'ldiring 
df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].mean(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1349/3861222531.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].mean(), inplace=True)

In [26]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     482
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction     807
attrition                    698
dtype: int64

In [28]:
# Mode orqali to'ldiring 
df['overtime'].fillna(df['overtime'].mode()[0], inplace=True)

In [29]:
# Son orqali tushib qolgan qiymatlarni topish 
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                       0
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction     807
attrition                    698
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                9942 non-null   object
 1   age                        9983 non-null   object
 2   gender                     9829 non-null   object
 3   education                  9921 non-null   object
 4   department                 9865 non-null   object
 5   job_role                   9821 non-null   object
 6   monthly_salary             9844 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          9725 non-null   object
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   10000 non-null  object
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         9251 non-null   object
 19  relationship_satisfaction  10000 non-null  float64
 20  environment_satisfaction   9193 non-null   float64
 21  attrition                  9302 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.7+ MB

In [31]:
# Median orqali to'ldiring 
df['environment_satisfaction'].fillna(df['environment_satisfaction'].median(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_1349/796649479.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['environment_satisfaction'].fillna(df['environment_satisfaction'].median(), inplace=True)

In [33]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                       0
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction       0
attrition                    698
dtype: int64

In [34]:
# Fixed qiymat bilan to'ldiring --> Bu qo'lda to'ldirish usuli (oldin ko'rgan bo'lishi kerak yoki shu soxadan habari bo'lishi kerak)
df['attrition'].fillna('Yes', inplace=True)

In [36]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                       0
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction       0
attrition                      0
dtype: int64

In [37]:
# Istalgan ustunni tashlab yuboring 
df.drop('stock_option_level', axis=1, inplace=True)  # ustunda juda ko'p qiymatlar tushib qolganda sunilikdan qochish uchun ustunnni tashlab yuborish usuli

In [38]:
df.isnull().sum()

employee_id                   58
age                           17
gender                       171
education                     79
department                   135
job_role                     179
monthly_salary               156
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                       0
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
relationship_satisfaction      0
environment_satisfaction       0
attrition                      0
dtype: int64

In [39]:
# Qatorlar bo'yicha to'ldiring 
df.dropna(inplace=True)

In [40]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
performance_score            0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64