# Data bn tanishuv

In [1]:
import pandas as pd
df=pd.read_csv('animal_health_incidents.csv')

In [2]:
df.head()

,report_id,country,region,date_reported,species,disease,confirmed_cases,deaths,outbreak_status,notes,source,latitude,longitude
0,7cda1a50-2034-4b9a-b356-6219c91c13e1,Mongolia,NaN,2022-03-08,Unknown,Peste des petits ruminants virus (Inf. with),0,0,Resolved,First occurrence in a zone or a compartment,https://wahis.woah.org,NaN,NaN
1,90e92d52-100a-46e8-9e00-27c3a0eec95f,Niger,NaN,2022-03-08,Unknown,Rift Valley fever virus (Inf. with),0,0,Resolved,Recurrence of an eradicated disease,https://wahis.woah.org,NaN,NaN
2,e6845074-51c6-4f05-adb7-c154ba203999,Israel,NaN,2022-03-06,Poultry,High pathogenicity avian influenza viruses (po...,0,0,Resolved,Recurrence of an eradicated disease,https://wahis.woah.org,NaN,NaN
3,5ee290fe-e077-4fbb-afe7-924cfbbc5269,Kazakhstan,NaN,2022-03-04,Cattle,Foot and mouth disease virus (Inf. with),0,0,Resolved,Recurrence of an eradicated disease,https://wahis.woah.org,NaN,NaN
4,e9ca57c8-6e8e-4219-89ea-493cb1b1c6d6,China (People's Rep. of),NaN,2022-03-04,Unknown,Burkholderia mallei (Inf. with) (Glanders),0,0,Resolved,First occurrence in the country,https://wahis.woah.org,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5579 entries, 0 to 5578
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   report_id        5579 non-null   object
 1   country          5579 non-null   object
 2   region           0 non-null      float64
 3   date_reported    5579 non-null   object
 4   species          5579 non-null   object
 5   disease          5579 non-null   object
 6   confirmed_cases  5579 non-null   int64
 7   deaths           5579 non-null   int64
 8   outbreak_status  5579 non-null   object
 9   notes            5579 non-null   object
 10  source           5579 non-null   object
 11  latitude         0 non-null      float64
 12  longitude        0 non-null      float64
dtypes: float64(3), int64(2), object(8)
memory usage: 566.7+ KB

In [8]:
#keraksiz ustunlarni tashlab yuborish
df.drop('region',axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5579 entries, 0 to 5578
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   report_id        5579 non-null   object
 1   country          5579 non-null   object
 2   date_reported    5579 non-null   object
 3   species          5579 non-null   object
 4   disease          5579 non-null   object
 5   confirmed_cases  5579 non-null   int64
 6   deaths           5579 non-null   int64
 7   outbreak_status  5579 non-null   object
 8   notes            5579 non-null   object
 9   source           5579 non-null   object
 10  latitude         0 non-null      float64
 11  longitude        0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 523.2+ KB

In [18]:
df.drop('latitude','longitude',axis=1,inplace=True)

TypeError: DataFrame.drop() takes from 1 to 2 positional arguments but 3 positional arguments (and 2 keyword-only arguments) were given

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5579 entries, 0 to 5578
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   report_id        5579 non-null   object
 1   country          5579 non-null   object
 2   region           0 non-null      float64
 3   date_reported    5579 non-null   object
 4   species          5579 non-null   object
 5   disease          5579 non-null   object
 6   confirmed_cases  5579 non-null   int64
 7   deaths           5579 non-null   int64
 8   outbreak_status  5579 non-null   object
 9   notes            5579 non-null   object
 10  source           5579 non-null   object
 11  longitude        0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 523.2+ KB

In [9]:
import pandas as pd

In [13]:
df=pd.read_csv('animal_health_incidents.csv')

In [21]:
df.drop('longitude',axis=1,inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5579 entries, 0 to 5578
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   report_id        5579 non-null   object
 1   country          5579 non-null   object
 2   region           0 non-null      float64
 3   date_reported    5579 non-null   object
 4   species          5579 non-null   object
 5   disease          5579 non-null   object
 6   confirmed_cases  5579 non-null   int64
 7   deaths           5579 non-null   int64
 8   outbreak_status  5579 non-null   object
 9   notes            5579 non-null   object
 10  source           5579 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 479.6+ KB

In [23]:
df.drop('region',disease, axis=1,inplaces=True)

NameError: name 'disease' is not defined

In [28]:
df = pd.read_csv(
    r"C:\Users\User\Desktop\global_cattle_disease_detection_dataset.csv"
)

In [32]:
df = pd.read_csv('Training.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044 entries, 0 to 2043
Data columns (total 94 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   anorexia                2044 non-null   int64
 1   abdominal_pain          2044 non-null   int64
 2   anaemia                 2044 non-null   int64
 3   abortions               2044 non-null   int64
 4   acetone                 2044 non-null   int64
 5   aggression              2044 non-null   int64
 6   arthrogyposis           2044 non-null   int64
 7   ankylosis               2044 non-null   int64
 8   anxiety                 2044 non-null   int64
 9   bellowing               2044 non-null   int64
 10  blood_loss              2044 non-null   int64
 11  blood_poisoning         2044 non-null   int64
 12  blisters                2044 non-null   int64
 13  colic                   2044 non-null   int64
 14  Condemnation_of_livers  2044 non-null   int64
 15  conjunctivae            2044 non-null   int64
 16  coughing                2044 non-null   int64
 17  depression              2044 non-null   int64
 18  discomfort              2044 non-null   int64
 19  dyspnea                 2044 non-null   int64
 20  dysentery               2044 non-null   int64
 21  diarrhoea               2044 non-null   int64
 22  dehydration             2044 non-null   int64
 23  drooling                2044 non-null   int64
 24  dull                    2044 non-null   int64
 25  decreased_fertility     2044 non-null   int64
 26  diffculty_breath        2044 non-null   int64
 27  emaciation              2044 non-null   int64
 28  encephalitis            2044 non-null   int64
 29  fever                   2044 non-null   int64
 30  facial_paralysis        2044 non-null   int64
 31  frothing_of_mouth       2044 non-null   int64
 32  frothing                2044 non-null   int64
 33  gaseous_stomach         2044 non-null   int64
 34  highly_diarrhoea        2044 non-null   int64
 35  high_pulse_rate         2044 non-null   int64
 36  high_temp               2044 non-null   int64
 37  high_proportion         2044 non-null   int64
 38  hyperaemia              2044 non-null   int64
 39  hydrocephalus           2044 non-null   int64
 40  isolation_from_herd     2044 non-null   int64
 41  infertility             2044 non-null   int64
 42  intermittent_fever      2044 non-null   int64
 43  jaundice                2044 non-null   int64
 44  ketosis                 2044 non-null   int64
 45  loss_of_appetite        2044 non-null   int64
 46  lameness                2044 non-null   int64
 47  lack_of-coordination    2044 non-null   int64
 48  lethargy                2044 non-null   int64
 49  lacrimation             2044 non-null   int64
 50  milk_flakes             2044 non-null   int64
 51  milk_watery             2044 non-null   int64
 52  milk_clots              2044 non-null   int64
 53  mild_diarrhoea          2044 non-null   int64
 54  moaning                 2044 non-null   int64
 55  mucosal_lesions         2044 non-null   int64
 56  milk_fever              2044 non-null   int64
 57  nausea                  2044 non-null   int64
 58  nasel_discharges        2044 non-null   int64
 59  oedema                  2044 non-null   int64
 60  pain                    2044 non-null   int64
 61  painful_tongue          2044 non-null   int64
 62  pneumonia               2044 non-null   int64
 63  photo_sensitization     2044 non-null   int64
 64  quivering_lips          2044 non-null   int64
 65  reduction_milk_vields   2044 non-null   int64
 66  rapid_breathing         2044 non-null   int64
 67  rumenstasis             2044 non-null   int64
 68  reduced_rumination      2044 non-null   int64
 69  reduced_fertility       2044 non-null   int64
 70  reduced_fat             2044 non-null   int64
 71  reduces_feed_intake     2044 non-null   int64
 72  raised_breathing        2044 non-null   int64
 73  stomach_pain            2044 non-null   int64
 74  salivation              2044 non-null   int64
 75  stillbirths             2044 non-null   int64
 76  shallow_breathing       2044 non-null   int64
 77  swollen_pharyngeal      2044 non-null   int64
 78  swelling                2044 non-null   int64
 79  saliva                  2044 non-null   int64
 80  swollen_tongue          2044 non-null   int64
 81  tachycardia             2044 non-null   int64
 82  torticollis             2044 non-null   int64
 83  udder_swelling          2044 non-null   int64
 84  udder_heat              2044 non-null   int64
 85  udder_hardeness         2044 non-null   int64
 86  udder_redness           2044 non-null   int64
 87  udder_pain              2044 non-null   int64
 88  unwillingness_to_move   2044 non-null   int64
 89  ulcers                  2044 non-null   int64
 90  vomiting                2044 non-null   int64
 91  weight_loss             2044 non-null   int64
 92  weakness                2044 non-null   int64
 93  prognosis               2044 non-null   object
dtypes: int64(93), object(1)
memory usage: 1.5+ MB

In [6]:
df = pd.read_csv('abp_accel.csv.zip')

In [5]:
import pandas as pd

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14595853 entries, 0 to 14595852
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  object
 1   x          int64
 2   y          int64
 3   z          int64
dtypes: int64(3), object(1)
memory usage: 445.4+ MB

In [8]:
df.notnull().sum()

timestamp    14595853
x            14595853
y            14595853
z            14595853
dtype: int64

In [10]:
df=pd.read_csv('hormones_and_health.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Official tag             238 non-null    object
 1   Farmlet                  238 non-null    object
 2   Breed                    238 non-null    object
 3   Sex                      238 non-null    object
 4   Date of birth            238 non-null    object
 5   Timepoint                238 non-null    object
 6   Measurement_date         238 non-null    object
 7   Hair_cortisol            219 non-null    float64
 8   Nasal_swab_cortisol      220 non-null    float64
 9   Hair_serotonin           218 non-null    float64
 10  Swab_serotonin           220 non-null    float64
 11  Cleanliness              218 non-null    float64
 12  Hairlessness_head_neck   218 non-null    float64
 13  Hairlessness_body        218 non-null    float64
 14  Hairlessness_front_legs  218 non-null    float64
 15  Hairlessness_back_legs   218 non-null    float64
 16  Swellings_head_neck      218 non-null    float64
 17  Swellings_body           218 non-null    float64
 18  Swellings_front_legs     218 non-null    float64
 19  Swellings_back_legs      218 non-null    float64
 20  Ocular_discharge         218 non-null    float64
 21  Nasal_discharge          218 non-null    float64
 22  Diarrhoea                218 non-null    float64
 23  Lameness                 218 non-null    float64
 24  Lesions                  218 non-null    float64
 25  BCS                      218 non-null    float64
dtypes: float64(19), object(7)
memory usage: 48.5+ KB

In [12]:
df.head()

,Official tag,Farmlet,Breed,Sex,Date of birth,Timepoint,Measurement_date,Hair_cortisol,Nasal_swab_cortisol,Hair_serotonin,...,Swellings_head_neck,Swellings_body,Swellings_front_legs,Swellings_back_legs,Ocular_discharge,Nasal_discharge,Diarrhoea,Lameness,Lesions,BCS
0,UK 362735 302064,Green,ST,F,2020-01-26,Winter 1,2020-11-06,3.140567,3.248218,1.260673,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
1,UK 362735 302064,Green,ST,F,2020-01-26,Winter 2,2021-02-16,1.347002,5.003318,5.040837,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
2,UK 362735 302064,Green,ST,F,2020-01-26,Summer 1,2021-05-12,5.735847,8.102456,0.657094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,UK 362735 302064,Green,ST,F,2020-01-26,Summer 2,2021-06-20,5.584873,1.653106,0.127671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,UK 362735 602067,Brown,ST,M,2020-02-07,Winter 1,2020-11-06,3.986744,2.528415,2.294466,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,3.0

In [14]:
df.drop('Official tag',axis=1,inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Farmlet                  238 non-null    object
 1   Breed                    238 non-null    object
 2   Sex                      238 non-null    object
 3   Date of birth            238 non-null    object
 4   Timepoint                238 non-null    object
 5   Measurement_date         238 non-null    object
 6   Hair_cortisol            219 non-null    float64
 7   Nasal_swab_cortisol      220 non-null    float64
 8   Hair_serotonin           218 non-null    float64
 9   Swab_serotonin           220 non-null    float64
 10  Cleanliness              218 non-null    float64
 11  Hairlessness_head_neck   218 non-null    float64
 12  Hairlessness_body        218 non-null    float64
 13  Hairlessness_front_legs  218 non-null    float64
 14  Hairlessness_back_legs   218 non-null    float64
 15  Swellings_head_neck      218 non-null    float64
 16  Swellings_body           218 non-null    float64
 17  Swellings_front_legs     218 non-null    float64
 18  Swellings_back_legs      218 non-null    float64
 19  Ocular_discharge         218 non-null    float64
 20  Nasal_discharge          218 non-null    float64
 21  Diarrhoea                218 non-null    float64
 22  Lameness                 218 non-null    float64
 23  Lesions                  218 non-null    float64
 24  BCS                      218 non-null    float64
dtypes: float64(19), object(6)
memory usage: 46.6+ KB

In [16]:
df.isnull().sum()

Farmlet                     0
Breed                       0
Sex                         0
Date of birth               0
Timepoint                   0
Measurement_date            0
Hair_cortisol              19
Nasal_swab_cortisol        18
Hair_serotonin             20
Swab_serotonin             18
Cleanliness                20
Hairlessness_head_neck     20
Hairlessness_body          20
Hairlessness_front_legs    20
Hairlessness_back_legs     20
Swellings_head_neck        20
Swellings_body             20
Swellings_front_legs       20
Swellings_back_legs        20
Ocular_discharge           20
Nasal_discharge            20
Diarrhoea                  20
Lameness                   20
Lesions                    20
BCS                        20
dtype: int64

# Mean

In [20]:
df['Hair_cortisol'].fillna(df['Hair_cortisol'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12744\292364376.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Hair_cortisol'].fillna(df['Hair_cortisol'].mean(),inplace=True)

In [21]:
df.isnull().sum()

Farmlet                     0
Breed                       0
Sex                         0
Date of birth               0
Timepoint                   0
Measurement_date            0
Hair_cortisol               0
Nasal_swab_cortisol        18
Hair_serotonin             20
Swab_serotonin             18
Cleanliness                20
Hairlessness_head_neck     20
Hairlessness_body          20
Hairlessness_front_legs    20
Hairlessness_back_legs     20
Swellings_head_neck        20
Swellings_body             20
Swellings_front_legs       20
Swellings_back_legs        20
Ocular_discharge           20
Nasal_discharge            20
Diarrhoea                  20
Lameness                   20
Lesions                    20
BCS                        20
dtype: int64

# Mode

In [23]:
df['Nasal_swab_cortisol'].fillna(df['Nasal_swab_cortisol'].mode()[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12744\1412000771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Nasal_swab_cortisol'].fillna(df['Nasal_swab_cortisol'].mode()[0],inplace=True)

In [24]:
df.isnull().sum()

Farmlet                     0
Breed                       0
Sex                         0
Date of birth               0
Timepoint                   0
Measurement_date            0
Hair_cortisol               0
Nasal_swab_cortisol         0
Hair_serotonin             20
Swab_serotonin             18
Cleanliness                20
Hairlessness_head_neck     20
Hairlessness_body          20
Hairlessness_front_legs    20
Hairlessness_back_legs     20
Swellings_head_neck        20
Swellings_body             20
Swellings_front_legs       20
Swellings_back_legs        20
Ocular_discharge           20
Nasal_discharge            20
Diarrhoea                  20
Lameness                   20
Lesions                    20
BCS                        20
dtype: int64

# Median

In [25]:
df['Hair_serotonin'].fillna(df['Hair_serotonin'].median(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12744\3464847105.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Hair_serotonin'].fillna(df['Hair_serotonin'].median(),inplace=True)

In [26]:
df.isnull().sum()

Farmlet                     0
Breed                       0
Sex                         0
Date of birth               0
Timepoint                   0
Measurement_date            0
Hair_cortisol               0
Nasal_swab_cortisol         0
Hair_serotonin              0
Swab_serotonin             18
Cleanliness                20
Hairlessness_head_neck     20
Hairlessness_body          20
Hairlessness_front_legs    20
Hairlessness_back_legs     20
Swellings_head_neck        20
Swellings_body             20
Swellings_front_legs       20
Swellings_back_legs        20
Ocular_discharge           20
Nasal_discharge            20
Diarrhoea                  20
Lameness                   20
Lesions                    20
BCS                        20
dtype: int64

In [27]:
df.describe()

,Hair_cortisol,Nasal_swab_cortisol,Hair_serotonin,Swab_serotonin,Cleanliness,Hairlessness_head_neck,Hairlessness_body,Hairlessness_front_legs,Hairlessness_back_legs,Swellings_head_neck,Swellings_body,Swellings_front_legs,Swellings_back_legs,Ocular_discharge,Nasal_discharge,Diarrhoea,Lameness,Lesions,BCS
count,238.000000,238.000000,238.000000,220.000000,218.000000,218.000000,218.000000,218.0,218.000000,218.000000,218.0,218.0,218.0,218.000000,218.000000,218.000000,218.0,218.000000,218.000000
mean,2.242226,4.012284,1.628781,49.087556,1.119266,0.155963,0.330275,0.0,0.036697,0.009174,0.0,0.0,0.0,0.110092,0.587156,0.935780,0.0,0.009174,3.380734
std,1.214024,2.729160,1.799080,34.356006,0.855718,0.537520,0.744319,0.0,0.269035,0.135457,0.0,0.0,0.0,0.457189,0.912898,1.000233,0.0,0.135457,0.789911
min,0.051802,0.490638,0.000000,0.724929,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.000000
25%,1.336790,2.127639,0.591374,28.938979,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,3.000000
50%,2.141225,3.361608,1.019113,38.852958,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,3.000000
75%,2.857764,4.832653,1.885433,60.156137,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,2.000000,2.000000,0.0,0.000000,3.750000
max,6.731570,17.619900,10.751471,330.335821,2.000000,2.000000,2.000000,0.0,2.000000,2.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,0.0,2.000000,5.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Farmlet                  238 non-null    object
 1   Breed                    238 non-null    object
 2   Sex                      238 non-null    object
 3   Date of birth            238 non-null    object
 4   Timepoint                238 non-null    object
 5   Measurement_date         238 non-null    object
 6   Hair_cortisol            238 non-null    float64
 7   Nasal_swab_cortisol      238 non-null    float64
 8   Hair_serotonin           238 non-null    float64
 9   Swab_serotonin           220 non-null    float64
 10  Cleanliness              218 non-null    float64
 11  Hairlessness_head_neck   218 non-null    float64
 12  Hairlessness_body        218 non-null    float64
 13  Hairlessness_front_legs  218 non-null    float64
 14  Hairlessness_back_legs   218 non-null    float64
 15  Swellings_head_neck      218 non-null    float64
 16  Swellings_body           218 non-null    float64
 17  Swellings_front_legs     218 non-null    float64
 18  Swellings_back_legs      218 non-null    float64
 19  Ocular_discharge         218 non-null    float64
 20  Nasal_discharge          218 non-null    float64
 21  Diarrhoea                218 non-null    float64
 22  Lameness                 218 non-null    float64
 23  Lesions                  218 non-null    float64
 24  BCS                      218 non-null    float64
dtypes: float64(19), object(6)
memory usage: 46.6+ KB

In [29]:
df.head()

,Farmlet,Breed,Sex,Date of birth,Timepoint,Measurement_date,Hair_cortisol,Nasal_swab_cortisol,Hair_serotonin,Swab_serotonin,...,Swellings_head_neck,Swellings_body,Swellings_front_legs,Swellings_back_legs,Ocular_discharge,Nasal_discharge,Diarrhoea,Lameness,Lesions,BCS
0,Green,ST,F,2020-01-26,Winter 1,2020-11-06,3.140567,3.248218,1.260673,46.375567,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
1,Green,ST,F,2020-01-26,Winter 2,2021-02-16,1.347002,5.003318,5.040837,26.312217,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
2,Green,ST,F,2020-01-26,Summer 1,2021-05-12,5.735847,8.102456,0.657094,64.631579,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,Green,ST,F,2020-01-26,Summer 2,2021-06-20,5.584873,1.653106,0.127671,24.683313,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,Brown,ST,M,2020-02-07,Winter 1,2020-11-06,3.986744,2.528415,2.294466,63.524590,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,3.0

# Fixed

In [30]:
df['Swab_serotonin'].fillna('2.528415',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12744\2309970306.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Swab_serotonin'].fillna('2.528415',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12744\2309970306.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.528415' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Swab_serotonin'].fillna('2.528415',inplace=True)

In [31]:
df.isnull().sum()

Farmlet                     0
Breed                       0
Sex                         0
Date of birth               0
Timepoint                   0
Measurement_date            0
Hair_cortisol               0
Nasal_swab_cortisol         0
Hair_serotonin              0
Swab_serotonin              0
Cleanliness                20
Hairlessness_head_neck     20
Hairlessness_body          20
Hairlessness_front_legs    20
Hairlessness_back_legs     20
Swellings_head_neck        20
Swellings_body             20
Swellings_front_legs       20
Swellings_back_legs        20
Ocular_discharge           20
Nasal_discharge            20
Diarrhoea                  20
Lameness                   20
Lesions                    20
BCS                        20
dtype: int64

# drop qatorlar boyicha

In [32]:
df.dropna(inplace=True)

In [33]:
df.isnull().sum()

Farmlet                    0
Breed                      0
Sex                        0
Date of birth              0
Timepoint                  0
Measurement_date           0
Hair_cortisol              0
Nasal_swab_cortisol        0
Hair_serotonin             0
Swab_serotonin             0
Cleanliness                0
Hairlessness_head_neck     0
Hairlessness_body          0
Hairlessness_front_legs    0
Hairlessness_back_legs     0
Swellings_head_neck        0
Swellings_body             0
Swellings_front_legs       0
Swellings_back_legs        0
Ocular_discharge           0
Nasal_discharge            0
Diarrhoea                  0
Lameness                   0
Lesions                    0
BCS                        0
dtype: int64

# drop ustun boyicha, malum bir ustunda juda kop(50% dan kop) qiymatlar tushib qolganda tashlab yuboramiz bu usutunni butunlay

In [34]:
df.drop('Lesions',axis=1,inplace=True)

In [35]:
df.isnull().sum()

Farmlet                    0
Breed                      0
Sex                        0
Date of birth              0
Timepoint                  0
Measurement_date           0
Hair_cortisol              0
Nasal_swab_cortisol        0
Hair_serotonin             0
Swab_serotonin             0
Cleanliness                0
Hairlessness_head_neck     0
Hairlessness_body          0
Hairlessness_front_legs    0
Hairlessness_back_legs     0
Swellings_head_neck        0
Swellings_body             0
Swellings_front_legs       0
Swellings_back_legs        0
Ocular_discharge           0
Nasal_discharge            0
Diarrhoea                  0
Lameness                   0
BCS                        0
dtype: int64