In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Player.csv")

In [3]:
df.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Id      523 non-null    int64
 1   Player_Name    523 non-null    str
 2   DOB            471 non-null    str
 3   Batting_Hand   471 non-null    str
 4   Bowling_Skill  427 non-null    str
 5   Country        523 non-null    str
 6   Is_Umpire      523 non-null    int64
 7   Unnamed: 7     12 non-null     float64
dtypes: float64(1), int64(2), str(5)
memory usage: 32.8 KB

In [5]:
df.dtypes

Player_Id          int64
Player_Name          str
DOB                  str
Batting_Hand         str
Bowling_Skill        str
Country              str
Is_Umpire          int64
Unnamed: 7       float64
dtype: object

In [7]:
columns=df.columns

for col in columns:
	if df[col].isnull().any():
		if df[col].dtype == "float":
			if col == 'Unnamed':
				df[col].fillna(df[col].median(), inplace=True)
			else: df[col].fillna(df[col].mean(), inplace=True)
		else: df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_12776\1961785721.py:9: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  else: df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_12776\1961785721.py:8: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  else: df[col].fillna(df[col].mean(), inplace=True)

In [8]:
df.isnull().sum()

Player_Id          0
Player_Name        0
DOB               52
Batting_Hand      52
Bowling_Skill     96
Country            0
Is_Umpire          0
Unnamed: 7       511
dtype: int64

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Id      523 non-null    int64
 1   Player_Name    523 non-null    str
 2   DOB            471 non-null    str
 3   Batting_Hand   471 non-null    str
 4   Bowling_Skill  427 non-null    str
 5   Country        523 non-null    str
 6   Is_Umpire      523 non-null    int64
 7   Unnamed: 7     12 non-null     float64
dtypes: float64(1), int64(2), str(5)
memory usage: 32.8 KB

en coding ex:

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
encoder=LabelEncoder()

In [12]:
df["DOB"]=encoder.fit_transform(df["DOB"])

In [13]:
df.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,427,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,292,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,163,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,100,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,136,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [21]:
df["Player_Id"] = encoder.fit_transform(df["Player_Id"])

In [23]:
df.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,0,SC Ganguly,427,Left_Hand,Right-arm medium,India,0,NaN
1,1,BB McCullum,292,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,2,RT Ponting,163,Right_Hand,Right-arm medium,Australia,0,NaN
3,3,DJ Hussey,100,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,4,Mohammad Hafeez,136,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [27]:
columns=df.columns

for col in columns:
	if df[col].isnull().any():
		if df[col].dtype == "string":
			if col == 'Player_Id':

				df[col].fillna(df[col].median(), inplace=True)
			else: df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_12776\983475438.py:9: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  else: df[col].fillna(df[col].mode()[0], inplace=True)

In [28]:
df.isnull().sum()

Player_Id          0
Player_Name        0
DOB                0
Batting_Hand      52
Bowling_Skill     96
Country            0
Is_Umpire          0
Unnamed: 7       511
dtype: int64

In [29]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Id      523 non-null    int64
 1   Player_Name    523 non-null    str
 2   DOB            523 non-null    int64
 3   Batting_Hand   471 non-null    str
 4   Bowling_Skill  427 non-null    str
 5   Country        523 non-null    str
 6   Is_Umpire      523 non-null    int64
 7   Unnamed: 7     12 non-null     float64
dtypes: float64(1), int64(3), str(4)
memory usage: 32.8 KB

In [30]:
df.nunique()

Player_Id        523
Player_Name      523
DOB              458
Batting_Hand       2
Bowling_Skill     14
Country           11
Is_Umpire          2
Unnamed: 7        12
dtype: int64

In [31]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Id      523 non-null    int64
 1   Player_Name    523 non-null    str
 2   DOB            523 non-null    int64
 3   Batting_Hand   471 non-null    str
 4   Bowling_Skill  427 non-null    str
 5   Country        523 non-null    str
 6   Is_Umpire      523 non-null    int64
 7   Unnamed: 7     12 non-null     float64
dtypes: float64(1), int64(3), str(4)
memory usage: 32.8 KB