### Data preprocessing

In [2]:
import pandas as pd
df = pd.read_csv("world_bank_data_2025.csv")

In [3]:
df.head(15)

,country_name,country_id,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
0,Aruba,aw,2010,2.078141,2.453597e+09,24093.140151,NaN,11.666131,-1.223407,-2.733457,-18.752537,NaN,NaN,NaN,2.313385e+09,NaN
1,Aruba,aw,2011,4.316297,2.637859e+09,25712.384302,NaN,4.801974,4.005674,3.369237,-9.877656,NaN,NaN,NaN,2.391841e+09,NaN
2,Aruba,aw,2012,0.627472,2.615208e+09,25119.665545,NaN,8.200875,0.184033,-1.040800,3.473451,NaN,NaN,NaN,2.499118e+09,NaN
3,Aruba,aw,2013,-2.372065,2.727850e+09,25813.576727,NaN,10.709709,-1.995948,6.431483,-11.813206,NaN,NaN,NaN,2.563517e+09,NaN
4,Aruba,aw,2014,0.421441,2.790850e+09,26129.839062,NaN,3.213869,3.958897,-1.586575,-4.658577,NaN,NaN,NaN,2.688102e+09,NaN
5,Aruba,aw,2015,0.474764,2.962907e+09,27458.225331,NaN,0.157925,6.831287,-0.623626,3.994142,NaN,NaN,NaN,2.838144e+09,NaN
6,Aruba,aw,2016,-0.931196,2.983635e+09,27441.529662,NaN,7.982852,-1.002800,1.719625,4.731778,NaN,NaN,NaN,2.848406e+09,NaN
7,Aruba,aw,2017,-1.028282,3.092429e+09,28440.051964,NaN,9.789287,-3.178167,7.048533,1.119795,NaN,NaN,NaN,2.921801e+09,NaN
8,Aruba,aw,2018,3.626041,3.276184e+09,30082.127645,NaN,2.453045,3.462030,2.397085,-0.591367,NaN,NaN,NaN,3.061557e+09,NaN
9,Aruba,aw,2019,4.257462,3.395799e+09,31096.205074,NaN,-0.299776,6.017816,-2.232440,2.497110,NaN,NaN,NaN,3.242394e+09,NaN
10,Aruba,aw,2020,NaN,2.481857e+09,22855.932320,NaN,7.825935,-0.951473,-26.211821,-12.750754,NaN,NaN,NaN,2.413702e+09,NaN
11,Aruba,aw,2021,NaN,2.929447e+09,27200.061079,NaN,11.897084,-4.912625,24.132627,2.705530,NaN,NaN,NaN,2.824767e+09,NaN
12,Aruba,aw,2022,NaN,3.279344e+09,30559.533535,NaN,2.852654,3.157279,8.517918,7.030547,NaN,NaN,NaN,3.154132e+09,NaN
13,Aruba,aw,2023,NaN,3.648573e+09,33984.790620,NaN,-0.852278,6.709461,4.263719,5.330807,NaN,NaN,NaN,3.332806e+09,NaN
14,Aruba,aw,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
count,3472.000000,2694.000000,2.933000e+03,2938.000000,2795.000000,1735.000000,2904.000000,2912.000000,2563.000000,1820.000000,1829.000000,1833.000000,2.796000e+03,852.000000
mean,2017.500000,6.233154,3.964323e+11,18483.495612,7.841141,5.405051,6.634865,2.853544,-2.363241,27.325359,26.677467,16.969924,4.142237e+11,61.863736
std,4.610436,19.726903,1.749315e+12,27301.814024,5.964358,9.740924,25.820196,6.053786,13.740986,12.642464,18.116253,8.218539,1.799783e+12,40.409792
min,2010.000000,-6.687321,3.210541e+07,193.007146,0.100000,-81.132121,-28.760135,-54.336155,-60.877754,0.000136,0.000081,0.000063,5.107533e+07,1.845685
25%,2013.750000,1.402112,6.264757e+09,2280.748732,3.611000,1.734057,1.218347,0.997032,-7.496525,17.511484,17.639153,12.285344,7.475538e+09,33.894232
50%,2017.500000,3.213523,2.587360e+10,6827.668145,5.771000,5.079009,3.223184,3.100442,-2.656009,26.000850,24.821425,16.321438,2.986520e+10,51.651469
75%,2021.250000,6.186626,1.874939e+11,23727.024581,10.731500,8.869434,6.905463,5.355110,1.854710,34.884582,32.700782,21.448658,1.972529e+11,81.930649
max,2025.000000,557.201817,2.772071e+13,256580.515123,35.359000,61.882604,921.535652,86.826748,235.750605,103.725787,344.999451,147.640196,2.757614e+13,249.366027

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3466 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                2694 non-null   float64
 4   GDP (Current USD)                2933 non-null   float64
 5   GDP per Capita (Current USD)     2938 non-null   float64
 6   Unemployment Rate (%)            2795 non-null   float64
 7   Interest Rate (Real, %)          1735 non-null   float64
 8   Inflation (GDP Deflator, %)      2904 non-null   float64
 9   GDP Growth (% Annual)            2912 non-null   float64
 10  Current Account Balance (% GDP)  2563 non-null   float64
 11  Government Expense (% of GDP)    1820 non-null   float64
 12  Government Revenue (% of GDP)    1829 non-null   float64
 13  Tax Revenue (% of GDP)           1833 non-null   float64
 14  Gross National Income (USD)      2796 non-null   float64
 15  Public Debt (% of GDP)           852 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 434.1+ KB

# mean()
### Replacing missing values with the average of the column.

### ✔ When to use:
###  Numerical data
###  Data is normally distributed
###  No strong outliers
###  ⚠ Problem:
###  Mean is sensitive to outliers.

In [6]:
df['Inflation (CPI %)'].fillna(df['Inflation (CPI %)'].mean(), inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3466 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                3472 non-null   float64
 4   GDP (Current USD)                2933 non-null   float64
 5   GDP per Capita (Current USD)     2938 non-null   float64
 6   Unemployment Rate (%)            2795 non-null   float64
 7   Interest Rate (Real, %)          1735 non-null   float64
 8   Inflation (GDP Deflator, %)      2904 non-null   float64
 9   GDP Growth (% Annual)            2912 non-null   float64
 10  Current Account Balance (% GDP)  2563 non-null   float64
 11  Government Expense (% of GDP)    1820 non-null   float64
 12  Government Revenue (% of GDP)    1829 non-null   float64
 13  Tax Revenue (% of GDP)           1833 non-null   float64
 14  Gross National Income (USD)      2796 non-null   float64
 15  Public Debt (% of GDP)           852 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 434.1+ KB

# median()
### ✔ What it does:     Replaces missing values with the middle value.
### df['salary'].fillna(df['salary'].median(), inplace=True)
### ✔ When to use:
### Numerical data
### Data has outliers
### Skewed distribution
### ✅ More robust than mean

In [8]:
df['GDP (Current USD)'].fillna(df["GDP (Current USD)"].median(), inplace=True)
df['GDP (Current USD)'].value_counts().sum()

3472

#   mode()
### ✔ What it does:       Replaces missing values with the most frequent value.
###  df['gender'].fillna(df['gender'].mode()[0], inplace=True)
### ✔ When to use:
###  Categorical data
### Discrete variables

In [9]:
df['country_name'].fillna(df['country_name'].mode()[0], inplace=True)
df['country_name'].value_counts().sum()

3472

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3472 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                3472 non-null   float64
 4   GDP (Current USD)                3472 non-null   float64
 5   GDP per Capita (Current USD)     2938 non-null   float64
 6   Unemployment Rate (%)            2795 non-null   float64
 7   Interest Rate (Real, %)          1735 non-null   float64
 8   Inflation (GDP Deflator, %)      2904 non-null   float64
 9   GDP Growth (% Annual)            2912 non-null   float64
 10  Current Account Balance (% GDP)  2563 non-null   float64
 11  Government Expense (% of GDP)    1820 non-null   float64
 12  Government Revenue (% of GDP)    1829 non-null   float64
 13  Tax Revenue (% of GDP)           1833 non-null   float64
 14  Gross National Income (USD)      2796 non-null   float64
 15  Public Debt (% of GDP)           852 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 434.1+ KB

# Fixed Value Replacement
### ✔ What it does:   Replace missing values with a constant value.

### df['score'].fillna(0, inplace=True)
### ✔ When to use:

### When missing means something specific
### Business logic requires fixed value
### Feature engineering trick (e.g., -1 for missing)

In [11]:
df.head(10)

,country_name,country_id,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
0,Aruba,aw,2010,2.078141,2.453597e+09,24093.140151,NaN,11.666131,-1.223407,-2.733457,-18.752537,NaN,NaN,NaN,2.313385e+09,NaN
1,Aruba,aw,2011,4.316297,2.637859e+09,25712.384302,NaN,4.801974,4.005674,3.369237,-9.877656,NaN,NaN,NaN,2.391841e+09,NaN
2,Aruba,aw,2012,0.627472,2.615208e+09,25119.665545,NaN,8.200875,0.184033,-1.040800,3.473451,NaN,NaN,NaN,2.499118e+09,NaN
3,Aruba,aw,2013,-2.372065,2.727850e+09,25813.576727,NaN,10.709709,-1.995948,6.431483,-11.813206,NaN,NaN,NaN,2.563517e+09,NaN
4,Aruba,aw,2014,0.421441,2.790850e+09,26129.839062,NaN,3.213869,3.958897,-1.586575,-4.658577,NaN,NaN,NaN,2.688102e+09,NaN
5,Aruba,aw,2015,0.474764,2.962907e+09,27458.225331,NaN,0.157925,6.831287,-0.623626,3.994142,NaN,NaN,NaN,2.838144e+09,NaN
6,Aruba,aw,2016,-0.931196,2.983635e+09,27441.529662,NaN,7.982852,-1.002800,1.719625,4.731778,NaN,NaN,NaN,2.848406e+09,NaN
7,Aruba,aw,2017,-1.028282,3.092429e+09,28440.051964,NaN,9.789287,-3.178167,7.048533,1.119795,NaN,NaN,NaN,2.921801e+09,NaN
8,Aruba,aw,2018,3.626041,3.276184e+09,30082.127645,NaN,2.453045,3.462030,2.397085,-0.591367,NaN,NaN,NaN,3.061557e+09,NaN
9,Aruba,aw,2019,4.257462,3.395799e+09,31096.205074,NaN,-0.299776,6.017816,-2.232440,2.497110,NaN,NaN,NaN,3.242394e+09,NaN

In [12]:
df.isnull().sum()

country_name                          0
country_id                            0
year                                  0
Inflation (CPI %)                     0
GDP (Current USD)                     0
GDP per Capita (Current USD)        534
Unemployment Rate (%)               677
Interest Rate (Real, %)            1737
Inflation (GDP Deflator, %)         568
GDP Growth (% Annual)               560
Current Account Balance (% GDP)     909
Government Expense (% of GDP)      1652
Government Revenue (% of GDP)      1643
Tax Revenue (% of GDP)             1639
Gross National Income (USD)         676
Public Debt (% of GDP)             2620
dtype: int64

In [13]:
data = df['Public Debt (% of GDP)'].mean()
df['Public Debt (% of GDP)'].fillna(data, inplace=True)

In [14]:
df.isnull().sum()

country_name                          0
country_id                            0
year                                  0
Inflation (CPI %)                     0
GDP (Current USD)                     0
GDP per Capita (Current USD)        534
Unemployment Rate (%)               677
Interest Rate (Real, %)            1737
Inflation (GDP Deflator, %)         568
GDP Growth (% Annual)               560
Current Account Balance (% GDP)     909
Government Expense (% of GDP)      1652
Government Revenue (% of GDP)      1643
Tax Revenue (% of GDP)             1639
Gross National Income (USD)         676
Public Debt (% of GDP)                0
dtype: int64

# Dropping data

In [15]:
###  Dropping Data

# Drop rows:
# df.dropna(inplace=True)

# Drop columns:
# df.dropna(axis=1, inplace=True)


# ✔ When to use:
# Very few missing values
# Missing data is random
# Column has too many NaNs (e.g., >70%)

# ⚠ Risk:
# You lose information.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3472 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                3472 non-null   float64
 4   GDP (Current USD)                3472 non-null   float64
 5   GDP per Capita (Current USD)     2938 non-null   float64
 6   Unemployment Rate (%)            2795 non-null   float64
 7   Interest Rate (Real, %)          1735 non-null   float64
 8   Inflation (GDP Deflator, %)      2904 non-null   float64
 9   GDP Growth (% Annual)            2912 non-null   float64
 10  Current Account Balance (% GDP)  2563 non-null   float64
 11  Government Expense (% of GDP)    1820 non-null   float64
 12  Government Revenue (% of GDP)    1829 non-null   float64
 13  Tax Revenue (% of GDP)           1833 non-null   float64
 14  Gross National Income (USD)      2796 non-null   float64
 15  Public Debt (% of GDP)           3472 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 434.1+ KB

In [ ]:
df.drop('Interest Rate (Real, %)',axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3472 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                3472 non-null   float64
 4   GDP (Current USD)                3472 non-null   float64
 5   GDP per Capita (Current USD)     2938 non-null   float64
 6   Unemployment Rate (%)            2795 non-null   float64
 7   Inflation (GDP Deflator, %)      2904 non-null   float64
 8   GDP Growth (% Annual)            2912 non-null   float64
 9   Current Account Balance (% GDP)  2563 non-null   float64
 10  Government Expense (% of GDP)    1820 non-null   float64
 11  Government Revenue (% of GDP)    1829 non-null   float64
 12  Tax Revenue (% of GDP)           1833 non-null   float64
 13  Gross National Income (USD)      2796 non-null   float64
 14  Public Debt (% of GDP)           3472 non-null   float64
dtypes: float64(12), int64(1), object(2)
memory usage: 407.0+ KB

In [19]:
df.isnull().sum()

country_name                          0
country_id                            0
year                                  0
Inflation (CPI %)                     0
GDP (Current USD)                     0
GDP per Capita (Current USD)        534
Unemployment Rate (%)               677
Inflation (GDP Deflator, %)         568
GDP Growth (% Annual)               560
Current Account Balance (% GDP)     909
Government Expense (% of GDP)      1652
Government Revenue (% of GDP)      1643
Tax Revenue (% of GDP)             1639
Gross National Income (USD)         676
Public Debt (% of GDP)                0
dtype: int64

In [21]:
df['GDP per Capita (Current USD)'].fillna(df['GDP per Capita (Current USD)'].mean(), inplace=True)
df['Unemployment Rate (%)'].fillna(df['Unemployment Rate (%)'].mean(), inplace=True)
df['Inflation (GDP Deflator, %)'].fillna(df['Inflation (GDP Deflator, %)'].median(), inplace=True)
df['GDP Growth (% Annual)'].fillna(df['GDP Growth (% Annual)'].median(), inplace=True)
df['Current Account Balance (% GDP)'].fillna(df['Current Account Balance (% GDP)'].median(), inplace=True)
df['Government Expense (% of GDP)'].fillna(df['Government Expense (% of GDP)'].median(), inplace=True)
df['Government Revenue (% of GDP)'].fillna(df['Government Revenue (% of GDP)'].median(), inplace=True)
df['Tax Revenue (% of GDP)'].fillna(df['Tax Revenue (% of GDP)'].median(), inplace=True)
df['Gross National Income (USD)'].fillna(df['Gross National Income (USD)'].mean(), inplace=True)

In [23]:
df.isnull().sum()

country_name                       0
country_id                         0
year                               0
Inflation (CPI %)                  0
GDP (Current USD)                  0
GDP per Capita (Current USD)       0
Unemployment Rate (%)              0
Inflation (GDP Deflator, %)        0
GDP Growth (% Annual)              0
Current Account Balance (% GDP)    0
Government Expense (% of GDP)      0
Government Revenue (% of GDP)      0
Tax Revenue (% of GDP)             0
Gross National Income (USD)        0
Public Debt (% of GDP)             0
dtype: int64