# Encoding

In [8]:
df=pd.read_csv('Sales_with_NaNs_v1.3.csv')

In [9]:
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         8599 non-null   object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  8478 non-null   float64
 3   Sales_After                   9233 non-null   float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 9195 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

# Keraksiz ustunlarni tashlab yuborish

In [9]:
df.drop('Customer_Segment',axis=1)

,Group,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,240.548359,300.007568,74.684767,NaN,No
1,Treatment,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,156.978084,179.330464,98.780735,100.000000,No
3,Control,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,229.685623,NaN,83.974852,87.738591,Yes
...,...,...,...,...,...,...
9995,Treatment,259.695935,415.181694,88.438776,98.418593,NaN
9996,Control,186.488285,216.225457,92.261537,100.000000,NaN
9997,Treatment,208.107142,322.893351,55.915870,NaN,No
9998,Treatment,NaN,431.974901,66.082462,81.274030,No
9999,Control,NaN,124.402398,55.692277,65.288480,Yes

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         8599 non-null   object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  8478 non-null   float64
 3   Sales_After                   9233 non-null   float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 9195 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [15]:
df.isnull().sum()

Group                           1401
Customer_Segment                1966
Sales_Before                    1522
Sales_After                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

# Mean

In [10]:
df['Sales_Before'].fillna(df['Sales_Before'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13172\3207146027.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sales_Before'].fillna(df['Sales_Before'].mean(),inplace=True)

In [17]:
df.isnull().sum()

Group                           1401
Customer_Segment                1966
Sales_Before                       0
Sales_After                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

# Mode

In [11]:
df['Group'].fillna(df['Group'].mode()[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13172\486326339.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Group'].fillna(df['Group'].mode()[0],inplace=True)

In [21]:
df.isnull().sum()

Group                              0
Customer_Segment                1966
Sales_Before                       0
Sales_After                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

# Median

In [12]:
df['Sales_After'].fillna(df['Sales_After'].median(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13172\3570922985.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sales_After'].fillna(df['Sales_After'].median(),inplace=True)

In [24]:
df.isnull().sum()

Group                              0
Customer_Segment                1966
Sales_Before                       0
Sales_After                        0
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

In [25]:
df.describe()

,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After
count,10000.000000,10000.000000,8330.000000,8360.000000
mean,203.716998,279.895835,70.252076,73.872593
std,50.892795,82.331734,16.957010,18.128351
min,24.852966,32.414352,22.202441,18.224938
25%,173.612027,226.217125,56.365513,59.925030
50%,203.716998,273.129170,69.490898,73.844594
75%,230.990024,326.736168,83.426798,90.044365
max,545.422547,818.219997,100.000000,100.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         10000 non-null  object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  10000 non-null  float64
 3   Sales_After                   10000 non-null  float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 9195 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

In [27]:
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,Control,High Value,229.685623,273.129170,83.974852,87.738591,Yes

# Fixed

In [13]:
df['Purchase_Made'].fillna('Yes',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13172\2708597007.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Purchase_Made'].fillna('Yes',inplace=True)

In [30]:
df.isnull().sum()

Group                              0
Customer_Segment                1966
Sales_Before                       0
Sales_After                        0
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                      0
dtype: int64

# Drop qatorlar boyicha

In [14]:
df.dropna(inplace=True)

In [33]:
df.isnull().sum()

Group                           0
Customer_Segment                0
Sales_Before                    0
Sales_After                     0
Customer_Satisfaction_Before    0
Customer_Satisfaction_After     0
Purchase_Made                   0
dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5558 entries, 1 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         5558 non-null   object
 1   Customer_Segment              5558 non-null   object
 2   Sales_Before                  5558 non-null   float64
 3   Sales_After                   5558 non-null   float64
 4   Customer_Satisfaction_Before  5558 non-null   float64
 5   Customer_Satisfaction_After   5558 non-null   float64
 6   Purchase_Made                 5558 non-null   object
dtypes: float64(4), object(3)
memory usage: 347.4+ KB

# drop ustun boyicha, malum bir ustunda juda kop(50% dan kop) qiymatlar tushib qolganda tashlab yuboramiz bu usutunni butunlay

In [15]:
df.drop('Group',axis=1,inplace=True)

In [39]:
df.isnull().sum()

Customer_Segment                0
Sales_Before                    0
Sales_After                     0
Customer_Satisfaction_Before    0
Customer_Satisfaction_After     0
Purchase_Made                   0
dtype: int64

In [16]:
dummies=pd.get_dummies(df['Customer_Segment'],prefix='ustun',dtype=int)

In [41]:
dummies

      ustun_High Value  ustun_Low Value  ustun_Medium Value
1                    1                0                   0
2                    1                0                   0
3                    0                0                   1
4                    1                0                   0
6                    1                0                   0
...                ...              ...                 ...
9989                 0                0                   1
9992                 0                0                   1
9996                 1                0                   0
9998                 0                0                   1
9999                 0                1                   0

[5558 rows x 3 columns]

In [17]:
df=pd.concat([df.drop(columns=['Customer_Segment']),dummies],axis=1)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5558 entries, 1 to 9999
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sales_Before                  5558 non-null   float64
 1   Sales_After                   5558 non-null   float64
 2   Customer_Satisfaction_Before  5558 non-null   float64
 3   Customer_Satisfaction_After   5558 non-null   float64
 4   Purchase_Made                 5558 non-null   object
 5   ustun_High Value              5558 non-null   int64
 6   ustun_Low Value               5558 non-null   int64
 7   ustun_Medium Value            5558 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 390.8+ KB

In [ ]:
df=pd.concat(df_1,df_2)

NameError: name 'df_1' is not defined

In [18]:
df['Customer_Segment']

KeyError: 'Customer_Segment'

In [51]:
df['ustun_High Value']

1       1
2       1
3       0
4       1
6       1
       ..
9989    0
9992    0
9996    1
9998    0
9999    0
Name: ustun_High Value, Length: 5558, dtype: int64

In [18]:
print(df.index)

Index([   1,    2,    3,    4,    6,    7,    8,    9,   11,   13,
       ...
       9981, 9983, 9984, 9985, 9987, 9989, 9992, 9996, 9998, 9999],
      dtype='int64', length=5558)

In [19]:
df = df.reset_index(drop=True)

In [20]:
print(df.index)

RangeIndex(start=0, stop=5558, step=1)

# Label Encoding

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sales_Before                  5558 non-null   float64
 1   Sales_After                   5558 non-null   float64
 2   Customer_Satisfaction_Before  5558 non-null   float64
 3   Customer_Satisfaction_After   5558 non-null   float64
 4   Purchase_Made                 5558 non-null   object
 5   ustun_High Value              5558 non-null   int64
 6   ustun_Low Value               5558 non-null   int64
 7   ustun_Medium Value            5558 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 347.5+ KB

In [7]:
import pandas as pd

In [25]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.8.0-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.3.5)
Collecting scipy>=1.10.0 (from scikit-learn)
  Using cached scipy-1.16.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.3.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.8.0-cp311-cp311-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
    --------------------------------------- 0.1/8.1 MB 4.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.5/8.1 MB 5.8 MB/s eta 0:00:02
   ---- ----------------------------------- 0.9/8.1 MB 6.8 MB/s eta 0:00:02
   ------ --------------------------------- 1.3/8.1 MB 7.6 MB/s eta 0:00:01
   -------- ------------------------------- 1.8/8.1 MB 8.2 MB/s eta 0:00:01
   ----------- ---------------------------- 2.4/8.1 MB 9.0 MB/s eta 0:00:01
   -------------- ------------------------- 3.0/8.1 MB 9.5 MB/s eta 0:00:01
   ----------------- ---------------------- 3.6/8.1 MB 9.9 MB/s eta 0:00:01
   -------------------- ------------------- 4.1/8.1 MB 9.8 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.1 MB 10.0 MB/s eta 0:00:01
   ------------------------- -------------- 5.2/8.1 MB 10.1 MB/s eta 0:00:01
   -------------------------- ------------- 5.4/8.1 MB 10.1 MB/s eta 0:00:01
   ---------------------------- ----------- 5.8/8.1 MB 9.6 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.1 MB 9.9 MB/s eta 0:00:01
   ----------------------------------- ---- 7.2/8.1 MB 10.0 MB/s eta 0:00:01
   -------------------------------------- - 7.7/8.1 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------  8.0/8.1 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 9.6 MB/s eta 0:00:00
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
   ---------------------------------------- 0.0/309.1 kB ? eta -:--:--
   ---------------------------------------  307.2/309.1 kB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 309.1/309.1 kB 9.6 MB/s eta 0:00:00
Using cached scipy-1.16.3-cp311-cp311-win_amd64.whl (38.7 MB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.3 scikit-learn-1.8.0 scipy-1.16.3 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
encoder=LabelEncoder()

In [23]:
encoder

LabelEncoder()

In [24]:
print(type(encoder))

<class 'sklearn.preprocessing._label.LabelEncoder'>

In [25]:
df['Purchase_Made']=encoder.fit_transform(df['Purchase_Made'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sales_Before                  5558 non-null   float64
 1   Sales_After                   5558 non-null   float64
 2   Customer_Satisfaction_Before  5558 non-null   float64
 3   Customer_Satisfaction_After   5558 non-null   float64
 4   Purchase_Made                 5558 non-null   int64
 5   ustun_High Value              5558 non-null   int64
 6   ustun_Low Value               5558 non-null   int64
 7   ustun_Medium Value            5558 non-null   int64
dtypes: float64(4), int64(4)
memory usage: 347.5 KB

In [27]:
df.head()

,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made,ustun_High Value,ustun_Low Value,ustun_Medium Value
0,246.862114,381.337555,100.000000,100.000000,1,1,0,0
1,156.978084,179.330464,98.780735,100.000000,0,1,0,0
2,192.126708,229.278031,49.333766,39.811841,1,0,0,1
3,229.685623,273.129170,83.974852,87.738591,1,1,0,0
4,191.713918,222.409356,89.967827,85.120975,1,1,0,0