## Oraliq Imtihon

In [71]:
# data chaqirish

import pandas as pd

# data Fileni chaqirish

df = pd.read_csv("./../Data/bundesliga_player.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   full_name         228 non-null    object
 3   age               515 non-null    int64
 4   height            515 non-null    float64
 5   nationality       515 non-null    object
 6   place_of_birth    510 non-null    object
 7   price             510 non-null    float64
 8   max_price         510 non-null    float64
 9   position          515 non-null    object
 10  shirt_nr          515 non-null    int64
 11  foot              506 non-null    object
 12  club              515 non-null    object
 13  contract_expires  481 non-null    object
 14  joined_club       515 non-null    object
 15  player_agent      488 non-null    object
 16  outfitter         193 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 68.5+ KB

In [72]:
# datadagi null qiymatlarni topish

df.isnull().sum()

Unnamed: 0            0
name                  0
full_name           287
age                   0
height                0
nationality           0
place_of_birth        5
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   full_name         228 non-null    object
 3   age               515 non-null    int64
 4   height            515 non-null    float64
 5   nationality       515 non-null    object
 6   place_of_birth    510 non-null    object
 7   price             510 non-null    float64
 8   max_price         510 non-null    float64
 9   position          515 non-null    object
 10  shirt_nr          515 non-null    int64
 11  foot              506 non-null    object
 12  club              515 non-null    object
 13  contract_expires  481 non-null    object
 14  joined_club       515 non-null    object
 15  player_agent      488 non-null    object
 16  outfitter         193 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 68.5+ KB

# Mode

In [74]:
# Mean contract_expires and player_agent  

df["contract_expires"].fillna(df["contract_expires"].mode()[0], inplace=True)

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_42653/2220533739.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["contract_expires"].fillna(df["contract_expires"].mode()[0], inplace=True)

In [75]:
df["foot"].fillna(df["foot"].mode()[0], inplace=True)

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_42653/1355732263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["foot"].fillna(df["foot"].mode()[0], inplace=True)

# Mean

In [76]:
df["max_price"].fillna(df["max_price"].mean(), inplace=True)

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_42653/528365492.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["max_price"].fillna(df["max_price"].mean(), inplace=True)

# Median

In [77]:
df["price"].fillna(df["price"].median(), inplace=True)

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_42653/2043421642.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["price"].fillna(df["price"].median(), inplace=True)

# Fixed

In [78]:
df["place_of_birth"].fillna("Uzbekistan", inplace=True)

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_42653/697815473.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["place_of_birth"].fillna("Uzbekistan", inplace=True)

In [79]:
df.isnull().sum()

Unnamed: 0            0
name                  0
full_name           287
age                   0
height                0
nationality           0
place_of_birth        0
price                 0
max_price             0
position              0
shirt_nr              0
foot                  0
club                  0
contract_expires      0
joined_club           0
player_agent         27
outfitter           322
dtype: int64

In [80]:
df.drop(["Unnamed: 0", "full_name","player_agent", "outfitter"], axis=1, inplace=True)
df.isnull().sum()

name                0
age                 0
height              0
nationality         0
place_of_birth      0
price               0
max_price           0
position            0
shirt_nr            0
foot                0
club                0
contract_expires    0
joined_club         0
dtype: int64

# One-hot encoding 
##### harakteri bizning datamizga mos bolmaganligi uchun otkazib yubordik

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              515 non-null    object
 1   age               515 non-null    int64
 2   height            515 non-null    float64
 3   nationality       515 non-null    object
 4   place_of_birth    515 non-null    object
 5   price             515 non-null    float64
 6   max_price         515 non-null    float64
 7   position          515 non-null    object
 8   shirt_nr          515 non-null    int64
 9   foot              515 non-null    object
 10  club              515 non-null    object
 11  contract_expires  515 non-null    object
 12  joined_club       515 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 52.4+ KB

In [83]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df["name"] = label_encoder.fit_transform(df["name"])
df["nationality"] = label_encoder.fit_transform(df["nationality"])
df["place_of_birth"] = label_encoder.fit_transform(df["place_of_birth"])
df["position"] = label_encoder.fit_transform(df["position"])
df["foot"] = label_encoder.fit_transform(df["foot"])
df["club"] = label_encoder.fit_transform(df["club"])
df["contract_expires"] = label_encoder.fit_transform(df["contract_expires"])
df["joined_club"] = label_encoder.fit_transform(df["joined_club"])


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              515 non-null    int64
 1   age               515 non-null    int64
 2   height            515 non-null    float64
 3   nationality       515 non-null    int64
 4   place_of_birth    515 non-null    int64
 5   price             515 non-null    float64
 6   max_price         515 non-null    float64
 7   position          515 non-null    int64
 8   shirt_nr          515 non-null    int64
 9   foot              515 non-null    int64
 10  club              515 non-null    int64
 11  contract_expires  515 non-null    int64
 12  joined_club       515 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 52.4 KB

In [84]:
df.head()

,name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club
0,285,37,1.93,55,114,7.0,45.0,7,1,2,6,1,3
1,506,34,1.83,130,217,5.0,13.0,7,27,2,6,2,184
2,465,34,1.92,55,278,0.9,6.0,7,26,2,6,1,93
3,182,20,1.91,55,279,0.3,0.3,7,35,2,6,1,135
4,314,23,1.89,107,172,75.0,75.0,4,4,2,6,4,148

# ÎÅù