In [93]:
import pandas as pd

In [94]:
df = pd.read_csv("products.csv")

df.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Thermostat Drone Heater,Consumer approach woman us those star.,Bradford-Yu,Kitchen Appliances,74.0,USD,139.0,8.619794e+12,Orchid,Medium,backorder,38.0
1,2,Ultra Speaker Iron Grill Advanced One,Point suggest easy money operation could white.,Douglas Group,Fitness Equipment,510.0,USD,351.0,3.057216e+12,MediumSeaGreen,Small,backorder,27.0
2,3,Watch Headphones Kettle,Reach husband education.,Landry-Austin,Beauty & Personal Care,254.0,USD,409.0,9.825254e+12,Lavender,XXL,pre_order,2.0
3,4,Portable Toaster Clock Monitor Silent,Always choose school poor table main.,"Odom, Norton and Foster",Makeup,69.0,USD,119.0,9.490815e+12,Pink,XL,in_stock,94.0
4,5,Pro Toaster Oven,Worry put discuss easy back too career.,"Fowler, Mendoza and Mcdaniel",Automotive,525.0,USD,727.0,4.726650e+12,LightCoral,XL,in_stock,95.0

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         1000 non-null   int64
 1   Name          992 non-null    object
 2   Description   992 non-null    object
 3   Brand         992 non-null    object
 4   Category      993 non-null    object
 5   Price         987 non-null    float64
 6   Currency      987 non-null    object
 7   Stock         984 non-null    float64
 8   EAN           983 non-null    float64
 9   Color         994 non-null    object
 10  Size          991 non-null    object
 11  Availability  992 non-null    object
 12  Internal ID   989 non-null    float64
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

In [96]:
df.dtypes

Index             int64
Name             object
Description      object
Brand            object
Category         object
Price           float64
Currency         object
Stock           float64
EAN             float64
Color            object
Size             object
Availability     object
Internal ID     float64
dtype: object

In [97]:
# df.drop(columns=["Internal ID"], inplace=True)
# df["Name"].fillna(df["Name"].mode()[0], inplace=True)
# df["Description"].fillna(df["Description"].mode()[0], inplace=True)
# df["Brand"].fillna("Adidas", inplace=True)
# df["Category"].fillna(df["Category"].mode()[0], inplace=True)
# df["Currency"].fillna(df["Currency"].mode()[0], inplace=True)
# df["Color"].fillna(df["Color"].mode()[0], inplace=True)
# df["Size"].fillna(df["Size"].mode()[0], inplace=True)
# df["Availability"].fillna(df["Availability"].mode()[0], inplace=True)
# df["Stock"].fillna(df["Stock"].mean(), inplace=True)
# df["EAN"].fillna(df["EAN"].mean(), inplace=True)
# df["Price"].fillna(df["Price"].median(), inplace=True)

columns=df.columns

for col in columns:
	if df[col].isnull().any():
		if df[col].dtype == "float":
			if col == 'Price':
				df[col].fillna(df[col].median(), inplace=True)
			else: df[col].fillna(df[col].mean(), inplace=True)
		else: df[col].fillna(df[col].mode()[0], inplace=True)

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_15005/3915020388.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_15005/3915020388.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_15005/3915020388.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_15005/3915020388.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].mean(), inplace=True)

In [98]:
df.isnull().sum()

Index           0
Name            0
Description     0
Brand           0
Category        0
Price           0
Currency        0
Stock           0
EAN             0
Color           0
Size            0
Availability    0
Internal ID     0
dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         1000 non-null   int64
 1   Name          1000 non-null   object
 2   Description   1000 non-null   object
 3   Brand         1000 non-null   object
 4   Category      1000 non-null   object
 5   Price         1000 non-null   float64
 6   Currency      1000 non-null   object
 7   Stock         1000 non-null   float64
 8   EAN           1000 non-null   float64
 9   Color         1000 non-null   object
 10  Size          1000 non-null   object
 11  Availability  1000 non-null   object
 12  Internal ID   1000 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

In [100]:
df.nunique()

Index           1000
Name             911
Description      992
Brand            988
Category          34
Price            618
Currency           1
Stock            611
EAN              984
Color            140
Size              18
Availability       6
Internal ID      100
dtype: int64

In [101]:
# dummies = pd.get_dummies(df["Currency"], prefix="col", dtype=int)
# df=pd.concat([df.drop(columns=["Currency"]), dummies], axis=1)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         1000 non-null   int64
 1   Name          1000 non-null   object
 2   Description   1000 non-null   object
 3   Brand         1000 non-null   object
 4   Category      1000 non-null   object
 5   Price         1000 non-null   float64
 6   Currency      1000 non-null   object
 7   Stock         1000 non-null   float64
 8   EAN           1000 non-null   float64
 9   Color         1000 non-null   object
 10  Size          1000 non-null   object
 11  Availability  1000 non-null   object
 12  Internal ID   1000 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

In [103]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

# df["Name"]=encoder.fit_transform(df["Name"])

In [104]:
df.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Thermostat Drone Heater,Consumer approach woman us those star.,Bradford-Yu,Kitchen Appliances,74.0,USD,139.0,8.619794e+12,Orchid,Medium,backorder,38.0
1,2,Ultra Speaker Iron Grill Advanced One,Point suggest easy money operation could white.,Douglas Group,Fitness Equipment,510.0,USD,351.0,3.057216e+12,MediumSeaGreen,Small,backorder,27.0
2,3,Watch Headphones Kettle,Reach husband education.,Landry-Austin,Beauty & Personal Care,254.0,USD,409.0,9.825254e+12,Lavender,XXL,pre_order,2.0
3,4,Portable Toaster Clock Monitor Silent,Always choose school poor table main.,"Odom, Norton and Foster",Makeup,69.0,USD,119.0,9.490815e+12,Pink,XL,in_stock,94.0
4,5,Pro Toaster Oven,Worry put discuss easy back too career.,"Fowler, Mendoza and Mcdaniel",Automotive,525.0,USD,727.0,4.726650e+12,LightCoral,XL,in_stock,95.0

In [106]:

for col in df.columns:
	if df[col].dtype == "object":
		if df[col].nunique() <= 6:
			dummies = pd.get_dummies(df[col], prefix="col", dtype=int)
			df=pd.concat([df.drop(columns=[col]), dummies], axis=1)
		
		else: df[col]=encoder.fit_transform(df[col])

In [108]:
df.head()

,Index,Name,Description,Brand,Category,Price,Stock,EAN,Color,Size,Internal ID,col_USD,col_backorder,col_discontinued,col_in_stock,col_limited_stock,col_out_of_stock,col_pre_order
0,1,786,164,93,21,74.0,139.0,8.619794e+12,101,12,38.0,1,1,0,0,0,0,0
1,2,839,640,234,11,510.0,351.0,3.057216e+12,85,14,27.0,1,1,0,0,0,0,0
2,3,852,689,512,2,254.0,409.0,9.825254e+12,59,17,2.0,1,0,0,0,0,0,1
3,4,468,30,689,23,69.0,119.0,9.490815e+12,109,15,94.0,1,0,0,1,0,0,0
4,5,568,975,294,1,525.0,727.0,4.726650e+12,64,15,95.0,1,0,0,1,0,0,0