# Encoding

In [16]:
import pandas as pd 
df=pd.read_csv('imdb_top_1000.csv')

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Certificate    899 non-null    str
 4   Runtime        1000 non-null   str
 5   Genre          1000 non-null   str
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   str
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   str
 10  Star1          1000 non-null   str
 11  Star2          1000 non-null   str
 12  Star3          1000 non-null   str
 13  Star4          1000 non-null   str
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    str
dtypes: float64(2), int64(1), str(13)
memory usage: 125.1 KB

In [18]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [19]:
df['Gross'] = df['Gross'].fillna(df['Gross'].mode()[0])

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Certificate    899 non-null    str
 4   Runtime        1000 non-null   str
 5   Genre          1000 non-null   str
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   str
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   str
 10  Star1          1000 non-null   str
 11  Star2          1000 non-null   str
 12  Star3          1000 non-null   str
 13  Star4          1000 non-null   str
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   str
dtypes: float64(2), int64(1), str(13)
memory usage: 125.1 KB

In [21]:
df['Meta_score'] = df['Meta_score'].fillna(df['Meta_score'].mean())

In [22]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Certificate    899 non-null    str
 4   Runtime        1000 non-null   str
 5   Genre          1000 non-null   str
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   str
 8   Meta_score     1000 non-null   float64
 9   Director       1000 non-null   str
 10  Star1          1000 non-null   str
 11  Star2          1000 non-null   str
 12  Star3          1000 non-null   str
 13  Star4          1000 non-null   str
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   str
dtypes: float64(2), int64(1), str(13)
memory usage: 125.1 KB

In [26]:
df.drop('Certificate',axis=1,inplace=True)

In [27]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Runtime        1000 non-null   str
 4   Genre          1000 non-null   str
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   str
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   str
 9   Star1          1000 non-null   str
 10  Star2          1000 non-null   str
 11  Star3          1000 non-null   str
 12  Star4          1000 non-null   str
 13  No_of_Votes    1000 non-null   int64
 14  Gross          1000 non-null   str
dtypes: float64(2), int64(1), str(12)
memory usage: 117.3 KB

In [28]:
df.nunique()

Poster_Link      1000
Series_Title      999
Released_Year     100
Runtime           140
Genre             202
IMDB_Rating        17
Overview         1000
Meta_score         64
Director          548
Star1             660
Star2             841
Star3             891
Star4             939
No_of_Votes       999
Gross             823
dtype: int64

# One-hot encoding

In [29]:
dummies=pd.get_dummies(df['IMDB_Rating'],prefix='ustun',dtype=int)

In [30]:
dummies

,ustun_7.6,ustun_7.7,ustun_7.8,ustun_7.9,ustun_8.0,ustun_8.1,ustun_8.2,ustun_8.3,ustun_8.4,ustun_8.5,ustun_8.6,ustun_8.7,ustun_8.8,ustun_8.9,ustun_9.0,ustun_9.2,ustun_9.3
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
996,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
997,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
998,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
999,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [31]:
df=pd.concat([df.drop(columns=['IMDB_Rating']),dummies],axis=1)

In [32]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Runtime        1000 non-null   str
 4   Genre          1000 non-null   str
 5   Overview       1000 non-null   str
 6   Meta_score     1000 non-null   float64
 7   Director       1000 non-null   str
 8   Star1          1000 non-null   str
 9   Star2          1000 non-null   str
 10  Star3          1000 non-null   str
 11  Star4          1000 non-null   str
 12  No_of_Votes    1000 non-null   int64
 13  Gross          1000 non-null   str
 14  ustun_7.6      1000 non-null   int64
 15  ustun_7.7      1000 non-null   int64
 16  ustun_7.8      1000 non-null   int64
 17  ustun_7.9      1000 non-null   int64
 18  ustun_8.0      1000 non-null   int64
 19  ustun_8.1      1000 non-null   int64
 20  ustun_8.2      1000 non-null   int64
 21  ustun_8.3      1000 non-null   int64
 22  ustun_8.4      1000 non-null   int64
 23  ustun_8.5      1000 non-null   int64
 24  ustun_8.6      1000 non-null   int64
 25  ustun_8.7      1000 non-null   int64
 26  ustun_8.8      1000 non-null   int64
 27  ustun_8.9      1000 non-null   int64
 28  ustun_9.0      1000 non-null   int64
 29  ustun_9.2      1000 non-null   int64
 30  ustun_9.3      1000 non-null   int64
dtypes: float64(1), int64(18), str(12)
memory usage: 242.3 KB

# Label Encoding

In [33]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Runtime        1000 non-null   str
 4   Genre          1000 non-null   str
 5   Overview       1000 non-null   str
 6   Meta_score     1000 non-null   float64
 7   Director       1000 non-null   str
 8   Star1          1000 non-null   str
 9   Star2          1000 non-null   str
 10  Star3          1000 non-null   str
 11  Star4          1000 non-null   str
 12  No_of_Votes    1000 non-null   int64
 13  Gross          1000 non-null   str
 14  ustun_7.6      1000 non-null   int64
 15  ustun_7.7      1000 non-null   int64
 16  ustun_7.8      1000 non-null   int64
 17  ustun_7.9      1000 non-null   int64
 18  ustun_8.0      1000 non-null   int64
 19  ustun_8.1      1000 non-null   int64
 20  ustun_8.2      1000 non-null   int64
 21  ustun_8.3      1000 non-null   int64
 22  ustun_8.4      1000 non-null   int64
 23  ustun_8.5      1000 non-null   int64
 24  ustun_8.6      1000 non-null   int64
 25  ustun_8.7      1000 non-null   int64
 26  ustun_8.8      1000 non-null   int64
 27  ustun_8.9      1000 non-null   int64
 28  ustun_9.0      1000 non-null   int64
 29  ustun_9.2      1000 non-null   int64
 30  ustun_9.3      1000 non-null   int64
dtypes: float64(1), int64(18), str(12)
memory usage: 242.3 KB

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
encoder=LabelEncoder

In [36]:
encoder

sklearn.preprocessing._label.LabelEncoder

In [42]:
df['Released_Year']=encoder.fit_transform(df['Released_Year'])

In [43]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   int64
 3   Runtime        1000 non-null   str
 4   Genre          1000 non-null   str
 5   Overview       1000 non-null   str
 6   Meta_score     1000 non-null   int64
 7   Director       1000 non-null   str
 8   Star1          1000 non-null   str
 9   Star2          1000 non-null   str
 10  Star3          1000 non-null   str
 11  Star4          1000 non-null   str
 12  No_of_Votes    1000 non-null   int64
 13  Gross          1000 non-null   str
 14  ustun_7.6      1000 non-null   int64
 15  ustun_7.7      1000 non-null   int64
 16  ustun_7.8      1000 non-null   int64
 17  ustun_7.9      1000 non-null   int64
 18  ustun_8.0      1000 non-null   int64
 19  ustun_8.1      1000 non-null   int64
 20  ustun_8.2      1000 non-null   int64
 21  ustun_8.3      1000 non-null   int64
 22  ustun_8.4      1000 non-null   int64
 23  ustun_8.5      1000 non-null   int64
 24  ustun_8.6      1000 non-null   int64
 25  ustun_8.7      1000 non-null   int64
 26  ustun_8.8      1000 non-null   int64
 27  ustun_8.9      1000 non-null   int64
 28  ustun_9.0      1000 non-null   int64
 29  ustun_9.2      1000 non-null   int64
 30  ustun_9.3      1000 non-null   int64
dtypes: int64(20), str(11)
memory usage: 242.3 KB

In [44]:
df.head()

,Poster_Link,Series_Title,Released_Year,Runtime,Genre,Overview,Meta_score,Director,Star1,Star2,...,ustun_8.3,ustun_8.4,ustun_8.5,ustun_8.6,ustun_8.7,ustun_8.8,ustun_8.9,ustun_9.0,ustun_9.2,ustun_9.3
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,72,142 min,Drama,Two imprisoned men bond over a number of years...,43,Frank Darabont,Tim Robbins,Morgan Freeman,...,0,0,0,0,0,0,0,0,0,1
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,50,175 min,"Crime, Drama",An organized crime dynasty's aging patriarch t...,63,Francis Ford Coppola,Marlon Brando,Al Pacino,...,0,0,0,0,0,0,0,0,1,0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,86,152 min,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,47,Christopher Nolan,Christian Bale,Heath Ledger,...,0,0,0,0,0,0,0,1,0,0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,52,202 min,"Crime, Drama",The early life and career of Vito Corleone in ...,53,Francis Ford Coppola,Al Pacino,Robert De Niro,...,0,0,0,0,0,0,0,1,0,0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,35,96 min,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,59,Sidney Lumet,Henry Fonda,Lee J. Cobb,...,0,0,0,0,0,0,0,1,0,0

In [37]:
encoder = LabelEncoder()

In [40]:
df['Meta_score'] = encoder.fit_transform(df['Meta_score'])

In [41]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   str
 1   Series_Title   1000 non-null   str
 2   Released_Year  1000 non-null   str
 3   Runtime        1000 non-null   str
 4   Genre          1000 non-null   str
 5   Overview       1000 non-null   str
 6   Meta_score     1000 non-null   int64
 7   Director       1000 non-null   str
 8   Star1          1000 non-null   str
 9   Star2          1000 non-null   str
 10  Star3          1000 non-null   str
 11  Star4          1000 non-null   str
 12  No_of_Votes    1000 non-null   int64
 13  Gross          1000 non-null   str
 14  ustun_7.6      1000 non-null   int64
 15  ustun_7.7      1000 non-null   int64
 16  ustun_7.8      1000 non-null   int64
 17  ustun_7.9      1000 non-null   int64
 18  ustun_8.0      1000 non-null   int64
 19  ustun_8.1      1000 non-null   int64
 20  ustun_8.2      1000 non-null   int64
 21  ustun_8.3      1000 non-null   int64
 22  ustun_8.4      1000 non-null   int64
 23  ustun_8.5      1000 non-null   int64
 24  ustun_8.6      1000 non-null   int64
 25  ustun_8.7      1000 non-null   int64
 26  ustun_8.8      1000 non-null   int64
 27  ustun_8.9      1000 non-null   int64
 28  ustun_9.0      1000 non-null   int64
 29  ustun_9.2      1000 non-null   int64
 30  ustun_9.3      1000 non-null   int64
dtypes: int64(19), str(12)
memory usage: 242.3 KB