# Data bilan tanishuv Practice

In [2]:
import pandas as pd 
df=pd.read_csv('Premier_League_Player_Statistics_2023-24_20260207_050947.csv')

In [8]:
df.head ()

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
0,Erling Haaland,Manchester City,Forward,FWD,31,2580,83,27,5,32,...,1,World Class (25+),Excellent,2.89,2023/24,Premier League,England,English Premier League,1,2026-02-07
1,Cole Palmer,Chelsea,Midfielder,MID,33,2880,87,22,11,33,...,2,World Class (25+),Good,2.61,2023/24,Premier League,England,English Premier League,1,2026-02-07
2,Alexander Isak,Newcastle United,Forward,FWD,30,2550,85,21,2,23,...,5,Elite (15-24),Excellent,2.22,2023/24,Premier League,England,English Premier League,1,2026-02-07
3,Ollie Watkins,Aston Villa,Forward,FWD,35,3050,87,19,13,32,...,3,World Class (25+),Good,2.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
4,Mohamed Salah,Liverpool,Forward,FWD,32,2750,86,18,10,28,...,4,World Class (25+),Excellent,2.28,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [14]:
df.tail()

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
47,Raheem Sterling,Chelsea,Forward,FWD,31,2010,65,8,4,12,...,31,Excellent (10-14),Excellent,1.02,2023/24,Premier League,England,English Premier League,1,2026-02-07
48,Pedro Neto,Wolves,Forward,FWD,20,1380,69,2,9,11,...,26,Excellent (10-14),Excellent,1.15,2023/24,Premier League,England,English Premier League,1,2026-02-07
49,Hwang Hee-chan,Wolves,Forward,FWD,30,1950,65,12,2,14,...,23,Excellent (10-14),Excellent,1.28,2023/24,Premier League,England,English Premier League,1,2026-02-07
50,Amadou Onana,Everton,Midfielder,MID,30,2450,82,3,2,5,...,51,Good (5-9),Fair,0.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
51,Ashley Young,Everton,Defender,DEF,29,2280,79,0,1,1,...,52,Developing (0-4),Poor,-0.05,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [19]:
df.nunique()

Player                       52
Team                         15
Position                      4
Position_Group                4
Appearances                  18
Minutes                      40
Minutes_Per_Appearance       25
Goals                        20
Assists                      13
Goal_Contributions           24
Goals_Per_90                 36
Assists_Per_90               29
Goal_Contributions_Per_90    39
Minutes_Per_Goal             49
Minutes_Per_Assist           49
Yellow_Cards                 12
Red_Cards                     3
Discipline_Score             12
Clean_Sheets                 10
Clean_Sheet_Percentage       11
Goals_Rank                   20
Assists_Rank                 13
Goal_Contributions_Rank      24
Clean_Sheets_Rank            10
Efficiency_Rank              46
Performance_Category          5
Discipline_Category           5
Efficiency_Rating            46
Season                        1
Competition                   1
Country                       1
League_Name                   1
League_Level                  1
Data_Collection_Date          1
dtype: int64

In [23]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Player                     52 non-null     str
 1   Team                       52 non-null     str
 2   Position                   52 non-null     str
 3   Position_Group             52 non-null     str
 4   Appearances                52 non-null     int64
 5   Minutes                    52 non-null     int64
 6   Minutes_Per_Appearance     52 non-null     int64
 7   Goals                      52 non-null     int64
 8   Assists                    52 non-null     int64
 9   Goal_Contributions         52 non-null     int64
 10  Goals_Per_90               52 non-null     float64
 11  Assists_Per_90             52 non-null     float64
 12  Goal_Contributions_Per_90  52 non-null     float64
 13  Minutes_Per_Goal           52 non-null     int64
 14  Minutes_Per_Assist         52 non-null     int64
 15  Yellow_Cards               52 non-null     int64
 16  Red_Cards                  52 non-null     int64
 17  Discipline_Score           52 non-null     int64
 18  Clean_Sheets               52 non-null     int64
 19  Clean_Sheet_Percentage     52 non-null     float64
 20  Goals_Rank                 52 non-null     int64
 21  Assists_Rank               52 non-null     int64
 22  Goal_Contributions_Rank    52 non-null     int64
 23  Clean_Sheets_Rank          52 non-null     int64
 24  Efficiency_Rank            52 non-null     int64
 25  Performance_Category       52 non-null     str
 26  Discipline_Category        52 non-null     str
 27  Efficiency_Rating          52 non-null     float64
 28  Season                     52 non-null     str
 29  Competition                52 non-null     str
 30  Country                    52 non-null     str
 31  League_Name                52 non-null     str
 32  League_Level               52 non-null     int64
 33  Data_Collection_Date       52 non-null     str
dtypes: float64(5), int64(18), str(11)
memory usage: 13.9 KB

In [26]:
df.isnull().sum()

Player                       0
Team                         0
Position                     0
Position_Group               0
Appearances                  0
Minutes                      0
Minutes_Per_Appearance       0
Goals                        0
Assists                      0
Goal_Contributions           0
Goals_Per_90                 0
Assists_Per_90               0
Goal_Contributions_Per_90    0
Minutes_Per_Goal             0
Minutes_Per_Assist           0
Yellow_Cards                 0
Red_Cards                    0
Discipline_Score             0
Clean_Sheets                 0
Clean_Sheet_Percentage       0
Goals_Rank                   0
Assists_Rank                 0
Goal_Contributions_Rank      0
Clean_Sheets_Rank            0
Efficiency_Rank              0
Performance_Category         0
Discipline_Category          0
Efficiency_Rating            0
Season                       0
Competition                  0
Country                      0
League_Name                  0
League_Level                 0
Data_Collection_Date         0
dtype: int64

In [4]:
df['Goals']

0     27
1     22
2     21
3     19
4     18
5     19
6     16
7     17
8     19
9     16
10    10
11     4
12     8
13     4
14    11
15     2
16     4
17     3
18     1
19     1
20     0
21     0
22     0
23     0
24     0
25     7
26     8
27    13
28    11
29    11
30    14
31    11
32    10
33     8
34    17
35     8
36     4
37     1
38     9
39     7
40    12
41     7
42     8
43    12
44    12
45    14
46    16
47     8
48     2
49    12
50     3
51     0
Name: Goals, dtype: int64

In [5]:
df.drop('Goals',axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Player                     52 non-null     str
 1   Team                       52 non-null     str
 2   Position                   52 non-null     str
 3   Position_Group             52 non-null     str
 4   Appearances                52 non-null     int64
 5   Minutes                    52 non-null     int64
 6   Minutes_Per_Appearance     52 non-null     int64
 7   Assists                    52 non-null     int64
 8   Goal_Contributions         52 non-null     int64
 9   Goals_Per_90               52 non-null     float64
 10  Assists_Per_90             52 non-null     float64
 11  Goal_Contributions_Per_90  52 non-null     float64
 12  Minutes_Per_Goal           52 non-null     int64
 13  Minutes_Per_Assist         52 non-null     int64
 14  Yellow_Cards               52 non-null     int64
 15  Red_Cards                  52 non-null     int64
 16  Discipline_Score           52 non-null     int64
 17  Clean_Sheets               52 non-null     int64
 18  Clean_Sheet_Percentage     52 non-null     float64
 19  Goals_Rank                 52 non-null     int64
 20  Assists_Rank               52 non-null     int64
 21  Goal_Contributions_Rank    52 non-null     int64
 22  Clean_Sheets_Rank          52 non-null     int64
 23  Efficiency_Rank            52 non-null     int64
 24  Performance_Category       52 non-null     str
 25  Discipline_Category        52 non-null     str
 26  Efficiency_Rating          52 non-null     float64
 27  Season                     52 non-null     str
 28  Competition                52 non-null     str
 29  Country                    52 non-null     str
 30  League_Name                52 non-null     str
 31  League_Level               52 non-null     int64
 32  Data_Collection_Date       52 non-null     str
dtypes: float64(5), int64(17), str(11)
memory usage: 13.5 KB