# For loop

In [59]:
a=1,2,3,
for i in a:
    print(i)

1
2
3

In [60]:
for i in a: 
    print(i*5)

5
10
15

In [61]:
for i in a:
    print(i+5)

6
7
8

In [62]:
for i in range(1,11):
       print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
b=['s','a','l','o','m']
for i in b:
    print(i)

s
a
l
o
m

# Conditions

In [64]:
for i in range(1,10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [65]:
for i in range(1,12,2):
    print(i)

1
3
5
7
9
11

In [88]:
qosh=0
for i in range(1,20):
    if i%2==0:
        qosh=qosh+i
        print(i)
print(qosh)

2
4
6
8
10
12
14
16
18
90

# Data preprocessing + For loop

In [66]:
import pandas as pd 
df=pd.read_csv('user_music_listen_data.csv')

In [67]:
df.isnull().sum()

User_ID          0
T_Swift          9
Drake           14
Queen           12
The_Weeknd      11
Eminem           9
Nirvana         18
Ed_Sheeran       4
T_Scott         12
Linkin_Park     10
Dua_Lipa         8
K_Lamar         15
Imag_Dragons    14
Ariana_G        13
dtype: int64

In [68]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID       453 non-null    str
 1   T_Swift       444 non-null    str
 2   Drake         439 non-null    float64
 3   Queen         441 non-null    float64
 4   The_Weeknd    442 non-null    float64
 5   Eminem        444 non-null    float64
 6   Nirvana       435 non-null    float64
 7   Ed_Sheeran    449 non-null    float64
 8   T_Scott       441 non-null    float64
 9   Linkin_Park   443 non-null    float64
 10  Dua_Lipa      445 non-null    float64
 11  K_Lamar       438 non-null    float64
 12  Imag_Dragons  439 non-null    float64
 13  Ariana_G      440 non-null    float64
dtypes: float64(12), str(2)
memory usage: 49.7 KB

In [69]:
df['Imag_Dragons'] = df['Imag_Dragons'].fillna(df['Imag_Dragons'].mode())

In [70]:
df['T_Scott'] = df['T_Scott'].fillna(df['T_Scott'].median())

In [71]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID       453 non-null    str
 1   T_Swift       444 non-null    str
 2   Drake         439 non-null    float64
 3   Queen         441 non-null    float64
 4   The_Weeknd    442 non-null    float64
 5   Eminem        444 non-null    float64
 6   Nirvana       435 non-null    float64
 7   Ed_Sheeran    449 non-null    float64
 8   T_Scott       453 non-null    float64
 9   Linkin_Park   443 non-null    float64
 10  Dua_Lipa      445 non-null    float64
 11  K_Lamar       438 non-null    float64
 12  Imag_Dragons  439 non-null    float64
 13  Ariana_G      440 non-null    float64
dtypes: float64(12), str(2)
memory usage: 49.7 KB

In [72]:
df.isnull().sum()

User_ID          0
T_Swift          9
Drake           14
Queen           12
The_Weeknd      11
Eminem           9
Nirvana         18
Ed_Sheeran       4
T_Scott          0
Linkin_Park     10
Dua_Lipa         8
K_Lamar         15
Imag_Dragons    14
Ariana_G        13
dtype: int64

In [73]:
df.columns

Index(['User_ID', 'T_Swift', 'Drake', 'Queen', 'The_Weeknd', 'Eminem',
       'Nirvana', 'Ed_Sheeran', 'T_Scott', 'Linkin_Park', 'Dua_Lipa',
       'K_Lamar', 'Imag_Dragons', 'Ariana_G'],
      dtype='str')

In [74]:
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col] = df[col].fillna(df[col].median())

In [75]:
df.isnull().sum()

User_ID         0
T_Swift         9
Drake           0
Queen           0
The_Weeknd      0
Eminem          0
Nirvana         0
Ed_Sheeran      0
T_Scott         0
Linkin_Park     0
Dua_Lipa        0
K_Lamar         0
Imag_Dragons    0
Ariana_G        0
dtype: int64

# Encoding + For loop

# Datasetda obj bo'lmasa ham mavzuni takrorlash uchun qilib ko'rdim !

In [76]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()   

df['User_ID'] = encoder.fit_transform(df['User_ID'])

In [77]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID       453 non-null    int64
 1   T_Swift       444 non-null    str
 2   Drake         453 non-null    float64
 3   Queen         453 non-null    float64
 4   The_Weeknd    453 non-null    float64
 5   Eminem        453 non-null    float64
 6   Nirvana       453 non-null    float64
 7   Ed_Sheeran    453 non-null    float64
 8   T_Scott       453 non-null    float64
 9   Linkin_Park   453 non-null    float64
 10  Dua_Lipa      453 non-null    float64
 11  K_Lamar       453 non-null    float64
 12  Imag_Dragons  453 non-null    float64
 13  Ariana_G      453 non-null    float64
dtypes: float64(12), int64(1), str(1)
memory usage: 49.7 KB

In [78]:
df.nunique(
)

User_ID         453
T_Swift         155
Drake           145
Queen           155
The_Weeknd      191
Eminem          154
Nirvana         134
Ed_Sheeran      173
T_Scott         143
Linkin_Park     156
Dua_Lipa        153
K_Lamar         164
Imag_Dragons    224
Ariana_G        148
dtype: int64

In [79]:
dummies=pd.get_dummies(df['Nirvana'],prefix='col',dtype=int)

In [80]:
dummies

,col_0.0,col_12.0,col_13.0,col_14.0,col_15.0,col_16.0,col_17.0,col_18.0,col_19.0,col_20.0,...,col_167.0,col_168.0,col_171.0,col_189.0,col_190.0,col_193.0,col_197.0,col_211.0,col_225.0,col_253.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
449,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
450,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [81]:
df.info(
    
)

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID       453 non-null    int64
 1   T_Swift       444 non-null    str
 2   Drake         453 non-null    float64
 3   Queen         453 non-null    float64
 4   The_Weeknd    453 non-null    float64
 5   Eminem        453 non-null    float64
 6   Nirvana       453 non-null    float64
 7   Ed_Sheeran    453 non-null    float64
 8   T_Scott       453 non-null    float64
 9   Linkin_Park   453 non-null    float64
 10  Dua_Lipa      453 non-null    float64
 11  K_Lamar       453 non-null    float64
 12  Imag_Dragons  453 non-null    float64
 13  Ariana_G      453 non-null    float64
dtypes: float64(12), int64(1), str(1)
memory usage: 49.7 KB

In [82]:
df = pd.concat([df.drop(columns=['Nirvana']), dummies], axis=1)

In [85]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Columns: 147 entries, User_ID to col_253.0
dtypes: float64(11), int64(135), str(1)
memory usage: 520.4 KB

In [86]:
for col in df.columns:
    if df[col].dtype== 'object':
        if df[col].nunique()<=140:
            dummies=pd.concat([df.drop(columns=col),dummies],axis=1)
        else:
            df[col]=encoder.fit_transform(df[col])

In [87]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Columns: 147 entries, User_ID to col_253.0
dtypes: float64(11), int64(135), str(1)
memory usage: 520.4 KB