# Dataset olib shuni projectini ko'ramiz

In [208]:
import pandas as pd

In [209]:
df = pd.read_csv('appearances.csv')

In [210]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           str
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    str
 6   player_name             str
 7   competition_id          str
 8   yellow_cards            int64
 9   red_cards               int64
 10  goals                   int64
 11  assists                 int64
 12  minutes_played          int64
dtypes: int64(9), str(4)
memory usage: 169.3 MB

In [211]:
df.sample(5)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
1208764,3597844_361122,3597844,361122,235,235,2021-10-23,Achraf El Bouchataoui,NL1,0,0,0,0,59
121275,2231678_60028,2231678,60028,65,42,2013-05-04,Edgar Prib,L1,0,0,0,2,90
250256,2451919_9161,2451919,9161,2553,2553,2014-04-19,Sammy Clingan,SC1,0,0,0,0,4
827892,3099275_450218,3099275,450218,498,354,2018-11-04,Ortwin De Wolf,BE1,0,0,0,0,90
1643480,4403413_1047109,4403413,1047109,2672,2672,2024-11-25,Georgios Katris,GR1,0,0,0,0,90

# Data bilan tanishuv

In [212]:
#  Har bir featureni ma'osini bilish
#   Target qiymatni aniqlash 
#  Keraksiz bo'lgan ustunlarni tashlab yuborish: Tushib qolgan qiymatlar ko'p bo'lgan ustunni ham tashlab yuboramiz,  
# Yoki bir xil ma'noli ustun bo'lsa tashlab yuboramiz, masalan; player_id va player_name

In [213]:
df.drop('player_name', axis=1, inplace=True)

In [214]:
df.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,ELQ,0,0,0,1,90

# Data Preprocessing

In [215]:
df.isna().sum()  # bu yerda men isna() dan foydalandim, bu ustundagi null qiymatlarni True/False qaytaradi.

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

# Encoding + def

In [216]:
# Encoding + def 
from sklearn.preprocessing import LabelEncoder

In [217]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           str
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    str
 6   competition_id          str
 7   yellow_cards            int64
 8   red_cards               int64
 9   goals                   int64
 10  assists                 int64
 11  minutes_played          int64
dtypes: int64(9), str(3)
memory usage: 156.3 MB

In [218]:
# undan ham oldim men date ustuning to_datetime() orqali ishlov beramiz va kelajakda bundan foydalansak bo'ladi. 
##df['date'] = pd.to_datetime(df['date'])
##df.info()

In [219]:
def encodla(df, threshold=5):
    encoder = LabelEncoder()
    for col in df.columns: 
        if df[col].dtype == 'str':
            if df[col].nunique() < threshold:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df = pd.concat([df.drop(columns=[co]), dummies], axis=1)
            else:
                df[col] = encoder.fit_transform(df[col])
    return df
df = encodla(df)

In [220]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           int64
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    int64
 6   competition_id          int64
 7   yellow_cards            int64
 8   red_cards               int64
 9   goals                   int64
 10  assists                 int64
 11  minutes_played          int64
dtypes: int64(12)
memory usage: 156.3 MB

In [221]:
df.drop('date', axis=1)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,55694,2231978,38004,853,235,6,0,0,2,0,90
1,55741,2233748,79232,8841,2698,13,0,0,0,0,90
2,55775,2234413,42792,6251,465,13,0,0,0,0,45
3,55776,2234418,73333,1274,6646,13,0,0,0,0,90
4,55777,2234421,122011,195,3008,13,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...
1706801,1706086,4547798,811779,985,985,12,0,0,0,0,83
1706802,1706087,4547798,820374,985,985,12,1,0,0,0,7
1706803,1706088,4547798,923831,985,985,12,0,0,1,0,90
1706804,1706089,4547798,926952,985,985,12,0,0,0,0,90
1706805,1706090,4547798,93720,1041,1041,12,0,0,0,0,39

# Scaling

In [222]:
# SCALING + DEF FUNCTION

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [223]:
def scale_qil(df):
    scaler = MinMaxScaler()
    num_col = df.select_dtypes(include=['int64']).columns.drop('goals')
    df[num_col] = scaler.fit_transform(df[num_col])
    return df

df = scale_qil(df)

In [224]:
df.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,0.032631,0.008627,0.027515,0.007724,0.002140,0.000000,0.142857,0.0,0.0,2,0.000000,0.605442
1,0.032658,0.009377,0.057371,0.080144,0.024469,0.000268,0.309524,0.0,0.0,0,0.000000,0.605442
2,0.032678,0.009658,0.030982,0.056663,0.004225,0.000268,0.309524,0.0,0.0,0,0.000000,0.299320
3,0.032679,0.009660,0.053099,0.011541,0.060261,0.000268,0.309524,0.0,0.0,0,0.000000,0.605442
4,0.032679,0.009662,0.088351,0.001759,0.027279,0.000268,0.309524,0.0,0.0,0,0.166667,0.605442

In [225]:
x = df.drop('goals', axis=1)
y = df['goals']
df.reset_index(drop=True)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,0.032631,0.008627,0.027515,0.007724,0.002140,0.000000,0.142857,0.0,0.0,2,0.000000,0.605442
1,0.032658,0.009377,0.057371,0.080144,0.024469,0.000268,0.309524,0.0,0.0,0,0.000000,0.605442
2,0.032678,0.009658,0.030982,0.056663,0.004225,0.000268,0.309524,0.0,0.0,0,0.000000,0.299320
3,0.032679,0.009660,0.053099,0.011541,0.060261,0.000268,0.309524,0.0,0.0,0,0.000000,0.605442
4,0.032679,0.009662,0.088351,0.001759,0.027279,0.000268,0.309524,0.0,0.0,0,0.166667,0.605442
...,...,...,...,...,...,...,...,...,...,...,...,...
1706801,0.999579,0.989370,0.587869,0.008921,0.008939,1.000000,0.285714,0.0,0.0,0,0.000000,0.557823
1706802,0.999579,0.989370,0.594094,0.008921,0.008939,1.000000,0.285714,0.5,0.0,0,0.000000,0.040816
1706803,0.999580,0.989370,0.669016,0.008921,0.008939,1.000000,0.285714,0.0,0.0,1,0.000000,0.605442
1706804,0.999581,0.989370,0.671276,0.008921,0.008939,1.000000,0.285714,0.0,0.0,0,0.000000,0.605442
1706805,0.999581,0.989370,0.067863,0.009429,0.009447,1.000000,0.285714,0.0,0.0,0,0.000000,0.258503

In [226]:
# train_test_split

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size = 0.3, random_state = 42,         # bu modelni stabil ishlashi uchun; stabil ishlash esa kodga hech qanday o'zgartirishlar kiritilmagan taqdirda ham bir hil ishlashi modelni stabilligi deyiladi.
)

In [227]:
df['goals'].value_counts()     # goals ustunidagi har bir unique qiymat nechta marta uchraganini sanaydi.
# Ma’nosi:
# 2 → 3 marta
# 1 → 2 marta
# 0 → 2 marta

goals
0    1560446
1     130986
2      13631
3       1572
4        147
5         23
6          1
Name: count, dtype: int64

In [228]:
df.info()
df.drop('date', axis=1, inplace=True)

<class 'pandas.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           float64
 1   game_id                 float64
 2   player_id               float64
 3   player_club_id          float64
 4   player_current_club_id  float64
 5   date                    float64
 6   competition_id          float64
 7   yellow_cards            float64
 8   red_cards               float64
 9   goals                   int64
 10  assists                 float64
 11  minutes_played          float64
dtypes: float64(11), int64(1)
memory usage: 156.3 MB

In [229]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr_model = lr.fit(x_train, y_train)

In [230]:
# Prediction 

y_pred = lr_model.predict(x_test)
y_pred[1:10]

array([0.11259353, 0.19249236, 0.11106615, 0.10280059, 0.11045283,
       0.06678222, 0.10806308, 0.05540531, 0.10322494])

In [231]:
# Evaluation 
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [232]:
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = pow(mse, (1/2))

print("r2: ", r2)
print("mae: ", mae)
print("mse: ", mse)
print("rmse: ", rmse)

r2:  0.011327693596870803
mae:  0.17356939789383719
mse:  0.10910827735259494
rmse:  0.3303154210033115