# Uyga vazifa, 3-darsdagi kodlarni Kaggle yoki Githubdan yangi bir dataset orqali mustaqil sinab ko'rish.

In [7]:
import pandas as pd   # pandas librarni import qilish uchun

In [ ]:
df = pd.read_csv('school_electricity_access.csv')  # csv fileni ochish uchun ishlatiladi

In [10]:
df.head()  # birinchi 5 ta qatorni qatorni ko'rsatadi

  Country_Name ISO_Code  Year  Electricity_Access_Percent
0      Albania      ALB  2018                   94.085213
1      Albania      ALB  2019                   97.713760
2      Andorra      AND  2016                  100.000000
3      Andorra      AND  2017                  100.000000
4      Andorra      AND  2018                  100.000000

In [11]:
df.tail()  # tagidan birinchi 5 ta qatorni ko'rsatadi

           Country_Name ISO_Code  Year  Electricity_Access_Percent
670  West Bank and Gaza      PSE  2017                  100.000000
671  West Bank and Gaza      PSE  2018                  100.000000
672  West Bank and Gaza      PSE  2019                  100.000000
673              Zambia      ZMB  2016                   32.369942
674              Zambia      ZMB  2017                   36.401669

In [12]:
df.nunique()  # bu kod har bir ustundagi classlar soni

Country_Name                  143
ISO_Code                      143
Year                           21
Electricity_Access_Percent    190
dtype: int64

In [13]:
df['Country_Name']  # bu ma'lum bir ustunni chaqirish uchun

0                 Albania
1                 Albania
2                 Andorra
3                 Andorra
4                 Andorra
              ...
670    West Bank and Gaza
671    West Bank and Gaza
672    West Bank and Gaza
673                Zambia
674                Zambia
Name: Country_Name, Length: 675, dtype: object

In [14]:
# Agar ikki va undan ortiq ustunni chiqirmoqchi bo'lsak unda [[]] holida foydalanamiz
df[['Country_Name', 'Year']]

           Country_Name  Year
0               Albania  2018
1               Albania  2019
2               Andorra  2016
3               Andorra  2017
4               Andorra  2018
..                  ...   ...
670  West Bank and Gaza  2017
671  West Bank and Gaza  2018
672  West Bank and Gaza  2019
673              Zambia  2016
674              Zambia  2017

[675 rows x 2 columns]

In [15]:
# data haqida umumiy ma'lumot 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country_Name                675 non-null    object
 1   ISO_Code                    675 non-null    object
 2   Year                        675 non-null    int64
 3   Electricity_Access_Percent  675 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 21.2+ KB

In [16]:
# nechta element tushganini aniqlash uchun, bu asosan aniq bir son qaytaradi
df.isnull().sum()

Country_Name                  0
ISO_Code                      0
Year                          0
Electricity_Access_Percent    0
dtype: int64

In [17]:
# nechta element tushganini Booleanda aniqlashdagi kod, ya'ni Yo'q bo'lsa: False, aks holda True qaytaradi.
df.isnull().any()

Country_Name                  False
ISO_Code                      False
Year                          False
Electricity_Access_Percent    False
dtype: bool

# Uyga vazifa 2: Imtixondan o'tishni nazorat qilish uchun  condition tuzing

In [18]:


math_exam_score = 70   
cmp_science_score = 60
overall_pass_threshold = 55

if math_exam_score >= overall_pass_threshold and cmp_science_score>=overall_pass_threshold:
    print("Natijalar: Har ikki fandan ham o'tdi")  # har ikkisidan o'tkan bo'lsa
elif math_exam_score>=overall_pass_threshold:
    print("Natija: Faqat Matematika imtihonidan o'tdi.") # faqat mathdan o'tkan bo'lsa
elif cmp_science_score>=overall_pass_threshold: 
    print("Natija: Faqat Kompyuter fanidagi imtohdan o'tdi.") # faqat computer sciencedan o'tkan bo'lsa
else: 
    print("Har ikki imtinondan ham o'ta olmadi.")  # har ikkisidan ham o'ta olmagan holdagi condition

Natijalar: Har ikki fandan ham o'tdi

# Pasport olish uchun condition tuzing

In [19]:
passport_yoshi = int(input("Iltimos, passport olish uchun yoshingizni kiritiing: "))

# shartlar

if passport_yoshi >= 18: 
    print("Passport olish uchun murojaat qila olasiz")
elif passport_yoshi < 18:  
    print("Hali passport yoshiga yetmagansiz!")

Passport olish uchun murojaat qila olasiz