# Data Processing:Review

In [6]:
import pandas as pd

df = pd.read_csv("./../Data/bundesliga_player.csv")
df.head()

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter
0,0,Manuel Neuer,Manuel Peter Neuer,37,1.93,Germany,Gelsenkirchen,7.0,45.0,Goalkeeper,1,right,Bayern Munich,2024-06-30,2011-07-01,PRO Profil GmbH,adidas
1,1,Yann Sommer,NaN,34,1.83,Switzerland,Morges,5.0,13.0,Goalkeeper,27,right,Bayern Munich,2025-06-30,2023-01-19,Relatives,Puma
2,2,Sven Ulreich,NaN,34,1.92,Germany,Schorndorf,0.9,6.0,Goalkeeper,26,right,Bayern Munich,2024-06-30,2021-07-01,BMS Sportconsulting ...,adidas
3,3,Johannes Schenk,NaN,20,1.91,Germany,Schweinfurt,0.3,0.3,Goalkeeper,35,NaN,Bayern Munich,2024-06-30,2022-07-01,11WINS,NaN
4,4,Matthijs de Ligt,NaN,23,1.89,Netherlands,Leiderdorp,75.0,75.0,Defender - Centre-Back,4,right,Bayern Munich,2027-06-30,2022-07-19,Rafaela Pimenta,adidas

In [7]:
df.isnull().sum()
# datada name bor full nameda muammo 50% dan kop

Unnamed: 0            0
name                  0
full_name           287
age                   0
height                0
nationality           0
place_of_birth        5
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

In [8]:
df.drop(["full_name","outfitter","player_agent"],axis=1,inplace=True)
df.isnull().sum()

Unnamed: 0           0
name                 0
age                  0
height               0
nationality          0
place_of_birth       5
price                5
max_price            5
position             0
shirt_nr             0
foot                 9
club                 0
contract_expires    34
joined_club          0
dtype: int64

In [11]:
columns=df.columns

for col in columns:
    if df[col].isnull().any():
        if df[col].dtype == "object":
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
            df[col].fillna(df[col].median(),inplace=True)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   age               515 non-null    int64
 3   height            515 non-null    float64
 4   nationality       515 non-null    object
 5   place_of_birth    515 non-null    object
 6   price             515 non-null    float64
 7   max_price         515 non-null    float64
 8   position          515 non-null    object
 9   shirt_nr          515 non-null    int64
 10  foot              515 non-null    object
 11  club              515 non-null    object
 12  contract_expires  515 non-null    object
 13  joined_club       515 non-null    object
dtypes: float64(3), int64(3), object(8)
memory usage: 56.5+ KB

In [12]:
df.isnull().sum()

Unnamed: 0          0
name                0
age                 0
height              0
nationality         0
place_of_birth      0
price               0
max_price           0
position            0
shirt_nr            0
foot                0
club                0
contract_expires    0
joined_club         0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   age               515 non-null    int64
 3   height            515 non-null    float64
 4   nationality       515 non-null    object
 5   place_of_birth    515 non-null    object
 6   price             515 non-null    float64
 7   max_price         515 non-null    float64
 8   position          515 non-null    object
 9   shirt_nr          515 non-null    int64
 10  foot              515 non-null    object
 11  club              515 non-null    object
 12  contract_expires  515 non-null    object
 13  joined_club       515 non-null    object
dtypes: float64(3), int64(3), object(8)
memory usage: 56.5+ KB

In [16]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()


for col in df.columns: # dataning columini olamiz 
    if df[col].dtype == "object": # agar object bo'lsa 
        df[col] = label_encoder.fit_transform(df[col]) # va raqamlashtramiz

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    int64
 2   age               515 non-null    int64
 3   height            515 non-null    float64
 4   nationality       515 non-null    int64
 5   place_of_birth    515 non-null    int64
 6   price             515 non-null    float64
 7   max_price         515 non-null    float64
 8   position          515 non-null    int64
 9   shirt_nr          515 non-null    int64
 10  foot              515 non-null    int64
 11  club              515 non-null    int64
 12  contract_expires  515 non-null    int64
 13  joined_club       515 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 56.5 KB

In [ ]:
# 참고로 

df.columns # har bitta columini olish

Index(['Unnamed: 0', 'name', 'age', 'height', 'nationality', 'place_of_birth',
       'price', 'max_price', 'position', 'shirt_nr', 'foot', 'club',
       'contract_expires', 'joined_club'],
      dtype='object')

In [ ]:
print(len(df.columns)) # len bilan columini uzunligini topish

14

# 끝