### Task for lesson 7

In [183]:
#1  Print numbers from 1 to 10 using a for loop.

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [184]:
#2 Print all even numbers between 1 and 20.

for i in range(0, 21, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [185]:
#3 Calculate the sum of numbers from 1 to 100 using a for loop.

up_to_100 = 0
for i in range(1, 101):
    up_to_100 = up_to_100 + i

print(up_to_100)

5050

In [186]:
#4 Given a list: Print each number multiplied by 2.

numbers = [5, 10, 15, 20, 25]

for i in numbers:
    print(i*2)

10
20
30
40
50

In [187]:
#5 Count how many numbers in this list are greater than 10:

numbers = [3, 12, 7, 25, 9, 30]

for i in numbers:
    if i > 10:
        print(i)

12
25
30

In [188]:
#6 Given a string:  Print each character on a new line.

word = "python"

for i in word:
    print(i)

p
y
t
h
o
n

In [189]:
#7 Find the largest number in this list using a for loop:

numbers = [45, 12, 89, 32, 67]
largest = numbers[0]

for i in numbers:
    if i > largest:
        largest = i

print(largest)

# print(max(numbers))

89

In [190]:
#8 Print numbers from 1 to 20, but: Print "Fizz" if divisible by 3. Print "Buzz" if divisible by 5. Otherwise print the number.

for i in range(1, 21):
    if i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz

In [191]:
#9 Count how many vowels are in this string:

text = "machine learning"
vowels = "aeiou"
count = 0

for i in text:
    if i in vowels:
        count += 1
print(count)

6

In [192]:
#10 Create a new list that contains only the positive numbers from:

numbers = [-5, 10, -3, 8, 0, -1, 7]
positive_numbers = []

for i in numbers:
    if i > 0:
        positive_numbers.append(i)
print(positive_numbers)

[10, 8, 7]

# WORKING WITH DATASET

In [203]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder

LabelEncoder()

In [194]:
df = pd.read_csv("IMDB_Movies_Dataset.csv")
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          2
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
Writer.1                1
Average Rating.1        0
dtype: int64

In [195]:
df.head(5)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime,Writer.1,Average Rating.1
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes,"Stephen King, Frank Darabont",9.3
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",9.3
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes,"Mario Puzo, Francis Ford Coppola",9.2
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes,"Umur Bugay, Rifat Ilgaz",9.2
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes,"Rani Burra, Ram Mohan, Yûgô Sakô",9.2

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4991 entries, 0 to 4990
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4991 non-null   object
 1   Title              4991 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4991 non-null   object
 4   Writer             4990 non-null   object
 5   Metascore          3057 non-null   float64
 6   Cast               4984 non-null   object
 7   Release Date       4991 non-null   object
 8   Country of Origin  4988 non-null   object
 9   Languages          4970 non-null   object
 10  Budget             2653 non-null   object
 11  Worldwide Gross    3897 non-null   object
 12  Runtime            4991 non-null   object
 13  Writer.1           4990 non-null   object
 14  Average Rating.1   4991 non-null   float64
dtypes: float64(3), object(12)
memory usage: 585.0+ KB

#### mean() , median(), mode(), fixed(), drop()

In [197]:
df['Average Rating'].fillna(df['Average Rating'].mean(), inplace=True)
df['Metascore'].fillna(df['Metascore'].median(), inplace = True)
df['Writer'].fillna(df['Writer'].mode()[0], inplace = True)
df.drop(columns = ['Unnamed: 0'], axis = 1, inplace = True)
df.drop(columns = ['Average Rating.1'], axis = 1, inplace = True)
df.drop(columns = ['Writer.1'], axis = 1, inplace  = True)

In [198]:
df.sample(1)

,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
2904,Detective Story,7.5,William Wyler,"Philip Yordan, Robert Wyler, Sidney Kingsley",78.0,"Kirk Douglas, Eleanor Parker, William Bendix, ...","May 19, 1952 (Denmark)",United States,English,NaN,NaN,1 hour 43 minutes

#### Handling missing data with for loop

In [199]:
df.columns

Index(['Title', 'Average Rating', 'Director', 'Writer', 'Metascore', 'Cast',
       'Release Date', 'Country of Origin', 'Languages', 'Budget',
       'Worldwide Gross', 'Runtime'],
      dtype='object')

In [200]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype != 'object':
            if df[col].nunique() <= 5:
                df[col].fillna(df[col].mean(), inplace = True)
            elif df[col].nunique() > 5:
                df[col].fillna(df[col].meadian(), inplace = True)
        elif df[col].dtype == "object":
            df[col].fillna(df[col].mode()[0], inplace = True)

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4991 entries, 0 to 4990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              4991 non-null   object
 1   Average Rating     4991 non-null   float64
 2   Director           4991 non-null   object
 3   Writer             4991 non-null   object
 4   Metascore          4991 non-null   float64
 5   Cast               4991 non-null   object
 6   Release Date       4991 non-null   object
 7   Country of Origin  4991 non-null   object
 8   Languages          4991 non-null   object
 9   Budget             4991 non-null   object
 10  Worldwide Gross    4991 non-null   object
 11  Runtime            4991 non-null   object
dtypes: float64(2), object(10)
memory usage: 468.0+ KB

### Encoding part
#### One-hot encoding and Label encoding

In [204]:
for col in df.columns:
    if df[col].dtype == "object":
        if df[col].nunique() <= 5:
            dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
            df = pd.concat([df.drop(columns=col), dummies], axis = 1)
        else:
            df[col] = encoder.fit_transform(df[col])

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4991 entries, 0 to 4990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              4991 non-null   int32
 1   Average Rating     4991 non-null   float64
 2   Director           4991 non-null   int32
 3   Writer             4991 non-null   int32
 4   Metascore          4991 non-null   float64
 5   Cast               4991 non-null   int32
 6   Release Date       4991 non-null   int32
 7   Country of Origin  4991 non-null   int32
 8   Languages          4991 non-null   int32
 9   Budget             4991 non-null   int32
 10  Worldwide Gross    4991 non-null   int32
 11  Runtime            4991 non-null   int32
dtypes: float64(2), int32(10)
memory usage: 273.1 KB

In [206]:
df.head()

,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,4288,9.3,711,3851,82.0,4504,3606,678,87,214,1799,74
1,373,9.3,2620,2884,76.0,3367,3504,384,801,120,1913,77
2,3939,9.2,703,2592,100.0,3002,17,678,317,360,1658,110
3,1504,9.2,661,4123,76.0,3312,47,568,1064,120,2823,18
4,3083,9.2,1962,3286,76.0,396,4337,303,87,120,2823,66