In [17]:
import pandas as pd

df=pd.read_csv("../airports.csv")

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/1720681504.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("../airports.csv")

In [18]:
df.isnull().sum()

id                       0
ident                   44
icao                 32603
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                40
longitude               41
elevation            13795
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

In [19]:
df.head()

,id,ident,icao,iata,gps_code,local_code,name,latitude,longitude,elevation,continent,country,region,municipality,scheduled_service,web_url,wikipedia_url,keywords,timezone,airport_type
0,1,AGGJ,AGGJ,AVU,AGGJ,NaN,Avu Avu Airport,-9.868333,160.410556,25.0,OC,SB,SB-GU,NaN,no,NaN,NaN,NaN,Pacific/Guadalcanal,small_airport
1,2,CYPW,CYPW,YPW,CYPW,NaN,Powell River Airport,49.834202,-124.500000,425.0,NaN,CA,CA-BC,Powell River,yes,NaN,https://en.wikipedia.org/wiki/Powell_River_Air...,NaN,America/Vancouver,medium_airport
2,3,DE-0274,NaN,NaN,NaN,NaN,Flugplatz Dauborn,50.321667,8.193889,NaN,EU,DE,DE-HE,NaN,no,NaN,NaN,NaN,NaN,small_airport
3,4,EDCE,NaN,NaN,EDCE,NaN,Sonderlandeplatz Eggersdorf,52.481667,14.087500,223.0,EU,DE,DE-BR,Eggersdorf,no,http://www.flugplatz-eggersdorf.de/,https://de.wikipedia.org/wiki/Flugplatz_Eggers...,NaN,NaN,small_airport
4,5,DNMA,DNMA,MIU,DNMA,NaN,Maiduguri International Airport,11.855300,13.080900,1099.0,AF,NG,NG-BO,Maiduguri,yes,http://www.faannigeria.org/nigeria-airport.php...,https://en.wikipedia.org/wiki/Maiduguri_Intern...,NaN,Africa/Lagos,medium_airport

# Drop columns

In [25]:
columns = ["id", "icao", "iata", "gps_code", "local_code", "continent", "web_url", "wikipedia_url", "keywords", "timezone"]
df.drop(columns=columns, inplace=True)

In [27]:
df.isnull().sum()

ident                   44
name                     0
latitude                40
longitude               41
elevation            13795
country                357
region                  44
municipality          5340
scheduled_service       44
airport_type            43
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident              71175 non-null  object
 1   name               71219 non-null  object
 2   latitude           71179 non-null  float64
 3   longitude          71178 non-null  float64
 4   elevation          57424 non-null  float64
 5   country            70862 non-null  object
 6   region             71175 non-null  object
 7   municipality       65879 non-null  object
 8   scheduled_service  71175 non-null  object
 9   airport_type       71176 non-null  object
dtypes: float64(3), object(7)
memory usage: 5.4+ MB

In [29]:
df.head()

,ident,name,latitude,longitude,elevation,country,region,municipality,scheduled_service,airport_type
0,AGGJ,Avu Avu Airport,-9.868333,160.410556,25.0,SB,SB-GU,NaN,no,small_airport
1,CYPW,Powell River Airport,49.834202,-124.500000,425.0,CA,CA-BC,Powell River,yes,medium_airport
2,DE-0274,Flugplatz Dauborn,50.321667,8.193889,NaN,DE,DE-HE,NaN,no,small_airport
3,EDCE,Sonderlandeplatz Eggersdorf,52.481667,14.087500,223.0,DE,DE-BR,Eggersdorf,no,small_airport
4,DNMA,Maiduguri International Airport,11.855300,13.080900,1099.0,NG,NG-BO,Maiduguri,yes,medium_airport

In [30]:
df.nunique()

ident                71175
name                 67462
latitude             69704
longitude            69998
elevation             6037
country                241
region                2851
municipality         32135
scheduled_service        2
airport_type             7
dtype: int64

# Mean

In [31]:
# latitude

df["latitude"].fillna(df["latitude"].mean(), inplace=True)

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/2748281576.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["latitude"].fillna(df["latitude"].mean(), inplace=True)

# Mode

In [ ]:
# longitude
df["longitude"].fillna(df["longitude"].mode()[0], inplace=True)

# ident
df["ident"].fillna(df["ident"].mode()[0], inplace=True)

# country
df["country"].fillna(df["country"].mode()[0], inplace=True)

# region
df["region"].fillna(df["region"].mode()[0], inplace=True)

# municipality
df["municipality"].fillna(df["municipality"].mode()[0], inplace=True)

# scheduled_service
df["scheduled_service"].fillna(df["scheduled_service"].mode()[0], inplace=True)

# airport_type
df["airport_type"].fillna(df["airport_type"].mode()[0], inplace=True)

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["longitude"].fillna(df["longitude"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ident"].fillna(df["ident"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].fillna(df["country"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["region"].fillna(df["region"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["municipality"].fillna(df["municipality"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["scheduled_service"].fillna(df["scheduled_service"].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/3245817625.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["airport_type"].fillna(df["airport_type"].mode()[0], inplace=True)

# Median

In [36]:
# elevation

df["elevation"].fillna(df["elevation"].median(), inplace=True)

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_9506/4244676037.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["elevation"].fillna(df["elevation"].median(), inplace=True)

In [39]:
df.isnull().sum()

ident                0
name                 0
latitude             0
longitude            0
elevation            0
country              0
region               0
municipality         0
scheduled_service    0
airport_type         0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident              71219 non-null  object
 1   name               71219 non-null  object
 2   latitude           71219 non-null  float64
 3   longitude          71219 non-null  float64
 4   elevation          71219 non-null  float64
 5   country            71219 non-null  object
 6   region             71219 non-null  object
 7   municipality       71219 non-null  object
 8   scheduled_service  71219 non-null  object
 9   airport_type       71219 non-null  object
dtypes: float64(3), object(7)
memory usage: 5.4+ MB

In [41]:
df.nunique()

ident                71175
name                 67462
latitude             69705
longitude            69998
elevation             6037
country                241
region                2851
municipality         32135
scheduled_service        2
airport_type             7
dtype: int64

# One-hot encoding

In [46]:
# scheduled_service

dummies = pd.get_dummies(df["scheduled_service"], prefix="col", dtype=int)

dummies

       col_no  col_yes
0           1        0
1           0        1
2           1        0
3           1        0
4           0        1
...       ...      ...
71214       1        0
71215       1        0
71216       1        0
71217       1        0
71218       1        0

[71219 rows x 2 columns]

In [47]:
df=pd.concat([df.drop(columns=["scheduled_service"]), dummies], axis=1)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         71219 non-null  object
 1   name          71219 non-null  object
 2   latitude      71219 non-null  float64
 3   longitude     71219 non-null  float64
 4   elevation     71219 non-null  float64
 5   country       71219 non-null  object
 6   region        71219 non-null  object
 7   municipality  71219 non-null  object
 8   airport_type  71219 non-null  object
 9   col_no        71219 non-null  int64
 10  col_yes       71219 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 6.0+ MB

In [50]:
df.nunique()

ident           71175
name            67462
latitude        69705
longitude       69998
elevation        6037
country           241
region           2851
municipality    32135
airport_type        7
col_no              2
col_yes             2
dtype: int64

# Label encoding

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
encoder = LabelEncoder()

In [53]:
df["ident"] = encoder.fit_transform(df["ident"])
df["name"] = encoder.fit_transform(df["name"])
df["country"] = encoder.fit_transform(df["country"])
df["region"] = encoder.fit_transform(df["region"])
df["municipality"] = encoder.fit_transform(df["municipality"])
df["airport_type"] = encoder.fit_transform(df["airport_type"])

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         71219 non-null  int64
 1   name          71219 non-null  int64
 2   latitude      71219 non-null  float64
 3   longitude     71219 non-null  float64
 4   elevation     71219 non-null  float64
 5   country       71219 non-null  int64
 6   region        71219 non-null  int64
 7   municipality  71219 non-null  int64
 8   airport_type  71219 non-null  int64
 9   col_no        71219 non-null  int64
 10  col_yes       71219 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 6.0 MB

In [55]:
df.head()

,ident,name,latitude,longitude,elevation,country,region,municipality,airport_type,col_no,col_yes
0,11059,4165,-9.868333,160.410556,25.0,189,2214,21090,6,1,0
1,19220,48713,49.834202,-124.500000,425.0,35,350,22826,4,0,1
2,20011,21591,50.321667,8.193889,729.0,54,581,21090,6,1,0
3,20778,56575,52.481667,14.087500,223.0,54,577,8072,6,1,0
4,20415,37845,11.855300,13.080900,1099.0,160,1735,16854,4,0,1