In [85]:
# import pandas and dataset

import pandas as pd

In [90]:
df = pd.read_csv('employee_attrition_performance.csv')

In [91]:
df.head()  # birinchi boshidan 5 ta qatori haqida ma'lumot beradi

,employee_id,age,gender,education,department,job_role,monthly_salary,years_at_company,years_in_current_role,performance_score,...,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction,attrition
0,EMP00001,42.0,Female,Master,Finance,Role_22,107433.0,2.0,0.0,3.4,...,Yes,11.0,3.0,21.0,0.0,1.0,0.0,1.0,4.0,No
1,EMP00002,35.0,Male,Master,HR,Role_8,77660.0,4.0,0.0,3.4,...,Yes,30.0,4.0,29.0,1.0,2.0,0.0,3.0,3.0,No
2,EMP00003,40.0,Male,PhD,Legal,Role_1,114377.0,3.0,0.0,4.1,...,No,10.0,2.0,72.0,0.0,3.0,2.0,4.0,4.0,Yes
3,EMP00004,35.0,Male,High School,R&D,Role_15,79284.0,2.0,1.0,2.9,...,No,9.0,6.0,24.0,0.0,0.0,0.0,3.0,3.0,No
4,EMP00005,47.0,Male,Bachelor,Finance,Role_11,95933.0,1.0,1.0,3.3,...,No,10.0,2.0,52.0,0.0,0.0,3.0,2.0,3.0,No

In [92]:
# data haqida umumiy ma'lumot 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   employee_id                10000 non-null  object
 1   age                        9988 non-null   float64
 2   gender                     9921 non-null   object
 3   education                  9921 non-null   object
 4   department                 9921 non-null   object
 5   job_role                   9846 non-null   object
 6   monthly_salary             9846 non-null   float64
 7   years_at_company           9686 non-null   float64
 8   years_in_current_role      9583 non-null   float64
 9   performance_score          9725 non-null   float64
 10  job_satisfaction           9737 non-null   float64
 11  work_life_balance          9597 non-null   float64
 12  overtime                   9542 non-null   object
 13  distance_from_home_km      9542 non-null   float64
 14  num_projects_last_year     9529 non-null   float64
 15  training_hours_last_year   9439 non-null   float64
 16  num_promotions             9251 non-null   float64
 17  last_promotion_years_ago   9251 non-null   float64
 18  stock_option_level         9251 non-null   float64
 19  relationship_satisfaction  9251 non-null   float64
 20  environment_satisfaction   9251 non-null   float64
 21  attrition                  9391 non-null   object
dtypes: float64(15), object(7)
memory usage: 1.7+ MB

In [93]:
# Keraksiz qatorni tashlab yuborish uchun 
# df.drop(columns=['ChestPainType'])\
df.describe()
# Yoki 
#df.drop('ChestPainType', axis=1, inplace=True)

,age,monthly_salary,years_at_company,years_in_current_role,performance_score,job_satisfaction,work_life_balance,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction
count,9988.000000,9846.000000,9686.000000,9583.000000,9725.000000,9737.000000,9597.000000,9542.000000,9529.000000,9439.000000,9251.000000,9251.000000,9251.000000,9251.000000,9251.000000
mean,37.844213,85399.824497,3.807144,1.299697,3.437450,3.167731,2.948734,10.626179,4.030119,39.773917,0.396498,0.923252,1.004756,2.904659,2.896552
std,9.504167,18511.722416,4.118179,1.758103,0.525088,0.962896,0.806444,10.233597,1.953069,19.631241,0.651289,1.357243,1.003658,0.939920,0.933346
min,22.000000,38957.000000,0.000000,0.000000,1.400000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,31.000000,72161.000000,1.000000,0.000000,3.100000,2.500000,3.000000,3.000000,3.000000,26.000000,0.000000,0.000000,0.000000,2.000000,2.000000
50%,37.000000,84045.500000,3.000000,1.000000,3.400000,3.200000,3.000000,7.000000,4.000000,40.000000,0.000000,0.000000,1.000000,3.000000,3.000000
75%,45.000000,97022.000000,6.000000,2.000000,3.800000,3.900000,3.000000,14.000000,5.000000,53.000000,1.000000,1.000000,2.000000,4.000000,4.000000
max,65.000000,163489.000000,33.000000,15.000000,5.000000,5.000000,4.000000,107.000000,10.000000,119.000000,4.000000,14.000000,3.000000,4.000000,4.000000

In [10]:
# Keraksiz qatorni tashlab yuborish uchun 
# df.drop(columns=['ChestPainType'])
# Yoki 
#df.drop('views', axis=1, inplace=True)

In [94]:
df.isnull().sum() # Bu sona orqali tushib qolgan qiymatlarni topish

employee_id                    0
age                           12
gender                        79
education                     79
department                    79
job_role                     154
monthly_salary               154
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     458
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    749
environment_satisfaction     749
attrition                    609
dtype: int64

# Mean

In [95]:
 # Tushib qolgan qiymatlarni mean orqali o'rta arifmetigini chiqaramiz
# df.fillna({'Age': df['Age'].mean()}, inplace=True)
df['monthly_salary'].fillna(df['monthly_salary'].mean(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_969/3954592793.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['monthly_salary'].fillna(df['monthly_salary'].mean(), inplace=True)

In [96]:
df.isnull().sum()   # son orqalinechta qiymat tushib qolganini topiish

employee_id                    0
age                           12
gender                        79
education                     79
department                    79
job_role                     154
monthly_salary                 0
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     458
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction    749
environment_satisfaction     749
attrition                    609
dtype: int64

# Mode

In [97]:
df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].mode()[0], inplace=True)  # bu kod ishlaydi lekin hozircha ishlamayotkani sababi bu Ageda 
# bironta ham kam qiymat mavjud emasligi sabaab agar bitta qiymat bo'lganda ham uni 0 lashtirib olsa bo'lardi

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_969/4065253609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['relationship_satisfaction'].fillna(df['relationship_satisfaction'].mode()[0], inplace=True)  # bu kod ishlaydi lekin hozircha ishlamayotkani sababi bu Ageda

In [98]:
df.isnull().sum()

employee_id                    0
age                           12
gender                        79
education                     79
department                    79
job_role                     154
monthly_salary                 0
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance            403
overtime                     458
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction     749
attrition                    609
dtype: int64

# Median

In [99]:
df.describe()

,age,monthly_salary,years_at_company,years_in_current_role,performance_score,job_satisfaction,work_life_balance,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction
count,9988.000000,10000.000000,9686.000000,9583.000000,9725.000000,9737.000000,9597.000000,9542.000000,9529.000000,9439.000000,9251.000000,9251.000000,9251.000000,10000.00000,9251.000000
mean,37.844213,85399.824497,3.807144,1.299697,3.437450,3.167731,2.948734,10.626179,4.030119,39.773917,0.396498,0.923252,1.004756,2.91180,2.896552
std,9.504167,18368.614740,4.118179,1.758103,0.525088,0.962896,0.806444,10.233597,1.953069,19.631241,0.651289,1.357243,1.003658,0.90438,0.933346
min,22.000000,38957.000000,0.000000,0.000000,1.400000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000
25%,31.000000,72302.750000,1.000000,0.000000,3.100000,2.500000,3.000000,3.000000,3.000000,26.000000,0.000000,0.000000,0.000000,2.00000,2.000000
50%,37.000000,84393.000000,3.000000,1.000000,3.400000,3.200000,3.000000,7.000000,4.000000,40.000000,0.000000,0.000000,1.000000,3.00000,3.000000
75%,45.000000,96802.000000,6.000000,2.000000,3.800000,3.900000,3.000000,14.000000,5.000000,53.000000,1.000000,1.000000,2.000000,4.00000,4.000000
max,65.000000,163489.000000,33.000000,15.000000,5.000000,5.000000,4.000000,107.000000,10.000000,119.000000,4.000000,14.000000,3.000000,4.00000,4.000000

In [100]:
df['work_life_balance'].fillna(df['work_life_balance'].median(), inplace=True)

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_969/1749731381.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['work_life_balance'].fillna(df['work_life_balance'].median(), inplace=True)

In [ ]:
#df['post_url'].fillna(df['post_url'].median(), inplace=True)
# bu usul bilan yozsa demak muammo bo'lmas eka pandas 3 da ishlar ekan 
# df.fillna({'post_url': df['post_url'].median()}, inplace=True)

In [101]:
df.isnull().sum()

employee_id                    0
age                           12
gender                        79
education                     79
department                    79
job_role                     154
monthly_salary                 0
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance              0
overtime                     458
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction     749
attrition                    609
dtype: int64

In [103]:
df.describe()    # Bu bizga qaysi ustunlar numerical ekanligini ko'rsatib beradi.

,age,monthly_salary,years_at_company,years_in_current_role,performance_score,job_satisfaction,work_life_balance,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction
count,9988.000000,10000.000000,9686.000000,9583.000000,9725.000000,9737.000000,10000.00000,9542.000000,9529.000000,9439.000000,9251.000000,9251.000000,9251.000000,10000.00000,9251.000000
mean,37.844213,85399.824497,3.807144,1.299697,3.437450,3.167731,2.95080,10.626179,4.030119,39.773917,0.396498,0.923252,1.004756,2.91180,2.896552
std,9.504167,18368.614740,4.118179,1.758103,0.525088,0.962896,0.79009,10.233597,1.953069,19.631241,0.651289,1.357243,1.003658,0.90438,0.933346
min,22.000000,38957.000000,0.000000,0.000000,1.400000,1.000000,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000
25%,31.000000,72302.750000,1.000000,0.000000,3.100000,2.500000,3.00000,3.000000,3.000000,26.000000,0.000000,0.000000,0.000000,2.00000,2.000000
50%,37.000000,84393.000000,3.000000,1.000000,3.400000,3.200000,3.00000,7.000000,4.000000,40.000000,0.000000,0.000000,1.000000,3.00000,3.000000
75%,45.000000,96802.000000,6.000000,2.000000,3.800000,3.900000,3.00000,14.000000,5.000000,53.000000,1.000000,1.000000,2.000000,4.00000,4.000000
max,65.000000,163489.000000,33.000000,15.000000,5.000000,5.000000,4.00000,107.000000,10.000000,119.000000,4.000000,14.000000,3.000000,4.00000,4.000000

In [102]:
df.head()

,employee_id,age,gender,education,department,job_role,monthly_salary,years_at_company,years_in_current_role,performance_score,...,overtime,distance_from_home_km,num_projects_last_year,training_hours_last_year,num_promotions,last_promotion_years_ago,stock_option_level,relationship_satisfaction,environment_satisfaction,attrition
0,EMP00001,42.0,Female,Master,Finance,Role_22,107433.0,2.0,0.0,3.4,...,Yes,11.0,3.0,21.0,0.0,1.0,0.0,1.0,4.0,No
1,EMP00002,35.0,Male,Master,HR,Role_8,77660.0,4.0,0.0,3.4,...,Yes,30.0,4.0,29.0,1.0,2.0,0.0,3.0,3.0,No
2,EMP00003,40.0,Male,PhD,Legal,Role_1,114377.0,3.0,0.0,4.1,...,No,10.0,2.0,72.0,0.0,3.0,2.0,4.0,4.0,Yes
3,EMP00004,35.0,Male,High School,R&D,Role_15,79284.0,2.0,1.0,2.9,...,No,9.0,6.0,24.0,0.0,0.0,0.0,3.0,3.0,No
4,EMP00005,47.0,Male,Bachelor,Finance,Role_11,95933.0,1.0,1.0,3.3,...,No,10.0,2.0,52.0,0.0,0.0,3.0,2.0,3.0,No

# Fixed

In [104]:
# Fixed

df['overtime'].fillna('Yes', inplace=True)   # manashu fixed yani javobini aniq bir bilgan qiymat bilan to'ldiriish yani birz bu qatorda tushib qolgan qiyatni oldindan bilar edik yoki bizda tajriba orqali ortirilgan bilimga asoslanib shu tushib qolgan qiymat bu edi deb berak bo'ladi.

/var/folders/j4/qzhh77r553z1scwnh3mxkx200000gn/T/ipykernel_969/209422543.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['overtime'].fillna('Yes', inplace=True)   # manashu fixed yani javobini aniq bir bilgan qiymat bilan to'ldiriish yani birz bu qatorda tushib qolgan qiyatni oldindan bilar edik yoki bizda tajriba orqali ortirilgan bilimga asoslanib shu tushib qolgan qiymat bu edi deb berak bo'ladi.

In [107]:
df.head()
df.isnull().sum()

employee_id                    0
age                           12
gender                        79
education                     79
department                    79
job_role                     154
monthly_salary                 0
years_at_company             314
years_in_current_role        417
performance_score            275
job_satisfaction             263
work_life_balance              0
overtime                       0
distance_from_home_km        458
num_projects_last_year       471
training_hours_last_year     561
num_promotions               749
last_promotion_years_ago     749
stock_option_level           749
relationship_satisfaction      0
environment_satisfaction     749
attrition                    609
dtype: int64

In [108]:
# drop 
# qatorlar bo'yicha 
# 1-xolat 

df.dropna(inplace=True)    # agar barcha qatorlarda tushib qolgan qiymatlar bilinar bilinmas bo'lsa unda bu koddan foydalanamiz.

In [109]:
df.isnull().sum()

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
performance_score            0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
environment_satisfaction     0
attrition                    0
dtype: int64

In [112]:
# drop malum bir ustudan juda kop qiymat tushib qolgan bolsa yani kamida 50% dan koproq

df.drop('environment_satisfaction', axis=1, inplace=True)

In [113]:
df.isnull().sum()   # son orqali tushib qolgan qiymatlarni topish

employee_id                  0
age                          0
gender                       0
education                    0
department                   0
job_role                     0
monthly_salary               0
years_at_company             0
years_in_current_role        0
performance_score            0
job_satisfaction             0
work_life_balance            0
overtime                     0
distance_from_home_km        0
num_projects_last_year       0
training_hours_last_year     0
num_promotions               0
last_promotion_years_ago     0
stock_option_level           0
relationship_satisfaction    0
attrition                    0
dtype: int64