Data bn tanishuv

In [ ]:
import pandas as pd


    # Install qilish usullari
    #1. pip install pandas
    #2. %pip install pandas
    #3. !pip install pandas

In [1]:
import pandas as pd
pd.f=pd.read_csv("deaths_and_causes_synthetic.csv")

In [6]:
import pandas as pd
df = pd.read_csv('deaths_and_causes_synthetic.csv')

In [7]:
df.head()

,Year,Country,Gender,Age_Group,Cause_of_Death,Number_of_Deaths,Mortality_Rate_per_1000
0,2022,India,Male,0-14,Natural Disasters,73272,2.79
1,2025,Germany,Female,0-14,Homicide,421169,0.71
2,2020,Japan,Female,30-44,Infectious Diseases,103315,0.75
3,2023,Germany,Male,30-44,Suicide,220423,11.86
4,2015,Nigeria,Female,15-29,Stroke,157810,9.50

In [8]:
df.tail(3)

,Year,Country,Gender,Age_Group,Cause_of_Death,Number_of_Deaths,Mortality_Rate_per_1000
257,2025,Pakistan,Female,0-14,Cancer,68972,5.16
258,2023,Brazil,Male,30-44,Suicide,472848,9.72
259,2019,China,Male,30-44,Diabetes,327145,1.52

In [9]:
df.nunique()

Year                        11
Country                     10
Gender                       2
Age_Group                    5
Cause_of_Death              11
Number_of_Deaths           260
Mortality_Rate_per_1000    239
dtype: int64

In [10]:
df['Gender'].nunique()

2

In [11]:
df['Gender']

0        Male
1      Female
2      Female
3        Male
4      Female
        ...
255      Male
256    Female
257    Female
258      Male
259      Male
Name: Gender, Length: 260, dtype: str

In [12]:
df.head()

,Year,Country,Gender,Age_Group,Cause_of_Death,Number_of_Deaths,Mortality_Rate_per_1000
0,2022,India,Male,0-14,Natural Disasters,73272,2.79
1,2025,Germany,Female,0-14,Homicide,421169,0.71
2,2020,Japan,Female,30-44,Infectious Diseases,103315,0.75
3,2023,Germany,Male,30-44,Suicide,220423,11.86
4,2015,Nigeria,Female,15-29,Stroke,157810,9.50

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     260 non-null    int64
 1   Country                  260 non-null    str
 2   Gender                   260 non-null    str
 3   Age_Group                260 non-null    str
 4   Cause_of_Death           260 non-null    str
 5   Number_of_Deaths         260 non-null    int64
 6   Mortality_Rate_per_1000  260 non-null    float64
dtypes: float64(1), int64(2), str(4)
memory usage: 14.3 KB

In [14]:
df.isnull().sum()

Year                       0
Country                    0
Gender                     0
Age_Group                  0
Cause_of_Death             0
Number_of_Deaths           0
Mortality_Rate_per_1000    0
dtype: int64

In [16]:
df.isnull().any()

Year                       False
Country                    False
Gender                     False
Age_Group                  False
Cause_of_Death             False
Number_of_Deaths           False
Mortality_Rate_per_1000    False
dtype: bool

# Imtixondan o'tishni nazorat qilish uchun  condition tuzing

In [5]:
baxo=35
if baxo==50:
    print('alo')
elif baxo==40:
    print('yaxshi')
elif baxo==3:
    print('ortacha')
elif baxo==20:
    print('yomon')
else:
    print('qayta topshiruv')

qayta topshiruv

# Pasport olish uchun condition tuzing

In [20]:
yoshi=16
if yoshi>=16:
    print('sizga ruxsat')
elif yoshi<17:
    print('siz kech kelganz uchun jarima tolang')
    print('ariza yozing') 
else:print('sizga ruxsat yoq')

sizga ruxsat