# Data bilan tanishuv

In [155]:
import pandas as pd

df=pd.read_csv("covid_ml.csv")

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       861 non-null    object
 1   age                      845 non-null    float64
 2   sex                      838 non-null    object
 3   cough                    861 non-null    object
 4   fever                    861 non-null    object
 5   chills                   861 non-null    object
 6   sore_throat              843 non-null    object
 7   headache                 843 non-null    object
 8   fatigue                  847 non-null    object
 9   urgency_of_admission     847 non-null    object
 10  days_onset_to_admission  630 non-null    float64
 11  symptoms                 418 non-null    object
 12  city                     742 non-null    object
 13  province                 705 non-null    object
 14  country                  847 non-null    object
 15  latitude                 855 non-null    float64
 16  longitude                853 non-null    float64
 17  geo_resolution           855 non-null    object
 18  date_onset_symptoms      855 non-null    object
 19  date_admission_hospital  634 non-null    object
 20  date_confirmation        838 non-null    object
 21  date_death_or_discharge  74 non-null     object
 22  source                   831 non-null    object
dtypes: float64(4), object(19)
memory usage: 154.8+ KB

In [157]:
df.head(10)

,ID,age,sex,cough,fever,chills,sore_throat,headache,fatigue,urgency_of_admission,...,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,date_admission_hospital,date_confirmation,date_death_or_discharge,source
0,1,30.0,male,No,No,No,NaN,NaN,No,Low,...,Anhui,China,31.646960,NaN,admin3,2020-01-18,2020-01-20,2020-01-22,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
1,2,47.0,male,No,No,No,NaN,NaN,No,Low,...,Anhui,China,31.778630,NaN,admin3,2020-01-10,2020-01-21,NaN,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
2,3,49.0,male,No,No,No,NaN,NaN,No,Low,...,Anhui,China,31.828313,117.224844,point,2020-01-15,2020-01-20,NaN,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
3,4,47.0,female,No,No,No,NaN,NaN,No,Low,...,Anhui,China,31.828313,117.224844,point,2020-01-17,2020-01-20,NaN,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
4,5,50.0,female,No,No,No,No,No,No,Low,...,Anhui,China,32.001230,117.568100,admin3,2020-01-10,2020-01-21,NaN,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
5,7,42.0,NaN,No,Yes,No,No,No,No,High,...,Anhui,China,32.918800,115.703600,admin2,2020-01-21,2020-01-21,NaN,NaN,https://baijiahao.baidu.com/s?id=1656791146764...
6,9,59.0,NaN,No,Yes,No,No,No,No,Low,...,Anhui,China,32.757380,116.734000,admin2,2020-01-19,2020-01-24,NaN,NaN,https://baijiahao.baidu.com/s?id=1656845876146...
7,10,30.0,NaN,No,No,No,No,No,No,Low,...,Anhui,China,31.794440,117.342800,admin2,2020-01-17,2020-01-22,NaN,NaN,http://ah.people.com.cn/GB/n2/2020/0127/c35826...
8,14,38.0,NaN,Yes,No,No,No,No,No,High,...,Anhui,China,NaN,NaN,NaN,NaN,2020-01-22,NaN,NaN,NaN
9,15,45.0,NaN,No,Yes,No,No,No,No,High,...,Anhui,China,NaN,NaN,NaN,NaN,2020-01-21,NaN,NaN,NaN

In [158]:
df.drop("ID", axis=1, inplace=True)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      845 non-null    float64
 1   sex                      838 non-null    object
 2   cough                    861 non-null    object
 3   fever                    861 non-null    object
 4   chills                   861 non-null    object
 5   sore_throat              843 non-null    object
 6   headache                 843 non-null    object
 7   fatigue                  847 non-null    object
 8   urgency_of_admission     847 non-null    object
 9   days_onset_to_admission  630 non-null    float64
 10  symptoms                 418 non-null    object
 11  city                     742 non-null    object
 12  province                 705 non-null    object
 13  country                  847 non-null    object
 14  latitude                 855 non-null    float64
 15  longitude                853 non-null    float64
 16  geo_resolution           855 non-null    object
 17  date_onset_symptoms      855 non-null    object
 18  date_admission_hospital  634 non-null    object
 19  date_confirmation        838 non-null    object
 20  date_death_or_discharge  74 non-null     object
 21  source                   831 non-null    object
dtypes: float64(4), object(18)
memory usage: 148.1+ KB

# Missing values

In [160]:
df.isnull().sum()

age                         16
sex                         23
cough                        0
fever                        0
chills                       0
sore_throat                 18
headache                    18
fatigue                     14
urgency_of_admission        14
days_onset_to_admission    231
symptoms                   443
city                       119
province                   156
country                     14
latitude                     6
longitude                    8
geo_resolution               6
date_onset_symptoms          6
date_admission_hospital    227
date_confirmation           23
date_death_or_discharge    787
source                      30
dtype: int64

In [161]:
columns=df.columns

for col in columns:
	if df[col].isnull().any():
		if df[col].dtype == "object":
			df[col].fillna(df[col].mode()[0], inplace=True)
		else: df[col].fillna(df[col].median(), inplace=True)

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_17709/2541562759.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [162]:
df.isnull().sum()

age                        0
sex                        0
cough                      0
fever                      0
chills                     0
sore_throat                0
headache                   0
fatigue                    0
urgency_of_admission       0
days_onset_to_admission    0
symptoms                   0
city                       0
province                   0
country                    0
latitude                   0
longitude                  0
geo_resolution             0
date_onset_symptoms        0
date_admission_hospital    0
date_confirmation          0
date_death_or_discharge    0
source                     0
dtype: int64

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      861 non-null    float64
 1   sex                      861 non-null    object
 2   cough                    861 non-null    object
 3   fever                    861 non-null    object
 4   chills                   861 non-null    object
 5   sore_throat              861 non-null    object
 6   headache                 861 non-null    object
 7   fatigue                  861 non-null    object
 8   urgency_of_admission     861 non-null    object
 9   days_onset_to_admission  861 non-null    float64
 10  symptoms                 861 non-null    object
 11  city                     861 non-null    object
 12  province                 861 non-null    object
 13  country                  861 non-null    object
 14  latitude                 861 non-null    float64
 15  longitude                861 non-null    float64
 16  geo_resolution           861 non-null    object
 17  date_onset_symptoms      861 non-null    object
 18  date_admission_hospital  861 non-null    object
 19  date_confirmation        861 non-null    object
 20  date_death_or_discharge  861 non-null    object
 21  source                   861 non-null    object
dtypes: float64(4), object(18)
memory usage: 148.1+ KB

# Encoding

In [164]:
df.nunique()

age                         76
sex                          2
cough                        2
fever                        2
chills                       2
sore_throat                  2
headache                     2
fatigue                      2
urgency_of_admission         2
days_onset_to_admission     31
symptoms                   201
city                       288
province                    93
country                     28
latitude                   314
longitude                  314
geo_resolution               5
date_onset_symptoms         70
date_admission_hospital     59
date_confirmation           56
date_death_or_discharge     38
source                     376
dtype: int64

In [165]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

columns=df.columns

for col in columns:
	if df[col].dtype == "object":
		if df[col].nunique() <= 2:
			dummies=pd.get_dummies(df[col], prefix="col", dtype=int)
			df=pd.concat([df.drop(columns=[col]), dummies], axis=1)
		else: df[col]=encoder.fit_transform(df[col])

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      861 non-null    float64
 1   days_onset_to_admission  861 non-null    float64
 2   symptoms                 861 non-null    int64
 3   city                     861 non-null    int64
 4   province                 861 non-null    int64
 5   country                  861 non-null    int64
 6   latitude                 861 non-null    float64
 7   longitude                861 non-null    float64
 8   geo_resolution           861 non-null    int64
 9   date_onset_symptoms      861 non-null    int64
 10  date_admission_hospital  861 non-null    int64
 11  date_confirmation        861 non-null    int64
 12  date_death_or_discharge  861 non-null    int64
 13  source                   861 non-null    int64
 14  col_female               861 non-null    int64
 15  col_male                 861 non-null    int64
 16  col_No                   861 non-null    int64
 17  col_Yes                  861 non-null    int64
 18  col_No                   861 non-null    int64
 19  col_Yes                  861 non-null    int64
 20  col_No                   861 non-null    int64
 21  col_Yes                  861 non-null    int64
 22  col_No                   861 non-null    int64
 23  col_Yes                  861 non-null    int64
 24  col_No                   861 non-null    int64
 25  col_Yes                  861 non-null    int64
 26  col_No                   861 non-null    int64
 27  col_Yes                  861 non-null    int64
 28  col_High                 861 non-null    int64
 29  col_Low                  861 non-null    int64
dtypes: float64(4), int64(26)
memory usage: 201.9 KB

In [167]:
df.head(10)

,age,days_onset_to_admission,symptoms,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,col_No,col_Yes,col_No,col_Yes,col_No,col_Yes,col_No,col_Yes,col_High,col_Low
0,30.0,2.0,92,33,1,5,31.646960,109.986400,3,16,...,1,0,1,0,1,0,1,0,0,1
1,47.0,11.0,92,12,1,5,31.778630,109.986400,3,8,...,1,0,1,0,1,0,1,0,0,1
2,49.0,5.0,92,92,1,5,31.828313,117.224844,4,13,...,1,0,1,0,1,0,1,0,0,1
3,47.0,3.0,92,92,1,5,31.828313,117.224844,4,15,...,1,0,1,0,1,0,1,0,0,1
4,50.0,11.0,92,59,1,5,32.001230,117.568100,3,8,...,1,0,1,0,1,0,1,0,0,1
5,42.0,0.0,92,66,1,5,32.918800,115.703600,2,19,...,1,0,1,0,1,0,1,0,1,0
6,59.0,5.0,92,102,1,5,32.757380,116.734000,2,17,...,1,0,1,0,1,0,1,0,0,1
7,30.0,5.0,92,88,1,5,31.794440,117.342800,2,15,...,1,0,1,0,1,0,1,0,0,1
8,38.0,0.0,36,41,1,5,33.436710,109.986400,4,20,...,1,0,1,0,1,0,1,0,1,0
9,45.0,0.0,92,18,1,5,33.436710,109.986400,4,20,...,1,0,1,0,1,0,1,0,1,0

# Scaling

In [168]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

sScaler=StandardScaler()
mScaler=MinMaxScaler()
rScaler=RobustScaler()

# for col in df.columns:
# 		df[col]=mScaler.fit_transform(df[[col]])

# for col in df.columns:
# 		df[col]=sScaler.fit_transform(df[[col]])

# for col in df.columns:
# 		df[col]=rScaler.fit_transform(df[[col]])
		
	
num_col=df.select_dtypes(include=['int64','float64']).columns.drop("days_onset_to_admission")
for col in num_col:
    df[col]=rScaler.fit_transform(df[[col]])

In [169]:
df.head()

,age,days_onset_to_admission,symptoms,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,col_No,col_Yes,col_No,col_Yes,col_No,col_Yes,col_No,col_Yes,col_High,col_Low
0,-0.666667,2.0,0.0,-1.300971,-0.964912,0.0,-0.125394,0.000000,0.0,-0.458333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.041667,11.0,0.0,-1.504854,-0.964912,0.0,-0.116169,0.000000,0.0,-0.791667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.125000,5.0,0.0,-0.728155,-0.964912,0.0,-0.112688,0.423086,0.5,-0.583333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.041667,3.0,0.0,-0.728155,-0.964912,0.0,-0.112688,0.423086,0.5,-0.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.166667,11.0,0.0,-1.048544,-0.964912,0.0,-0.100573,0.443149,0.0,-0.791667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0