# Data bn tanishuv

In [ ]:
import pandas as pd

In [ ]:
# Install qilish
    #1. pip install pandas
    #2. %pip install pandas
    #3. !pip install pandas

In [15]:
df=pd.read_csv('../Data/Iris.csv')

In [17]:
# head boshida 5 ta qatorni ko'rsatadi
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
# tail oxirida 3 ta qatorni ko'rsatadi
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [21]:
df.nunique()   # xar bir ustundagi classlar soni

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [ ]:
df['Id'].nunique() # Id ustunidagi unique qiymatlar soni

150

In [27]:
df['Id']

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [ ]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [29]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.info()   #data xaqida umumuy malumot olish

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7038 non-null   float64
 3   Partner           7043 non-null   object
 4   Dependents        7042 non-null   object
 5   tenure            7042 non-null   float64
 6   PhoneService      7042 non-null   object
 7   MultipleLines     7042 non-null   object
 8   InternetService   7042 non-null   object
 9   OnlineSecurity    7042 non-null   object
 10  OnlineBackup      7042 non-null   object
 11  DeviceProtection  7042 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(3), object(18)
memory usage: 1.1+ MB

In [20]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       5
Partner             0
Dependents          1
tenure              1
PhoneService        1
MultipleLines       1
InternetService     1
OnlineSecurity      1
OnlineBackup        1
DeviceProtection    1
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [22]:
df.isnull().any()

customerID          False
gender              False
SeniorCitizen        True
Partner             False
Dependents           True
tenure               True
PhoneService         True
MultipleLines        True
InternetService      True
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

# Conditions

In [ ]:
#agar son musbat bolsa yaxshi aks xolda yomon degan sozni ekranga chiqaring

In [28]:
a=4
if a>0:
    print('Yaxshi')
elif a<0:
    print('Yomon')
else:
    print('nol')

Yaxshi

In [29]:
baxo=4
if baxo==5:
    print('alo')
elif baxo==4:
    print('yaxshi')
elif baxo==3:
    print('ortacha')
elif baxo==2:
    print('yomon')
else:
    print('xatolik bor yoki juda yomon')

yaxshi