# Data bn tanishuv

In [2]:
import pandas as pd

In [ ]:
# Install qilish
    #1. pip install pandas
    #2. %pip install pandas
    #3. !pip install pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\davro\.jupyter\new folder\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\davro\.jupyter\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\.jupyter\new folder\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\.jupyter\new folder\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\davro\.jupyter\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\davro\.jupyter\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\davro\.jupyter\New folder\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (c:\Users\davro\.jupyter\New folder\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\davro\.jupyter\New folder\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (c:\Users\davro\.jupyter\New folder\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\davro\.jupyter\New folder\Lib\site-packages)
WARNING: Ignoring invalid distribution ~lotly (c:\Users\davro\.jupyter\New folder\Lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: c:\Users\davro\.jupyter\New folder\python.exe -m pip install --upgrade pip

In [3]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn (1).csv')

In [8]:
#1 df.head
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
df.tail(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7040,4801-JZAZL,Female,0.0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0.0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
df.nunique()   # xar bir ustundagi classlar soni

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [13]:
df['Churn'].nunique()

2

In [14]:
df['Churn']

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

In [ ]:
df[['Churn','gender','Contract']]

     Churn  gender        Contract
0       No  Female  Month-to-month
1       No    Male        One year
2      Yes    Male  Month-to-month
3       No    Male        One year
4      Yes  Female  Month-to-month
...    ...     ...             ...
7038    No    Male        One year
7039    No  Female        One year
7040    No  Female  Month-to-month
7041   Yes    Male  Month-to-month
7042    No    Male        Two year

[7043 rows x 3 columns]

In [18]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.info()   #data xaqida umumuy malumot olish

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7038 non-null   float64
 3   Partner           7043 non-null   object
 4   Dependents        7042 non-null   object
 5   tenure            7042 non-null   float64
 6   PhoneService      7042 non-null   object
 7   MultipleLines     7042 non-null   object
 8   InternetService   7042 non-null   object
 9   OnlineSecurity    7042 non-null   object
 10  OnlineBackup      7042 non-null   object
 11  DeviceProtection  7042 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(3), object(18)
memory usage: 1.1+ MB

In [20]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       5
Partner             0
Dependents          1
tenure              1
PhoneService        1
MultipleLines       1
InternetService     1
OnlineSecurity      1
OnlineBackup        1
DeviceProtection    1
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [22]:
df.isnull().any()

customerID          False
gender              False
SeniorCitizen        True
Partner             False
Dependents           True
tenure               True
PhoneService         True
MultipleLines        True
InternetService      True
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

# Conditions

In [ ]:
#agar son musbat bolsa yaxshi aks xolda yomon degan sozni ekranga chiqaring

In [28]:
a=4
if a>0:
    print('Yaxshi')
elif a<0:
    print('Yomon')
else:
    print('nol')

Yaxshi

In [29]:
baxo=4
if baxo==5:
    print('alo')
elif baxo==4:
    print('yaxshi')
elif baxo==3:
    print('ortacha')
elif baxo==2:
    print('yomon')
else:
    print('xatolik bor yoki juda yomon')

yaxshi