# Data preprocessing

In [268]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [269]:
df = pd.read_csv('retail_store_sales.csv')

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [271]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [272]:
df.sample(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
11579,TXN_4475893,CUST_11,Beverages,Item_25_BEV,41.0,6.0,246.0,Credit Card,Online,2024-09-25,NaN
6584,TXN_3652475,CUST_12,Computers and electric accessories,Item_19_CEA,32.0,2.0,64.0,Credit Card,In-store,2022-11-28,NaN
2456,TXN_5186140,CUST_13,Food,Item_18_FOOD,30.5,6.0,183.0,Cash,Online,2023-07-04,False
548,TXN_3543865,CUST_09,Computers and electric accessories,Item_12_CEA,21.5,1.0,21.5,Cash,In-store,2023-11-20,NaN
12236,TXN_6750796,CUST_09,Milk Products,Item_4_MILK,9.5,7.0,66.5,Digital Wallet,In-store,2024-10-08,True
5020,TXN_4103847,CUST_22,Furniture,Item_2_FUR,6.5,4.0,26.0,Credit Card,In-store,2022-03-09,False
792,TXN_4077794,CUST_19,Butchers,Item_23_BUT,38.0,2.0,76.0,Cash,In-store,2024-07-30,True
3322,TXN_2780567,CUST_10,Butchers,Item_18_BUT,30.5,6.0,183.0,Digital Wallet,Online,2024-09-12,False
10090,TXN_4251687,CUST_25,Computers and electric accessories,Item_6_CEA,12.5,7.0,87.5,Cash,In-store,2022-07-19,False
1882,TXN_1417703,CUST_17,Milk Products,Item_1_MILK,5.0,8.0,40.0,Cash,In-store,2024-06-07,True

| Code             | Purpose                      | Works On           | Notes                             |
| ---------------- | ---------------------------- | ------------------ | --------------------------------- |
| `fillna(mean)`   | Replace missing with average | int, float         | Sensitive to outliers             |
| `fillna(mode)`   | Replace with most frequent   | object, int, float | Good for categories               |
| `fillna(median)` | Replace with middle value    | int, float         | Robust to outliers                |
| `fillna(value)`  | Replace with constant        | any                | Manual default fill               |
| `drop(axis=1)`   | Drop column                  | column name        | Removes unwanted or empty columns |
| `dropna()`       | Drop rows with missing       | entire row         | Use carefully on large datasets   |

# Mean

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [274]:
df['Price Per Unit'].fillna(df['Price Per Unit'].mean(), inplace=True)

In [275]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit         0
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

# Mode

In [276]:
df['Item'].fillna(df['Item'].mode()[0], inplace=True)

In [277]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                   0
Price Per Unit         0
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

# Median

In [278]:
print(type(df['Quantity'][0]))
df['Quantity'].fillna(df['Quantity'].median(), inplace=True)

<class 'numpy.float64'>

In [279]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                   0
Price Per Unit         0
Quantity               0
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [280]:
df.sample(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
660,TXN_3603496,CUST_03,Computers and electric accessories,Item_22_CEA,36.5,8.0,292.0,Credit Card,Online,2023-11-08,False
12433,TXN_9397079,CUST_05,Electric household essentials,Item_23_EHE,38.0,7.0,266.0,Credit Card,In-store,2022-10-02,False
6888,TXN_5488903,CUST_24,Furniture,Item_23_FUR,38.0,5.0,190.0,Credit Card,Online,2024-03-16,NaN
1899,TXN_6843971,CUST_01,Beverages,Item_25_BEV,41.0,4.0,164.0,Credit Card,In-store,2022-08-07,True
3377,TXN_2270221,CUST_01,Patisserie,Item_17_PAT,29.0,10.0,290.0,Digital Wallet,In-store,2022-09-01,True
5016,TXN_1707962,CUST_12,Computers and electric accessories,Item_5_CEA,11.0,8.0,88.0,Credit Card,Online,2022-08-20,False
12566,TXN_6298574,CUST_01,Milk Products,Item_1_MILK,5.0,4.0,20.0,Cash,Online,2023-05-09,False
12045,TXN_4090699,CUST_20,Furniture,Item_8_FUR,15.5,1.0,15.5,Digital Wallet,In-store,2024-07-27,True
3917,TXN_1212420,CUST_05,Patisserie,Item_13_PAT,23.0,2.0,46.0,Credit Card,Online,2022-06-21,NaN
4960,TXN_1257071,CUST_12,Electric household essentials,Item_11_EHE,20.0,5.0,100.0,Digital Wallet,In-store,2024-01-29,True
879,TXN_4274209,CUST_01,Beverages,Item_10_BEV,18.5,9.0,166.5,Cash,Online,2024-11-19,False
4738,TXN_3824826,CUST_25,Milk Products,Item_16_MILK,27.5,9.0,247.5,Digital Wallet,Online,2022-05-30,True
3020,TXN_1648617,CUST_05,Electric household essentials,Item_22_EHE,36.5,9.0,328.5,Cash,In-store,2023-01-11,True
12373,TXN_5308530,CUST_07,Milk Products,Item_16_MILK,27.5,9.0,247.5,Digital Wallet,In-store,2023-12-18,False
10916,TXN_7274761,CUST_11,Patisserie,Item_11_PAT,20.0,9.0,180.0,Digital Wallet,In-store,2023-01-25,False

# Fixed

In [281]:
mean = df['Total Spent'].mean()
df['Total Spent'].fillna(mean, inplace=True)

In [282]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                   0
Price Per Unit         0
Quantity               0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

# Drop

In [283]:
df.drop('Discount Applied',axis=1,inplace=True)

In [284]:
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [285]:
df.sample(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date
4592,TXN_5451213,CUST_12,Beverages,Item_21_BEV,35.000000,9.0,315.0,Digital Wallet,In-store,2024-01-12
8180,TXN_7782445,CUST_13,Patisserie,Item_24_PAT,39.500000,9.0,355.5,Digital Wallet,In-store,2024-07-30
6995,TXN_4613619,CUST_03,Beverages,Item_20_BEV,33.500000,3.0,100.5,Digital Wallet,Online,2022-10-07
12109,TXN_8456166,CUST_11,Furniture,Item_15_FUR,26.000000,1.0,26.0,Cash,In-store,2023-08-08
10064,TXN_9925855,CUST_03,Beverages,Item_2_BEV,23.365912,8.0,304.0,Digital Wallet,In-store,2024-10-02
10334,TXN_3349989,CUST_07,Milk Products,Item_18_MILK,30.500000,7.0,213.5,Cash,Online,2023-09-16
1214,TXN_6039588,CUST_01,Furniture,Item_14_FUR,24.500000,7.0,171.5,Credit Card,In-store,2024-03-02
7569,TXN_4030118,CUST_04,Computers and electric accessories,Item_10_CEA,18.500000,4.0,74.0,Credit Card,In-store,2022-11-20
7706,TXN_8247054,CUST_15,Furniture,Item_2_FUR,6.500000,10.0,65.0,Digital Wallet,In-store,2025-01-09
6623,TXN_3301108,CUST_19,Food,Item_13_FOOD,23.000000,4.0,92.0,Cash,In-store,2024-12-22
2772,TXN_7110095,CUST_12,Patisserie,Item_23_PAT,38.000000,5.0,190.0,Digital Wallet,Online,2023-05-02
10682,TXN_9832770,CUST_23,Computers and electric accessories,Item_22_CEA,36.500000,9.0,328.5,Cash,Online,2024-02-22
9578,TXN_7664369,CUST_12,Furniture,Item_8_FUR,15.500000,3.0,46.5,Cash,Online,2022-09-17
8100,TXN_8519447,CUST_20,Electric household essentials,Item_15_EHE,26.000000,4.0,104.0,Credit Card,In-store,2024-07-31
3045,TXN_1440439,CUST_09,Butchers,Item_18_BUT,30.500000,9.0,274.5,Credit Card,In-store,2023-06-12
3563,TXN_3766245,CUST_01,Beverages,Item_7_BEV,14.000000,6.0,84.0,Credit Card,In-store,2024-09-12
12522,TXN_3279700,CUST_12,Beverages,Item_7_BEV,14.000000,5.0,70.0,Credit Card,Online,2023-08-05
1029,TXN_1860632,CUST_18,Computers and electric accessories,Item_14_CEA,24.500000,8.0,196.0,Cash,In-store,2022-11-30
4865,TXN_4237426,CUST_13,Computers and electric accessories,Item_19_CEA,32.000000,7.0,224.0,Digital Wallet,Online,2022-01-24
11061,TXN_7881392,CUST_14,Computers and electric accessories,Item_11_CEA,20.000000,8.0,160.0,Digital Wallet,Online,2023-05-13

# ENCODING


### One-hot Encoding
### Label Encoding

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              12575 non-null  object
 4   Price Per Unit    12575 non-null  float64
 5   Quantity          12575 non-null  float64
 6   Total Spent       12575 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
dtypes: float64(3), object(7)
memory usage: 982.6+ KB

In [287]:
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [288]:
unique_counts = df.nunique()
print(unique_counts)

Transaction ID      12575
Customer ID            25
Category                8
Item                  200
Price Per Unit         26
Quantity               10
Total Spent           228
Payment Method          3
Location                2
Transaction Date     1114
dtype: int64

In [289]:
# Above method shows that the colums " Location" and " Payment Method" can be encoded with the help of One-hot encoding

In [290]:
# "Location" is encoded with one-hot encoding
# we create new colums using pd.get_dummies()
# we add new numerical columns to our df and drop the actual "Location" column.


dummies = pd.get_dummies(df['Location'], prefix='Location', dtype=int) 
dummies1 = pd.get_dummies(df['Payment Method'], prefix='Payment', dtype=int)

In [291]:
df = pd.concat([df.drop(columns=['Location']), dummies], axis=1)
df = pd.concat([df.drop(columns=['Payment Method']), dummies1], axis=1)
df.sample(5)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Transaction Date,Location_In-store,Location_Online,Payment_Cash,Payment_Credit Card,Payment_Digital Wallet
10414,TXN_5500210,CUST_14,Electric household essentials,Item_16_EHE,27.5,9.0,247.5,2022-01-23,0,1,0,1,0
1542,TXN_3822308,CUST_02,Electric household essentials,Item_4_EHE,9.5,6.0,57.0,2024-05-06,1,0,1,0,0
8116,TXN_5845226,CUST_08,Patisserie,Item_11_PAT,20.0,10.0,200.0,2023-07-24,1,0,0,1,0
5729,TXN_3134220,CUST_04,Beverages,Item_24_BEV,39.5,7.0,276.5,2022-05-28,1,0,1,0,0
2138,TXN_3243042,CUST_15,Butchers,Item_13_BUT,23.0,10.0,230.0,2024-12-15,0,1,1,0,0

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          12575 non-null  object
 1   Customer ID             12575 non-null  object
 2   Category                12575 non-null  object
 3   Item                    12575 non-null  object
 4   Price Per Unit          12575 non-null  float64
 5   Quantity                12575 non-null  float64
 6   Total Spent             12575 non-null  float64
 7   Transaction Date        12575 non-null  object
 8   Location_In-store       12575 non-null  int32
 9   Location_Online         12575 non-null  int32
 10  Payment_Cash            12575 non-null  int32
 11  Payment_Credit Card     12575 non-null  int32
 12  Payment_Digital Wallet  12575 non-null  int32
dtypes: float64(3), int32(5), object(5)
memory usage: 1.0+ MB

In [293]:
unique_counts = df.nunique()
print(unique_counts)

Transaction ID            12575
Customer ID                  25
Category                      8
Item                        200
Price Per Unit               26
Quantity                     10
Total Spent                 228
Transaction Date           1114
Location_In-store             2
Location_Online               2
Payment_Cash                  2
Payment_Credit Card           2
Payment_Digital Wallet        2
dtype: int64

### Label encoding

In [294]:
# Now we have columns:

# Transaction ID           
# Customer ID                 
# Category                     
# Item       
# Transaction Date           

# These are columns whose elements are classified as objects and they need to be encoded

In [295]:
encoder = LabelEncoder()
encoder

LabelEncoder()

In [296]:
df['Transaction ID'] = encoder.fit_transform(df['Transaction ID'])
df['Customer ID'] = encoder.fit_transform(df['Customer ID'])
df['Category'] = encoder.fit_transform(df['Category'])
df['Item'] = encoder.fit_transform(df['Item'])
df['Transaction Date'] = encoder.fit_transform(df['Transaction Date'])

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          12575 non-null  int32
 1   Customer ID             12575 non-null  int32
 2   Category                12575 non-null  int32
 3   Item                    12575 non-null  int32
 4   Price Per Unit          12575 non-null  float64
 5   Quantity                12575 non-null  float64
 6   Total Spent             12575 non-null  float64
 7   Transaction Date        12575 non-null  int32
 8   Location_In-store       12575 non-null  int32
 9   Location_Online         12575 non-null  int32
 10  Payment_Cash            12575 non-null  int32
 11  Payment_Credit Card     12575 non-null  int32
 12  Payment_Digital Wallet  12575 non-null  int32
dtypes: float64(3), int32(10)
memory usage: 786.1 KB

In [298]:
#  Now our columns consist of numerical values and no missing values exist.

In [300]:
df.sample(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Transaction Date,Location_In-store,Location_Online,Payment_Cash,Payment_Credit Card,Payment_Digital Wallet
9896,6103,11,0,136,23.365912,3.0,46.5,1051,0,1,0,0,1
4212,10283,12,1,121,39.500000,1.0,39.5,729,0,1,0,0,1
897,10530,23,2,194,17.000000,3.0,51.0,957,0,1,0,0,1
11003,8752,16,0,152,9.500000,7.0,66.5,892,0,1,0,1,0
8538,11720,5,2,138,6.500000,2.0,13.0,621,0,1,1,0,0
7150,8499,0,4,148,8.000000,5.0,40.0,455,1,0,1,0,0
6294,2984,12,0,96,35.000000,10.0,350.0,1010,0,1,0,0,1
12318,3027,16,0,144,8.000000,3.0,24.0,102,1,0,0,0,1
4849,4222,23,2,74,32.000000,3.0,96.0,219,1,0,0,0,1
1772,8444,3,1,185,15.500000,5.0,77.5,404,1,0,0,0,1