# Data preprocessing

In [144]:
import pandas as pd
df=pd.read_csv('airports.csv')

/var/folders/29/3wjjx52s4xg8sz61ld_6sfqw0000gn/T/ipykernel_6566/3676477858.py:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('airports.csv')

In [145]:
df.head()

,id,ident,icao,iata,gps_code,local_code,name,latitude,longitude,elevation,continent,country,region,municipality,scheduled_service,web_url,wikipedia_url,keywords,timezone,airport_type
0,1,AGGJ,AGGJ,AVU,AGGJ,NaN,Avu Avu Airport,-9.868333,160.410556,25.0,OC,SB,SB-GU,NaN,no,NaN,NaN,NaN,Pacific/Guadalcanal,small_airport
1,2,CYPW,CYPW,YPW,CYPW,NaN,Powell River Airport,49.834202,-124.500000,425.0,NaN,CA,CA-BC,Powell River,yes,NaN,https://en.wikipedia.org/wiki/Powell_River_Air...,NaN,America/Vancouver,medium_airport
2,3,DE-0274,NaN,NaN,NaN,NaN,Flugplatz Dauborn,50.321667,8.193889,NaN,EU,DE,DE-HE,NaN,no,NaN,NaN,NaN,NaN,small_airport
3,4,EDCE,NaN,NaN,EDCE,NaN,Sonderlandeplatz Eggersdorf,52.481667,14.087500,223.0,EU,DE,DE-BR,Eggersdorf,no,http://www.flugplatz-eggersdorf.de/,https://de.wikipedia.org/wiki/Flugplatz_Eggers...,NaN,NaN,small_airport
4,5,DNMA,DNMA,MIU,DNMA,NaN,Maiduguri International Airport,11.855300,13.080900,1099.0,AF,NG,NG-BO,Maiduguri,yes,http://www.faannigeria.org/nigeria-airport.php...,https://en.wikipedia.org/wiki/Maiduguri_Intern...,NaN,Africa/Lagos,medium_airport

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 71219 non-null  int64
 1   ident              71175 non-null  object
 2   icao               38616 non-null  object
 3   iata               9296 non-null   object
 4   gps_code           42769 non-null  object
 5   local_code         32519 non-null  object
 6   name               71219 non-null  object
 7   latitude           71179 non-null  float64
 8   longitude          71178 non-null  float64
 9   elevation          57424 non-null  float64
 10  continent          36397 non-null  object
 11  country            70862 non-null  object
 12  region             71175 non-null  object
 13  municipality       65879 non-null  object
 14  scheduled_service  71175 non-null  object
 15  web_url            3383 non-null   object
 16  wikipedia_url      10475 non-null  object
 17  keywords           12959 non-null  object
 18  timezone           29203 non-null  object
 19  airport_type       71176 non-null  object
dtypes: float64(3), int64(1), object(16)
memory usage: 10.9+ MB

# Keraksiz ustunni tashlab yuborish

In [147]:
df.drop("id", axis=1, inplace=True)

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident              71175 non-null  object
 1   icao               38616 non-null  object
 2   iata               9296 non-null   object
 3   gps_code           42769 non-null  object
 4   local_code         32519 non-null  object
 5   name               71219 non-null  object
 6   latitude           71179 non-null  float64
 7   longitude          71178 non-null  float64
 8   elevation          57424 non-null  float64
 9   continent          36397 non-null  object
 10  country            70862 non-null  object
 11  region             71175 non-null  object
 12  municipality       65879 non-null  object
 13  scheduled_service  71175 non-null  object
 14  web_url            3383 non-null   object
 15  wikipedia_url      10475 non-null  object
 16  keywords           12959 non-null  object
 17  timezone           29203 non-null  object
 18  airport_type       71176 non-null  object
dtypes: float64(3), object(16)
memory usage: 10.3+ MB

In [149]:
df.isnull().sum()

ident                   44
icao                 32603
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                40
longitude               41
elevation            13795
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

# Mean (O'rta arifmetik)

In [ ]:
df["elevation"].fillna(df["elevation"].mean(), inplace=True)

In [151]:
df.isnull().sum()

ident                   44
icao                 32603
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                40
longitude               41
elevation                0
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

In [ ]:
df["ident"].fillna(df["ident"].mode()[0], inplace=True)

In [153]:
df.isnull().sum()

ident                    0
icao                 32603
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                40
longitude               41
elevation                0
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

In [ ]:
df["longitude"].fillna(df["longitude"].median(), inplace=True)

In [ ]:
df["latitude"].fillna(df["latitude"].median(), inplace=True)

In [156]:
df.isnull().sum()

ident                    0
icao                 32603
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                 0
longitude                0
elevation                0
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

In [157]:
df.describe()

           latitude     longitude     elevation
count  71219.000000  71219.000000  71219.000000
mean      25.913468    -29.824658   1292.720901
std       26.202745     85.594936   1492.307484
min      -90.000000   -179.876999  -1266.000000
25%       13.206818    -94.227995    315.000000
50%       35.211601    -70.669190   1007.000000
75%       42.789455     22.200283   1292.720901
max       82.750000    179.975700  22000.000000

In [ ]:
df["icao"].fillna("AGGJ", inplace=True)

In [159]:
df.isnull().sum()

ident                    0
icao                     0
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                 0
longitude                0
elevation                0
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

# Drop (qatorlar bo'yicha)

In [160]:
# df.dropna(inplace=True)

In [161]:
df.isnull().sum()

ident                    0
icao                     0
iata                 61923
gps_code             28450
local_code           38700
name                     0
latitude                 0
longitude                0
elevation                0
continent            34822
country                357
region                  44
municipality          5340
scheduled_service       44
web_url              67836
wikipedia_url        60744
keywords             58260
timezone             42016
airport_type            43
dtype: int64

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident              71219 non-null  object
 1   icao               71219 non-null  object
 2   iata               9296 non-null   object
 3   gps_code           42769 non-null  object
 4   local_code         32519 non-null  object
 5   name               71219 non-null  object
 6   latitude           71219 non-null  float64
 7   longitude          71219 non-null  float64
 8   elevation          71219 non-null  float64
 9   continent          36397 non-null  object
 10  country            70862 non-null  object
 11  region             71175 non-null  object
 12  municipality       65879 non-null  object
 13  scheduled_service  71175 non-null  object
 14  web_url            3383 non-null   object
 15  wikipedia_url      10475 non-null  object
 16  keywords           12959 non-null  object
 17  timezone           29203 non-null  object
 18  airport_type       71176 non-null  object
dtypes: float64(3), object(16)
memory usage: 10.3+ MB

# Drop (stun bo'yicha => 50% dan ko'p qiymatlr tushib qolgan bo'lsa ishlatamiz)

In [163]:
df.drop("iata", axis=1, inplace=True)
df.drop("local_code", axis=1, inplace=True)
df.drop("continent", axis=1, inplace=True)
df.drop("web_url", axis=1, inplace=True)
df.drop("wikipedia_url", axis=1, inplace=True)
df.drop("keywords", axis=1, inplace=True)
df.drop("timezone", axis=1, inplace=True)

In [ ]:
df["gps_code"].fillna(df["gps_code"].mode()[0], inplace=True)
df["country"].fillna(df["country"].mode()[0], inplace=True)
df["region"].fillna(df["region"].mode()[0], inplace=True)
df["municipality"].fillna(df["municipality"].mode()[0], inplace=True)
df["scheduled_service"].fillna(df["scheduled_service"].mode()[0], inplace=True)
df["airport_type"].fillna(df["airport_type"].mode()[0], inplace=True)

In [165]:
df.isnull().sum()

ident                0
icao                 0
gps_code             0
name                 0
latitude             0
longitude            0
elevation            0
country              0
region               0
municipality         0
scheduled_service    0
airport_type         0
dtype: int64

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71219 entries, 0 to 71218
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident              71219 non-null  object
 1   icao               71219 non-null  object
 2   gps_code           71219 non-null  object
 3   name               71219 non-null  object
 4   latitude           71219 non-null  float64
 5   longitude          71219 non-null  float64
 6   elevation          71219 non-null  float64
 7   country            71219 non-null  object
 8   region             71219 non-null  object
 9   municipality       71219 non-null  object
 10  scheduled_service  71219 non-null  object
 11  airport_type       71219 non-null  object
dtypes: float64(3), object(9)
memory usage: 6.5+ MB

# Data types, conditions and operations

# Discount Calculator

In [167]:
price = 1200

if price > 1000:
    discount = price * 0.10
else:
    discount = 0

print("Final price:", price - discount)

Final price: 1080.0

# Largest of Three Numbers

In [168]:
a = 10
b = 25
c = 15

if a >= b and a >= c:
    print("a is largest")
elif b >= a and b >= c:
    print("b is largest")
else:
    print("c is largest")

b is largest

# Login System

In [169]:
username = "admin"
password = "1234"

if username == "admin" and password == "1234":
    print("Login successful")
else:
    print("Access denied")

Login successful