# 5dars uchun vazifa

In [318]:
import pandas as pd
df=pd.read_csv('titanic.csv')

In [319]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1.0,NaN,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,NaN,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0.0,NaN,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S

In [320]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.00,NaN,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.00,B42,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.45,NaN,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.00,C148,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.75,NaN,Q

# `MEAN` da o'rta arifmetik qiymat bilan to'ldirishdagi kod

In [321]:
df.isnull().sum()

PassengerId      0
Survived         5
Pclass           5
Name             4
Sex              4
Age            182
SibSp            4
Parch            4
Ticket           0
Fare             4
Cabin          687
Embarked         2
dtype: int64

In [322]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     886 non-null    float64
 2   Pclass       886 non-null    float64
 3   Name         887 non-null    str
 4   Sex          887 non-null    str
 5   Age          709 non-null    float64
 6   SibSp        887 non-null    float64
 7   Parch        887 non-null    float64
 8   Ticket       891 non-null    str
 9   Fare         887 non-null    float64
 10  Cabin        204 non-null    str
 11  Embarked     889 non-null    str
dtypes: float64(6), int64(1), str(5)
memory usage: 83.7 KB

In [323]:
# df['Survived'] = df['Survived'].fillna(df['Survived'].mean(),inplace=True) ----> bu usuli ham bor!
# df.mean({df['Survived']: 'Survived'}, inplace=True)
df.fillna({'Survived': df['Survived'].mean()}, inplace=True)  #bu varianti ham bor, iloji bo'lsa shundan foydalanishim pandas tominidan qo'llab quvvatlanadi.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1.0,NaN,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,NaN,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0.0,NaN,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.0000,NaN,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.0000,B42,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.4500,NaN,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,NaN,Q

In [324]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           5
Name             4
Sex              4
Age            182
SibSp            4
Parch            4
Ticket           0
Fare             4
Cabin          687
Embarked         2
dtype: int64

# `MODE` eng ko'p qaytarilgan qiymat (sonlar bir xil qaytarilsa mindan max ko'rinishida berib min qiymatni[0] qiymat deb olib beradi)

In [325]:
# df['Pclass'] = df['Pclass'].fillna(df['Pclass'].mean(),inplace=True)
# df.fillna({"Pclass": df['Pclass'].mean()},inplace=True) ---> Bu qiymat 1,2,3 bo`lganligi uchun mode method bilan to`ldirish yaxshiroq
# df['Pclass'] = df['Pclass'].fillna(df['Pclass'].mode()[0],inplace=True)
df.fillna({'Pclass': df['Pclass'].mode()[0]},inplace=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,3.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.0000,NaN,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.0000,B42,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.4500,NaN,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,NaN,Q

In [326]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             4
Sex              4
Age            182
SibSp            4
Parch            4
Ticket           0
Fare             4
Cabin          687
Embarked         2
dtype: int64

# `MEDIAN` eng o'rtadagi qiymat aniqlab berish uchun

In [327]:
# df['Age'].fillna(df['Age'].median(),inplace=True)
# df['Age'] = df['Age'].fillna(df['Age'].median(),inplace=True)
df.fillna({'Age': df['Age'].median()},inplace=True) # ---> shu eng yaxshi foydalanish uchun

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,3.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.0000,NaN,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.0000,B42,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1.0,2.0,W./C. 6607,23.4500,NaN,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,NaN,Q

In [328]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             4
Sex              4
Age              0
SibSp            4
Parch            4
Ticket           0
Fare             4
Cabin          687
Embarked         2
dtype: int64

# `FIXED` usulida qatorlarni to'ldirish

In [329]:
# df['Name'].fillna('Ali',inplace=True)
# df['Name'] = df['Name'].fillna('Ali',inplace=True)
df['Name'] = df['Name'].fillna('Ali')
# df.fillna({'Name': 'Ali'},inplace=True)

In [330]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              4
Age              0
SibSp            4
Parch            4
Ticket           0
Fare             4
Cabin          687
Embarked         2
dtype: int64

# `DROP` usuli orqali qatorlarni tashlab yuborish

In [331]:
# qatorlar bo'yicha 1-holat
df.dropna(inplace=True)

In [332]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [333]:
#drop ustun boyicha, malum bir ustunda juda kop(50% dan kop) qiymatlar tushib qolganda tashlab yuboramiz bu usutunni butunlay
df.drop('Name',axis=1,inplace=True)

In [334]:
df.info()

<class 'pandas.DataFrame'>
Index: 200 entries, 1 to 889
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  200 non-null    int64
 1   Survived     200 non-null    float64
 2   Pclass       200 non-null    float64
 3   Sex          200 non-null    str
 4   Age          200 non-null    float64
 5   SibSp        200 non-null    float64
 6   Parch        200 non-null    float64
 7   Ticket       200 non-null    str
 8   Fare         200 non-null    float64
 9   Cabin        200 non-null    str
 10  Embarked     200 non-null    str
dtypes: float64(6), int64(1), str(4)
memory usage: 18.8 KB

In [335]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# `ENCODING` vazifa (2ta turi bo'yicha--->1.one-hot, 2.label(tamg'a,belgi))

In [336]:
df.nunique()

PassengerId    200
Survived         3
Pclass           3
Sex              2
Age             63
SibSp            4
Parch            4
Ticket         139
Fare            97
Cabin          144
Embarked         3
dtype: int64

In [337]:
df.nunique()

PassengerId    200
Survived         3
Pclass           3
Sex              2
Age             63
SibSp            4
Parch            4
Ticket         139
Fare            97
Cabin          144
Embarked         3
dtype: int64

In [338]:
df.info()

<class 'pandas.DataFrame'>
Index: 200 entries, 1 to 889
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  200 non-null    int64
 1   Survived     200 non-null    float64
 2   Pclass       200 non-null    float64
 3   Sex          200 non-null    str
 4   Age          200 non-null    float64
 5   SibSp        200 non-null    float64
 6   Parch        200 non-null    float64
 7   Ticket       200 non-null    str
 8   Fare         200 non-null    float64
 9   Cabin        200 non-null    str
 10  Embarked     200 non-null    str
dtypes: float64(6), int64(1), str(4)
memory usage: 18.8 KB

# `ONE-HOT ENCODING`

In [339]:
dummies=pd.get_dummies(df['Survived'],prefix='ustun',dtype=int)

In [340]:
dummies

     ustun_0.0  ustun_0.3837471783295711  ustun_1.0
1            0                         0          1
3            0                         0          1
6            1                         0          0
10           0                         1          0
11           0                         1          0
..         ...                       ...        ...
871          0                         0          1
872          1                         0          0
879          0                         0          1
887          0                         0          1
889          0                         0          1

[200 rows x 3 columns]

In [341]:
df=pd.concat([df.drop(columns=['Survived']),dummies],axis=1)

In [342]:
df['Pclass']

1      1.0
3      3.0
6      3.0
10     3.0
11     1.0
      ...
871    1.0
872    1.0
879    1.0
887    1.0
889    1.0
Name: Pclass, Length: 200, dtype: float64

# `LABEL ENCODING`

In [343]:
df.info()

<class 'pandas.DataFrame'>
Index: 200 entries, 1 to 889
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PassengerId               200 non-null    int64
 1   Pclass                    200 non-null    float64
 2   Sex                       200 non-null    str
 3   Age                       200 non-null    float64
 4   SibSp                     200 non-null    float64
 5   Parch                     200 non-null    float64
 6   Ticket                    200 non-null    str
 7   Fare                      200 non-null    float64
 8   Cabin                     200 non-null    str
 9   Embarked                  200 non-null    str
 10  ustun_0.0                 200 non-null    int64
 11  ustun_0.3837471783295711  200 non-null    int64
 12  ustun_1.0                 200 non-null    int64
dtypes: float64(5), int64(4), str(4)
memory usage: 21.9 KB

In [345]:
from sklearn.preprocessing import LabelEncoder

In [346]:
encoder=LabelEncoder()

In [347]:
encoder

LabelEncoder()

In [348]:
df['Pclass']=encoder.fit_transform(df['Pclass'])

In [349]:
df.info()

<class 'pandas.DataFrame'>
Index: 200 entries, 1 to 889
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PassengerId               200 non-null    int64
 1   Pclass                    200 non-null    int64
 2   Sex                       200 non-null    str
 3   Age                       200 non-null    float64
 4   SibSp                     200 non-null    float64
 5   Parch                     200 non-null    float64
 6   Ticket                    200 non-null    str
 7   Fare                      200 non-null    float64
 8   Cabin                     200 non-null    str
 9   Embarked                  200 non-null    str
 10  ustun_0.0                 200 non-null    int64
 11  ustun_0.3837471783295711  200 non-null    int64
 12  ustun_1.0                 200 non-null    int64
dtypes: float64(4), int64(5), str(4)
memory usage: 21.9 KB

In [350]:
df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ustun_0.0,ustun_0.3837471783295711,ustun_1.0
1,2,0,female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,0,0,1
3,4,2,female,35.0,1.0,0.0,113803,53.1000,C123,S,0,0,1
6,7,2,male,54.0,0.0,0.0,17463,51.8625,E46,S,1,0,0
10,11,2,female,4.0,1.0,1.0,PP 9549,16.7000,G6,S,0,1,0
11,12,0,female,58.0,0.0,0.0,113783,26.5500,C103,S,0,1,0