#### 4-Dars Data preprocessing

In [2]:
import pandas as pd
df = pd.read_csv("./../Data/법무부_외국인체류데이터_20241231.csv", encoding='euc-kr')

In [ ]:
# boshidagi qatorlarni korish
df.head(1)

In [ ]:
# datatyperni korish
df.info()

In [ ]:
# 결측치 확인
df.isnull().sum() # 각 열(column)별로 결측치(NaN)가 몇 개인지 세는 코드입니다.

In [ ]:
# df["column_name"].isnull() # 특정 열(column)에서 결측치(NaN)가 있는지 확인하는 코드입니다.

In [ ]:
# df.describe() # 수치형 데이터의 기술통계량 확인

In [ ]:
df.isnull().any() # 결측치가 있는지 확인하는 코드입니다. ture false

In [ ]:

df.tail() # 하위 (5 개 기본)

In [ ]:
df.info()

In [19]:
students = df["D4(일반연수)"].sum()
permanent_Residents = df["F5(영주)"].sum()

print("한국에서 언어 교육으로 온 유학생 수는",students, "명입니다.")
print("한국에서 영주권을 가진 외국인 수는",permanent_Residents, "명입니다.")

한국에서 언어 교육으로 온 유학생 수는 79805 명입니다.
한국에서 영주권을 가진 외국인 수는 202738 명입니다.

# Dataprocessing 

## datalarni tayorlash
## 1 tushurib qoldirilgan qiymatlarni  toldirish
## statistil qiymatlar orqali toldirish

#### Mean Ortacha stringlarga ishlamedi .main().iplace=True
#### Mode eng kop qaytarilgani bilan toldirish. .mode()[0].inplace.True
#### Median Ortada turgani bilan toldiradi. .median().insplace.True
#### Describle 0.25 0.5 0.75 min and max. .describle()
#### fixed 수동 수정  .fillna("No",inplace=True)
#### Drop tasjavarish (extiyot bolish kerak) df.dropna(insplace= True) 
#### drop 2-usuli df.drop("qator nomi",axis=1, insplace = True)