In [6]:

import pandas as pd
df=pd.read_csv('deaths_and_causes_synthetic.csv')

In [35]:
df.head()

  Age_Group       Cause_of_Death  Number_of_Deaths  Mortality_Rate_per_1000
0      0-14    Natural Disasters             73272                     2.79
1      0-14             Homicide            421169                     0.71
2     30-44  Infectious Diseases            103315                     0.75
3     30-44              Suicide            220423                    11.86
4     15-29               Stroke            157810                     9.50

In [25]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     260 non-null    int64
 1   Country                  260 non-null    str
 2   Age_Group                260 non-null    str
 3   Cause_of_Death           260 non-null    str
 4   Number_of_Deaths         260 non-null    int64
 5   Mortality_Rate_per_1000  260 non-null    float64
dtypes: float64(1), int64(2), str(3)
memory usage: 12.3 KB

In [33]:
df.drop('Year',axis=1,inplace=True)

In [36]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                260 non-null    str
 1   Cause_of_Death           260 non-null    str
 2   Number_of_Deaths         260 non-null    int64
 3   Mortality_Rate_per_1000  260 non-null    float64
dtypes: float64(1), int64(1), str(2)
memory usage: 8.3 KB

In [41]:
df.isnull().sum()

Age_Group                  0
Cause_of_Death             0
Number_of_Deaths           0
Mortality_Rate_per_1000    0
dtype: int64

In [42]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                260 non-null    str
 1   Cause_of_Death           260 non-null    str
 2   Number_of_Deaths         260 non-null    int64
 3   Mortality_Rate_per_1000  260 non-null    float64
dtypes: float64(1), int64(1), str(2)
memory usage: 8.3 KB