In [2]:
import pandas as pd
pd.f=pd.read_csv("apple_5yr_one.csv")

In [ ]:
df.isnull().sum()

In [ ]:
import pandas as pd
# df ni ozi ishlamadi printni olib keldim.
df = pd.read_csv('apple_5yr_one.csv') 
print(df.isnull().sum())

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [3]:
df.head()

,Date,Close,High,Low,Open,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,78.83236263047952,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,78.57962969607472,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,80.25645380649277,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,80.71575616737768,147712400

**#Drop columns**

In [4]:
columns = ["Open"]
df.drop(columns=columns, inplace=True)

In [5]:
print(df.isnull().sum())

Date      1
Close     0
High      0
Low       0
Volume    0
dtype: int64

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1255 non-null   str
 1   Close   1256 non-null   str
 2   High    1256 non-null   str
 3   Low     1256 non-null   str
 4   Volume  1256 non-null   str
dtypes: str(5)
memory usage: 49.2 KB

In [7]:
df.head()

,Date,Close,High,Low,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,147712400

In [8]:
df.nunique()

Date      1255
Close     1241
High      1256
Low       1256
Volume    1254
dtype: int64

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1255 non-null   str
 1   Close   1256 non-null   str
 2   High    1256 non-null   str
 3   Low     1256 non-null   str
 4   Volume  1256 non-null   str
dtypes: str(5)
memory usage: 49.2 KB

**# One- Hot encoding**

In [24]:
df.columns = df.columns.str.strip()

In [23]:
print(df.columns)

Index(['Date', 'Close', 'High', 'Low', 'Volume'], dtype='str')

In [ ]:
# data harfini kichik bilan yoganim uchun xatolik bo'lgan ekan
dummies = pd.get_dummies(df["Date"], prefix="Low", dtype=int)
dummies

,Low_2020-06-04,Low_2020-06-05,Low_2020-06-08,Low_2020-06-09,Low_2020-06-10,Low_2020-06-11,Low_2020-06-12,Low_2020-06-15,Low_2020-06-16,Low_2020-06-17,...,Low_2025-05-19,Low_2025-05-20,Low_2025-05-21,Low_2025-05-22,Low_2025-05-23,Low_2025-05-27,Low_2025-05-28,Low_2025-05-29,Low_2025-05-30,Low_2025-06-02
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
df = pd.concat([df, dummies], axis=1)

In [38]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Columns: 2514 entries, Close to Low_2025-06-02
dtypes: int64(2510), str(4)
memory usage: 24.1 MB

In [39]:
df.nunique()

Close             1241
High              1256
Low               1256
Volume            1254
Low_2020-06-04       2
                  ...
Low_2025-05-27       2
Low_2025-05-28       2
Low_2025-05-29       2
Low_2025-05-30       2
Low_2025-06-02       2
Length: 2514, dtype: int64

**#Label encoding**

In [41]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Columns: 2514 entries, Close to Low_2025-06-02
dtypes: int64(2510), str(4)
memory usage: 24.1 MB

In [43]:
print(df.head())

               Close               High                Low     Volume  \
0               AAPL               AAPL               AAPL       AAPL
1  78.32931518554688   79.1312690763083  77.95506657558614   87560400
2  80.56021881103516  80.62097312386399  78.55046881252456  137250400
3  81.03653717041016  81.07056314819836  79.54441498185327   95654400
4  83.59550476074219  83.98919153470604  80.68416273702039  147712400

   Low_2020-06-04  Low_2020-06-05  Low_2020-06-08  Low_2020-06-09  \
0               0               0               0               0
1               1               0               0               0
2               0               1               0               0
3               0               0               1               0
4               0               0               0               1

   Low_2020-06-10  Low_2020-06-11  ...  Low_2025-05-19  Low_2025-05-20  \
0               0               0  ...               0               0
1               0               0  ...               0               0
2               0               0  ...               0               0
3               0               0  ...               0               0
4               0               0  ...               0               0

   Low_2025-05-21  Low_2025-05-22  Low_2025-05-23  Low_2025-05-27  \
0               0               0               0               0
1               0               0               0               0
2               0               0               0               0
3               0               0               0               0
4               0               0               0               0

   Low_2025-05-28  Low_2025-05-29  Low_2025-05-30  Low_2025-06-02
0               0               0               0               0
1               0               0               0               0
2               0               0               0               0
3               0               0               0               0
4               0               0               0               0

[5 rows x 2514 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
!pip install scikit-learn