In [3]:
import pandas as pd
df=pd.read_csv('apple_5yr_one.csv')

In [4]:
%pip install pandas

Requirement already satisfied: pandas in .\.venv\Lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in .\.venv\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in .\.venv\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in .\.venv\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in .\.venv\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df.isnull().sum()

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [6]:
import pandas as pd
# df ni ozi ishlamadi printni olib keldim.
df = pd.read_csv('apple_5yr_one.csv') 
print(df.isnull().sum())

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [7]:
df.head()

,Date,Close,High,Low,Open,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,78.83236263047952,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,78.57962969607472,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,80.25645380649277,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,80.71575616737768,147712400

Drop columns

In [8]:
columns = ["Open"]
df.drop(columns=columns, inplace=True)

In [9]:
print(df.isnull().sum())

Date      1
Close     0
High      0
Low       0
Volume    0
dtype: int64

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1255 non-null   str
 1   Close   1256 non-null   str
 2   High    1256 non-null   str
 3   Low     1256 non-null   str
 4   Volume  1256 non-null   str
dtypes: str(5)
memory usage: 49.2 KB

In [11]:
df.head()

,Date,Close,High,Low,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,147712400

In [12]:
df.nunique()

Date      1255
Close     1241
High      1256
Low       1256
Volume    1254
dtype: int64

Mean

In [13]:
df["Date"] = pd.to_numeric(df["Date"], errors='coerce')

In [14]:
# 1255 ortacha qiymat lekin buni ortca qiymay deb hisoblamadi
df["Date"].fillna(df["Date"].mean(), inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_17288\1187857978.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["Date"].fillna(df["Date"].mean(), inplace=True)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1251   NaN
1252   NaN
1253   NaN
1254   NaN
1255   NaN
Name: Date, Length: 1256, dtype: float64

Mode

In [15]:
#low
df["Low"].fillna(df["Low"].mode()[0], inplace=True)
df["High"].fillna(df["High"].mode()[0], inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_17288\3447575830.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["Low"].fillna(df["Low"].mode()[0], inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_17288\3447575830.py:3: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["High"].fillna(df["High"].mode()[0], inplace=True)

0                     AAPL
1         79.1312690763083
2        80.62097312386399
3        81.07056314819836
4        83.98919153470604
               ...
1251    200.74000549316406
1252    202.72999572753906
1253    203.80999755859375
1254     201.9600067138672
1255     202.1300048828125
Name: High, Length: 1256, dtype: str

Median

In [ ]:
# buni ham songa otkazdim
df["High"] = pd.to_numeric(df["High"], errors='coerce')

In [18]:
df["High"].fillna(df["High"].median(), inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_17288\2250542449.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["High"].fillna(df["High"].median(), inplace=True)

0       163.728834
1        79.131269
2        80.620973
3        81.070563
4        83.989192
           ...
1251    200.740005
1252    202.729996
1253    203.809998
1254    201.960007
1255    202.130005
Name: High, Length: 1256, dtype: float64

In [ ]:
df.isnull().sum()

Date      1256
Close        0
High         1
Low          0
Volume       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    0 non-null      float64
 1   Close   1256 non-null   float64
 2   High    1255 non-null   float64
 3   Low     1256 non-null   str
 4   Volume  1256 non-null   str
dtypes: float64(3), str(2)
memory usage: 49.2 KB

In [ ]:
df.nunique()

Date         0
Close     1241
High      1255
Low       1256
Volume    1254
dtype: int64

One- Hot encoding

In [19]:
df.columns = df.columns.str.strip()

In [20]:
print(df.columns)

Index(['Date', 'Close', 'High', 'Low', 'Volume'], dtype='str')

In [ ]:
# data harfini kichik bilan yoganim uchun xatolik bo'lgan ekan
dummies = pd.get_dummies(df["Date"], prefix="Low", dtype=int)
dummies

,Low_2020-06-04,Low_2020-06-05,Low_2020-06-08,Low_2020-06-09,Low_2020-06-10,Low_2020-06-11,Low_2020-06-12,Low_2020-06-15,Low_2020-06-16,Low_2020-06-17,...,Low_2025-05-19,Low_2025-05-20,Low_2025-05-21,Low_2025-05-22,Low_2025-05-23,Low_2025-05-27,Low_2025-05-28,Low_2025-05-29,Low_2025-05-30,Low_2025-06-02
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
dummies = pd.get_dummies(df["Date"], prefix="Date")

In [22]:
df = pd.concat([df, dummies], axis=1)

In [23]:
df=pd.concat([df.drop(columns=["Date"]), dummies], axis=1)

In [24]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1256 non-null   str
 1   High    1255 non-null   float64
 2   Low     1256 non-null   str
 3   Volume  1256 non-null   str
dtypes: float64(1), str(3)
memory usage: 39.4 KB

In [ ]:
df.nunique()

Close     1241
High      1255
Low       1256
Volume    1254
dtype: int64

Label encoding

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
encoder = LabelEncoder()

In [27]:
df["High"] = encoder.fit_transform(df["High"])
df["Low"] = encoder.fit_transform(df["Low"])
df["Close"] = encoder.fit_transform(df["Close"])
df[ "Volume"] = encoder.fit_transform(df["Volume"])

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    0 non-null      float64
 1   Close   1256 non-null   int64
 2   High    1256 non-null   int64
 3   Low     1256 non-null   int64
 4   Volume  1256 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 49.2 KB

In [ ]:
print(df.head())

         Date              Close               High                Low  \
0         NaN               AAPL               AAPL               AAPL
1  2020-06-04  78.32931518554688   79.1312690763083  77.95506657558614
2  2020-06-05  80.56021881103516  80.62097312386399  78.55046881252456
3  2020-06-08  81.03653717041016  81.07056314819836  79.54441498185327
4  2020-06-09  83.59550476074219  83.98919153470604  80.68416273702039

      Volume  Low_2020-06-04  Low_2020-06-05  Low_2020-06-08  Low_2020-06-09  \
0       AAPL               0               0               0               0
1   87560400               1               0               0               0
2  137250400               0               1               0               0
3   95654400               0               0               1               0
4  147712400               0               0               0               1

   Low_2020-06-10  ...  Low_2025-05-19  Low_2025-05-20  Low_2025-05-21  \
0               0  ...               0               0               0
1               0  ...               0               0               0
2               0  ...               0               0               0
3               0  ...               0               0               0
4               0  ...               0               0               0

   Low_2025-05-22  Low_2025-05-23  Low_2025-05-27  Low_2025-05-28  \
0               0               0               0               0
1               0               0               0               0
2               0               0               0               0
3               0               0               0               0
4               0               0               0               0

   Low_2025-05-29  Low_2025-05-30  Low_2025-06-02
0               0               0               0
1               0               0               0
2               0               0               0
3               0               0               0
4               0               0               0

[5 rows x 1260 columns]