# Datalarga ishlov berish

In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
standardScaler = StandardScaler()
minMaxScaler = MinMaxScaler()
robustScaler = RobustScaler()

df = pd.read_csv("./../Data/bundesliga_player.csv")

In [24]:
df.isnull().sum()

Unnamed: 0            0
name                  0
full_name           287
age                   0
height                0
nationality           0
place_of_birth        5
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

In [25]:
df.drop(["full_name","contract_expires","outfitter","player_agent"], axis=1, inplace=True)
df.isnull().sum()

Unnamed: 0        0
name              0
age               0
height            0
nationality       0
place_of_birth    5
price             5
max_price         5
position          0
shirt_nr          0
foot              9
club              0
joined_club       0
dtype: int64

In [26]:
columns=df.columns

for col in columns:
    if df[col].isnull().any():
        if df[col].dtype == "object":
            df[col].fillna(df[col].mode()[0], inplace=True)
        else: df[col].fillna(df[col].median(), inplace=True)


df.isnull().sum()

/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_44705/1900465363.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_44705/1900465363.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_44705/1900465363.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[col].fillna(df[col].median(), inplace=True)
/var/folders/0j/k967ql8509q4hr00sdl88hfh0000gn/T/ipykernel_44705/1900465363.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Unnamed: 0        0
name              0
age               0
height            0
nationality       0
place_of_birth    0
price             0
max_price         0
position          0
shirt_nr          0
foot              0
club              0
joined_club       0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      515 non-null    int64
 1   name            515 non-null    object
 2   age             515 non-null    int64
 3   height          515 non-null    float64
 4   nationality     515 non-null    object
 5   place_of_birth  515 non-null    object
 6   price           515 non-null    float64
 7   max_price       515 non-null    float64
 8   position        515 non-null    object
 9   shirt_nr        515 non-null    int64
 10  foot            515 non-null    object
 11  club            515 non-null    object
 12  joined_club     515 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 52.4+ KB

In [28]:
columns=df.columns

for col in columns:
    if df[col].dtype == "object":
        if df[col].nunique() <= 2:
            dummies=pd.get_dummies(df[col], prefix="col", dtype=int)
            df=pd.concat([df.drop(columns=[col]), dummies], axis=1)
        else: df[col]=encoder.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      515 non-null    int64
 1   name            515 non-null    int64
 2   age             515 non-null    int64
 3   height          515 non-null    float64
 4   nationality     515 non-null    int64
 5   place_of_birth  515 non-null    int64
 6   price           515 non-null    float64
 7   max_price       515 non-null    float64
 8   position        515 non-null    int64
 9   shirt_nr        515 non-null    int64
 10  foot            515 non-null    int64
 11  club            515 non-null    int64
 12  joined_club     515 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 52.4 KB

In [32]:
nummerical_col = df.select_dtypes(include=['int64','float64']).columns
for col in nummerical_col:
    df[col]=robustScaler.fit_transform(df[[col]])

In [33]:
df.head()

,Unnamed: 0,name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,joined_club
0,-1.000000,0.108949,1.714286,0.888889,0.000000,-0.298913,0.448718,2.814815,0.4,-0.95,0.0,-0.428571,-1.016575
1,-0.996109,0.968872,1.285714,-0.222222,1.973684,0.260870,0.192308,0.444444,0.4,0.35,0.0,-0.428571,0.983425
2,-0.992218,0.809339,1.285714,0.777778,0.000000,0.592391,-0.333333,-0.074074,0.4,0.30,0.0,-0.428571,-0.022099
3,-0.988327,-0.291829,-0.714286,0.666667,0.000000,0.597826,-0.410256,-0.496296,0.4,0.75,0.0,-0.428571,0.441989
4,-0.984436,0.221790,-0.285714,0.444444,1.368421,0.016304,9.166667,5.037037,-0.2,-0.80,0.0,-0.428571,0.585635