In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [8]:
url = "https://raw.githubusercontent.com"
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

In [ ]:
import pandas as pd
df=pd.read_csv('diamonds.csv')

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  str
 2   color    53940 non-null  str
 3   clarity  53940 non-null  str
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), str(3)
memory usage: 4.1 MB

In [ ]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

1. Mean orqali to’ldiring

In [ ]:

means = df.mean(numeric_only=True)
print(means)

carat       0.797940
depth      61.749405
table      57.457184
x           5.731157
y           5.734526
z           3.538734
price    3932.799722
dtype: float64

In [ ]:
df["carat"].fillna(df["carat"].mean(), inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\1830721881.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["carat"].fillna(df["carat"].mean(), inplace=True)

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  str
 2   color    53940 non-null  str
 3   clarity  53940 non-null  str
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   x        53940 non-null  float64
 7   y        53940 non-null  float64
 8   z        53940 non-null  float64
 9   price    53940 non-null  int64
dtypes: float64(6), int64(1), str(3)
memory usage: 4.1 MB

2. Mode orqali to’ldiring

In [ ]:
df["depth"].fillna(df["depth"].mode()[0], inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\1832418937.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["depth"].fillna(df["depth"].mode()[0], inplace=True)

0        61.5
1        59.8
2        56.9
3        62.4
4        63.3
         ...
53935    60.8
53936    63.1
53937    62.8
53938    61.0
53939    62.2
Name: depth, Length: 53940, dtype: float64

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  str
 2   color    53940 non-null  str
 3   clarity  53940 non-null  str
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   x        53940 non-null  float64
 7   y        53940 non-null  float64
 8   z        53940 non-null  float64
 9   price    53940 non-null  int64
dtypes: float64(6), int64(1), str(3)
memory usage: 4.1 MB

In [ ]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

3. Median orqali to’ldiring

In [ ]:

median_values = df.median(numeric_only=True)
print(median_values)

carat       0.70
depth      61.80
table      57.00
x           5.70
y           5.71
z           3.53
price    2401.00
dtype: float64

In [ ]:
df["carat"].fillna(df["carat"].median(), inplace=True)
df["depth"].fillna(df["depth"].median(), inplace=True)
df["table"].fillna(df["table"].median(), inplace=True)
df["x"].fillna(df["x"].median(), inplace=True)  
df["y"].fillna(df["y"].median(), inplace=True)
df["z"].fillna(df["z"].median(), inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["carat"].fillna(df["carat"].median(), inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["depth"].fillna(df["depth"].median(), inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:3: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["table"].fillna(df["table"].median(), inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:4: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["x"].fillna(df["x"].median(), inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:5: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["y"].fillna(df["y"].median(), inplace=True)
C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\3379525034.py:6: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["z"].fillna(df["z"].median(), inplace=True)

0        2.43
1        2.31
2        2.31
3        2.63
4        2.75
         ...
53935    3.50
53936    3.61
53937    3.56
53938    3.74
53939    3.64
Name: z, Length: 53940, dtype: float64

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  str
 2   color    53940 non-null  str
 3   clarity  53940 non-null  str
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   x        53940 non-null  float64
 7   y        53940 non-null  float64
 8   z        53940 non-null  float64
 9   price    53940 non-null  int64
dtypes: float64(6), int64(1), str(3)
memory usage: 4.1 MB

In [ ]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

4. Fixed qiymat bn to’ldiring

In [ ]:
df['price'].fillna("2500", inplace=True)

C:\Users\LG IN WIN11PRO_6TH\AppData\Local\Temp\ipykernel_16272\1293932773.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['price'].fillna("2500", inplace=True)

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [ ]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

5. Istalgan ustunni tashlab yuboring

In [ ]:
df.drop("color", axis=1, inplace=True)
df.drop("cut", axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   clarity  53940 non-null  str
 2   depth    53940 non-null  float64
 3   table    53940 non-null  float64
 4   x        53940 non-null  float64
 5   y        53940 non-null  float64
 6   z        53940 non-null  float64
 7   price    53940 non-null  int64
dtypes: float64(6), int64(1), str(1)
memory usage: 3.3 MB

In [ ]:
df.nunique()

carat        273
clarity        8
depth        184
table        127
x            554
y            552
z            375
price      11602
dtype: int64

6. Qatorlar bo’yicha to’ldiring

In [ ]:
?

one hot encoding
#OXIRGI MAVZULAR

In [ ]:
df_encoded = pd.get_dummies(df, columns=['price', 'clarity'])

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   clarity  53940 non-null  str
 2   depth    53940 non-null  float64
 3   table    53940 non-null  float64
 4   x        53940 non-null  float64
 5   y        53940 non-null  float64
 6   z        53940 non-null  float64
 7   price    53940 non-null  int64
dtypes: float64(6), int64(1), str(1)
memory usage: 3.3 MB

Label encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in .\Lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in .\Lib\site-packages (from scikit-learn) (2.4.2)
Requirement already satisfied: scipy>=1.10.0 in .\Lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in .\Lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in .\Lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('diamonds.csv')

In [ ]:
df["y"] = encoder.fit_transform(df["y"])
df["z"] = encoder.fit_transform(df["z"])
df["x"] = encoder.fit_transform(df["x"])
df["table"] = encoder.fit_transform(df["table"])
df["depth"] = encoder.fit_transform(df["depth"])

In [ ]:
df.nunique()

carat        273
cut            5
color          7
clarity        8
depth        184
table        127
x            554
y            552
z            375
price      11602
dtype: int64

In [ ]:
df.head()

   carat      cut color clarity  depth  table   x   y   z  price
0   0.23    Ideal     E     SI2     83     30  20  26  24    326
1   0.21  Premium     E     SI1     66     90  14  12  12    326
2   0.23     Good     E     VS1     37    115  30  35  12    327
3   0.29  Premium     I     VS2     92     60  45  51  44    334
4   0.31     Good     J     SI2    101     60  59  63  56    335