In [3]:
# Imtixondan o'tishni nazorat qilish uchun  condition tuzing

# put exam result
er = int(input("Imtihon natijasini kiriting: "))

if er > 84:
    print("Yaxshi. 5 baho oldingiz.")
elif er > 69 and er < 85:
    print("Bo'ladi, yomon emas. 4 baho.")
elif er < 70 and er > 54:
    print("Yaxshi emas. 3 baho.")
else:
    print("Yomon. 2 baho.")

Yaxshi. 5 baho oldingiz.

In [5]:
# Pasport olish uchun condition tuzing

age = int(input("Yoshingizni kiriting: "))
metrka = input("Tug'ilganlik guvohnomasi bormi? (ha/yo'q): ")
ariza = input("Ariza topshirdingizmi? (ha/yo'q): ")

if age >= 16 and metrka == "ha" and ariza == "ha":
    print("Passport olishga ruxsat berildi. Salomat bo'ling.")
else:
    print("Passport olish shartlari to'liq emas. To'ldirishingizni xohlab qolamiz.")

Passport olish shartlari to'liq emas. To'ldirishingizni xohlab qolamiz.

In [2]:
import pandas as pd

In [3]:
hr = pd.read_csv('fullGas.csv')

In [4]:
hr.head()

,Make,Model,Body,Mileage_km,Price,Year,Country,Condition,Fuel_Type,Fuel_Consumption_l,...,Cylinders,Seats,Doors,Color,Upholstery,Full_Service_History,Non_Smoker_Vehicle,Previous_Owners,Seller,Image_url
0,Abarth,595,Compact,98000,16900,2020.0,IT,Used,Gasoline,6.7,...,4.0,4.0,3.0,White,Full leather,False,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
1,Abarth,595,Sedan,91500,12500,2017.0,IT,Used,Gasoline,6.0,...,4.0,4.0,3.0,Grey,Full leather,False,True,4.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
2,Abarth,595,Compact,40000,17990,2015.0,IT,Used,Gasoline,6.5,...,4.0,4.0,3.0,Bronze,Full leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
3,Abarth,500,Compact,133000,9300,2008.0,IT,Used,Gasoline,6.5,...,4.0,4.0,3.0,Black,Cloth,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
4,Abarth,595,Compact,61019,14990,2021.0,BE,Used,Gasoline,NaN,...,4.0,4.0,3.0,Yellow,Part leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...

In [5]:
hr.tail()

,Make,Model,Body,Mileage_km,Price,Year,Country,Condition,Fuel_Type,Fuel_Consumption_l,...,Cylinders,Seats,Doors,Color,Upholstery,Full_Service_History,Non_Smoker_Vehicle,Previous_Owners,Seller,Image_url
40489,Volvo,V60 Cross Country,Station wagon,73627,32990,2023.0,DE,Used,Diesel,NaN,...,NaN,5.0,5.0,Grey,Part leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
40490,Volvo,XC60,Off-Road/Pick-up,93671,26990,2020.0,IT,Used,Electric/Diesel,NaN,...,4.0,5.0,5.0,Grey,Cloth,False,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
40491,Volvo,V90,Station wagon,60200,32490,2020.0,DE,Used,Gasoline,NaN,...,4.0,5.0,5.0,Black,Full leather,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
40492,Volvo,XC40,Off-Road/Pick-up,49088,29450,2022.0,NL,Used,Electric/Gasoline,NaN,...,3.0,5.0,5.0,Black,Cloth,True,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
40493,Volvo,XC90,Off-Road/Pick-up,124750,43990,2022.0,DE,Used,Diesel,NaN,...,4.0,5.0,5.0,Grey,Full leather,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...

In [5]:
hr.nunique()

Make                       46
Model                    1256
Body                        9
Mileage_km              20521
Price                    7709
Year                       87
Country                     8
Condition                   2
Fuel_Type                  10
Fuel_Consumption_l        217
Drivetrain                  3
Gearbox                     3
Gears                      17
Power_hp                  572
Engine_Size_cc            767
Cylinders                  13
Seats                      11
Doors                       7
Color                      14
Upholstery                  6
Full_Service_History        2
Non_Smoker_Vehicle          2
Previous_Owners            13
Seller                      2
Image_url               40452
dtype: int64

In [6]:
hr['Doors'].nunique()

7

In [7]:
hr['Doors']

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
        ...
40489    5.0
40490    5.0
40491    5.0
40492    5.0
40493    5.0
Name: Doors, Length: 40494, dtype: float64

In [8]:
hr.head()

,Make,Model,Body,Mileage_km,Price,Year,Country,Condition,Fuel_Type,Fuel_Consumption_l,...,Cylinders,Seats,Doors,Color,Upholstery,Full_Service_History,Non_Smoker_Vehicle,Previous_Owners,Seller,Image_url
0,Abarth,595,Compact,98000,16900,2020.0,IT,Used,Gasoline,6.7,...,4.0,4.0,3.0,White,Full leather,False,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
1,Abarth,595,Sedan,91500,12500,2017.0,IT,Used,Gasoline,6.0,...,4.0,4.0,3.0,Grey,Full leather,False,True,4.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
2,Abarth,595,Compact,40000,17990,2015.0,IT,Used,Gasoline,6.5,...,4.0,4.0,3.0,Bronze,Full leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
3,Abarth,500,Compact,133000,9300,2008.0,IT,Used,Gasoline,6.5,...,4.0,4.0,3.0,Black,Cloth,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
4,Abarth,595,Compact,61019,14990,2021.0,BE,Used,Gasoline,NaN,...,4.0,4.0,3.0,Yellow,Part leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...

In [6]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40494 entries, 0 to 40493
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Make                  40494 non-null  object
 1   Model                 40273 non-null  object
 2   Body                  40493 non-null  object
 3   Mileage_km            40494 non-null  int64
 4   Price                 40494 non-null  int64
 5   Year                  38799 non-null  float64
 6   Country               37902 non-null  object
 7   Condition             40494 non-null  object
 8   Fuel_Type             40465 non-null  object
 9   Fuel_Consumption_l    12773 non-null  float64
 10  Drivetrain            31860 non-null  object
 11  Gearbox               40014 non-null  object
 12  Gears                 25115 non-null  float64
 13  Power_hp              40494 non-null  int64
 14  Engine_Size_cc        34564 non-null  float64
 15  Cylinders             30332 non-null  float64
 16  Seats                 38697 non-null  float64
 17  Doors                 39517 non-null  float64
 18  Color                 37919 non-null  object
 19  Upholstery            33222 non-null  object
 20  Full_Service_History  40494 non-null  bool
 21  Non_Smoker_Vehicle    40494 non-null  bool
 22  Previous_Owners       22271 non-null  float64
 23  Seller                40344 non-null  object
 24  Image_url             40494 non-null  object
dtypes: bool(2), float64(8), int64(3), object(12)
memory usage: 7.2+ MB

In [7]:
hr.isnull().sum()

Make                        0
Model                     221
Body                        1
Mileage_km                  0
Price                       0
Year                     1695
Country                  2592
Condition                   0
Fuel_Type                  29
Fuel_Consumption_l      27721
Drivetrain               8634
Gearbox                   480
Gears                   15379
Power_hp                    0
Engine_Size_cc           5930
Cylinders               10162
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [13]:
hr.isnull().any()

Make                    False
Model                    True
Body                     True
Mileage_km              False
Price                   False
Year                     True
Country                  True
Condition               False
Fuel_Type                True
Drivetrain               True
Gearbox                  True
Gears                    True
Power_hp                False
Engine_Size_cc           True
Cylinders                True
Seats                    True
Doors                    True
Color                    True
Upholstery               True
Full_Service_History    False
Non_Smoker_Vehicle      False
Previous_Owners          True
Seller                   True
Image_url               False
dtype: bool

In [19]:
hr.drop('Gears', axis=1, inplace=True)

In [20]:
hr.isnull().sum()

Make                        0
Model                     221
Body                        1
Mileage_km                  0
Price                       0
Year                     1695
Country                  2592
Condition                   0
Fuel_Type                  29
Drivetrain               8634
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [21]:
hr['Year'].fillna(hr['Year'].mean(), inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\3972480104.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Year'].fillna(hr['Year'].mean(), inplace=True)

In [22]:
hr.isnull().sum()

Make                        0
Model                     221
Body                        1
Mileage_km                  0
Price                       0
Year                        0
Country                  2592
Condition                   0
Fuel_Type                  29
Drivetrain               8634
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [23]:
hr['Model'].fillna(hr['Model'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\3511080676.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Model'].fillna(hr['Model'].mode()[0], inplace=True)

In [24]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        1
Mileage_km                  0
Price                       0
Year                        0
Country                  2592
Condition                   0
Fuel_Type                  29
Drivetrain               8634
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [25]:
hr.head()

,Make,Model,Body,Mileage_km,Price,Year,Country,Condition,Fuel_Type,Drivetrain,...,Engine_Size_cc,Seats,Doors,Color,Upholstery,Full_Service_History,Non_Smoker_Vehicle,Previous_Owners,Seller,Image_url
0,Abarth,595,Compact,98000,16900,2020.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,White,Full leather,False,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
1,Abarth,595,Sedan,91500,12500,2017.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Grey,Full leather,False,True,4.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
2,Abarth,595,Compact,40000,17990,2015.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Bronze,Full leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
3,Abarth,500,Compact,133000,9300,2008.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Black,Cloth,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
4,Abarth,595,Compact,61019,14990,2021.0,BE,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Yellow,Part leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...

In [27]:
hr['Country'].fillna(hr['Country'].mode()[0], inplace=True)

In [28]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        1
Mileage_km                  0
Price                       0
Year                        0
Country                     0
Condition                   0
Fuel_Type                  29
Drivetrain               8634
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [31]:
hr['Body'].fillna('Compact', inplace=True)

In [32]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        0
Mileage_km                  0
Price                       0
Year                        0
Country                     0
Condition                   0
Fuel_Type                  29
Drivetrain               8634
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [33]:
hr.head()

,Make,Model,Body,Mileage_km,Price,Year,Country,Condition,Fuel_Type,Drivetrain,...,Engine_Size_cc,Seats,Doors,Color,Upholstery,Full_Service_History,Non_Smoker_Vehicle,Previous_Owners,Seller,Image_url
0,Abarth,595,Compact,98000,16900,2020.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,White,Full leather,False,False,NaN,Dealer,https://prod.pictures.autoscout24.net/listing-...
1,Abarth,595,Sedan,91500,12500,2017.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Grey,Full leather,False,True,4.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
2,Abarth,595,Compact,40000,17990,2015.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Bronze,Full leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
3,Abarth,500,Compact,133000,9300,2008.0,IT,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Black,Cloth,True,True,2.0,Dealer,https://prod.pictures.autoscout24.net/listing-...
4,Abarth,595,Compact,61019,14990,2021.0,BE,Used,Gasoline,Front Wheel Drive,...,1368.0,4.0,3.0,Yellow,Part leather,True,True,1.0,Dealer,https://prod.pictures.autoscout24.net/listing-...

In [34]:
hr['Fuel_Type'].fillna(hr['Fuel_Type'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\3930471538.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Fuel_Type'].fillna(hr['Fuel_Type'].mode()[0], inplace=True)

In [35]:
hr['Drivetrain'].fillna(hr['Drivetrain'].mode()[0], inplace=True)

In [36]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        0
Mileage_km                  0
Price                       0
Year                        0
Country                     0
Condition                   0
Fuel_Type                   0
Drivetrain                  0
Gearbox                   480
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [37]:
hr['Gearbox']

0        Automatic
1           Manual
2           Manual
3           Manual
4           Manual
           ...
40489    Automatic
40490    Automatic
40491    Automatic
40492    Automatic
40493    Automatic
Name: Gearbox, Length: 40494, dtype: object

In [38]:
hr['Gearbox'].fillna('Automatic', inplace=True)

In [39]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        0
Mileage_km                  0
Price                       0
Year                        0
Country                     0
Condition                   0
Fuel_Type                   0
Drivetrain                  0
Gearbox                     0
Power_hp                    0
Engine_Size_cc           5930
Seats                    1797
Doors                     977
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [40]:
hr['Engine_Size_cc']

0        1368.0
1        1368.0
2        1368.0
3        1368.0
4        1368.0
          ...
40489    1969.0
40490    1969.0
40491    1969.0
40492    1477.0
40493    1969.0
Name: Engine_Size_cc, Length: 40494, dtype: float64

In [41]:
hr['Engine_Size_cc'].fillna(hr['Engine_Size_cc'].mean(), inplace=True)

In [42]:
hr['Seats'].fillna(hr['Seats'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\151976739.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Seats'].fillna(hr['Seats'].mode()[0], inplace=True)

In [43]:
hr['Doors'].fillna(hr['Doors'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\4134526565.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Doors'].fillna(hr['Doors'].mode()[0], inplace=True)

In [44]:
hr.isnull().sum()

Make                        0
Model                       0
Body                        0
Mileage_km                  0
Price                       0
Year                        0
Country                     0
Condition                   0
Fuel_Type                   0
Drivetrain                  0
Gearbox                     0
Power_hp                    0
Engine_Size_cc              0
Seats                       0
Doors                       0
Color                    2575
Upholstery               7272
Full_Service_History        0
Non_Smoker_Vehicle          0
Previous_Owners         18223
Seller                    150
Image_url                   0
dtype: int64

In [45]:
hr['Color'].fillna(hr['Color'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\264780648.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Color'].fillna(hr['Color'].mode()[0], inplace=True)

In [46]:
hr['Upholstery'].fillna(hr['Doors'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\1392788580.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Upholstery'].fillna(hr['Doors'].mode()[0], inplace=True)

In [47]:
hr.drop('Previous_Owners', axis=1, inplace=True)

In [48]:
hr.isnull().sum()

Make                      0
Model                     0
Body                      0
Mileage_km                0
Price                     0
Year                      0
Country                   0
Condition                 0
Fuel_Type                 0
Drivetrain                0
Gearbox                   0
Power_hp                  0
Engine_Size_cc            0
Seats                     0
Doors                     0
Color                     0
Upholstery                0
Full_Service_History      0
Non_Smoker_Vehicle        0
Seller                  150
Image_url                 0
dtype: int64

In [49]:
hr['Seller'].fillna(hr['Seller'].mode()[0], inplace=True)

C:\Users\윈도우10\AppData\Local\Temp\ipykernel_21688\2181208715.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hr['Seller'].fillna(hr['Seller'].mode()[0], inplace=True)

In [50]:
hr.isnull().sum()

Make                    0
Model                   0
Body                    0
Mileage_km              0
Price                   0
Year                    0
Country                 0
Condition               0
Fuel_Type               0
Drivetrain              0
Gearbox                 0
Power_hp                0
Engine_Size_cc          0
Seats                   0
Doors                   0
Color                   0
Upholstery              0
Full_Service_History    0
Non_Smoker_Vehicle      0
Seller                  0
Image_url               0
dtype: int64