In [2]:
# Pandas orqali datani chaqirib kelish

import pandas as pd 
df = pd.read_csv("./../Data/autos.csv")
df.head()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [3]:
df.tail()  # patidan

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,...,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,...,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,...,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,...,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,...,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [ ]:
df.isnull()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,False,False,False,False,False,False,False,True,False,True,...,True,False,False,True,False,True,False,False,False,False
371524,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
371525,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
371526,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
371527,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
df.isnull().sum()

price                     0
yearOfRegistration        0
powerPS                   0
kilometer                 0
monthOfRegistration       0
brand                     0
vehicleType_bus           0
vehicleType_cabrio        0
vehicleType_coupe         0
vehicleType_kleinwagen    0
vehicleType_kombi         0
vehicleType_limousine     0
vehicleType_suv           0
gearbox_manuell           0
fuelType_benzin           0
fuelType_cng              0
fuelType_diesel           0
fuelType_elektro          0
fuelType_hybrid           0
fuelType_lpg              0
notRepairedDamage_nein    0
dtype: int64

In [5]:
df['price'].describe() #Pastda ishlatilgan

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [6]:
df.info() # datani umumiy malumotini korib chiqadi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [7]:
df.isnull().sum() # any() true false

index                      0
dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

# Data preprosessing

In [8]:
# keraksiz koldan tashlab yuborish 

# name sotuvchi yozgan reklama Mavzusi
# index bu har bitta qatorni index
# dataCrawled Data kiritilgan sana 
# dataCreated
# lastSeen reklama eng oxirgi korilgan sanasi 
# nrOfPictures Reklama rasim soni
# postalCode sotuvchi pochta raqami
# sallery 판매유형, 개인? 업체?
# OfferType reklama turi
# ab test AB test grup 
df.drop([
    'name', 'index', 'dateCrawled', 'dateCreated', 'lastSeen',
    'nrOfPictures', 'postalCode', 'seller', 'offerType', 'abtest'
], axis=1, inplace=True)

In [ ]:
# Data Preprocessing - 결측치 처리
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0]) # object uchun 
        else:
            df[col] = df[col].fillna(df[col].median())  # 이상치에 강한 median 사용
df.isnull().sum()

price                  0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [10]:
len(df[df['price']==0]) # narxi 0 bolgan datalar soni

10778

In [11]:
len(df[df["powerPS"]==0])

40820

In [12]:

df = df[(df['price'] >= 500) & (df['price'] <= 200_000)]
df = df[(df["powerPS"] >=0)& (df['powerPS']<=600)]
df['price'].describe()

count    334927.000000
mean       6273.949882
std        8387.384530
min         500.000000
25%        1500.000000
50%        3500.000000
75%        7900.000000
max      200000.000000
Name: price, dtype: float64

In [13]:
"""
One Hot 사용하면 생기는 컬럼 수 
'vehicleType' 8=>7, 'gearbox 2=>1 ', 'fuelType 7=> 6', 'notRepairedDamage 2 =>1' umumiy 15 ta 
brandlarga Labelling ishlatildi sababi 250 ta edi 
"""
from sklearn.preprocessing import LabelEncoder

df = df.drop(columns=['model'], errors='ignore')
# shunda 15 taga kopayar ekan 
cat_onehot = ['vehicleType', 'gearbox', 'fuelType', 'notRepairedDamage']
df = pd.get_dummies(df, columns=cat_onehot, dtype=int, drop_first=True)

le_brand = LabelEncoder()
df['brand'] = le_brand.fit_transform(df['brand'].astype(str))

df.head()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,brand,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,...,vehicleType_limousine,vehicleType_suv,gearbox_manuell,fuelType_benzin,fuelType_cng,fuelType_diesel,fuelType_elektro,fuelType_hybrid,fuelType_lpg,notRepairedDamage_nein
1,18300,2011,190,125000,5,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
2,9800,2004,163,125000,8,14,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,1500,2001,75,150000,6,38,0,0,0,1,...,0,0,1,1,0,0,0,0,0,1
4,3600,2008,69,90000,7,31,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1
5,650,1995,102,150000,10,2,0,0,0,0,...,1,0,1,1,0,0,0,0,0,0

In [14]:
X = df.drop("price", axis=1) # narxlaridan tashqari hamma qator 
y = df["price"] # narxlari 정답 Pandas orqali

In [15]:
list(X.columns)

['yearOfRegistration',
 'powerPS',
 'kilometer',
 'monthOfRegistration',
 'brand',
 'vehicleType_bus',
 'vehicleType_cabrio',
 'vehicleType_coupe',
 'vehicleType_kleinwagen',
 'vehicleType_kombi',
 'vehicleType_limousine',
 'vehicleType_suv',
 'gearbox_manuell',
 'fuelType_benzin',
 'fuelType_cng',
 'fuelType_diesel',
 'fuelType_elektro',
 'fuelType_hybrid',
 'fuelType_lpg',
 'notRepairedDamage_nein']

In [16]:
"""
기술 이름: train_test_split

라이브러리: scikit-learn (sklearn)

패턴 이름: Hold-Out Validation

아키텍처 용어: Dataset Partitioning

데이터를 학습용 / 평가용으로 물리적으로 분리하는 전략
"""
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [34]:
"""
Savol === nimaga aynan buyerda?
Javob === 학습과 테스트가 분리한 다음에 안전적으로 사용 


"""
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:

print("Train:", X_train.shape[0], "Test:", X_test.shape[0])

Train: 267941 Test: 66986

In [19]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred = model.predict(X_test)

y_pred

array([10981.44781492, 14494.39119957, 16178.07471753, ...,
        3907.39231078,  6369.95095824,  5413.07695674])

In [21]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("R2 :", r2_score(y_test, y_pred))

MAE: 3403.16090793019
MSE: 33603203.935340285
R2 : 0.5030130950214508