# Task for lesson 3

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('smart_grid_stability_augmented.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    60000 non-null  float64
 1   tau2    60000 non-null  float64
 2   tau3    60000 non-null  float64
 3   tau4    60000 non-null  float64
 4   p1      60000 non-null  float64
 5   p2      60000 non-null  float64
 6   p3      60000 non-null  float64
 7   p4      60000 non-null  float64
 8   g1      60000 non-null  float64
 9   g2      60000 non-null  float64
 10  g3      60000 non-null  float64
 11  g4      60000 non-null  float64
 12  stab    60000 non-null  float64
 13  stabf   60000 non-null  object
dtypes: float64(13), object(1)
memory usage: 6.4+ MB

In [11]:
df.memory_usage()

Index       132
tau1     480000
tau2     480000
tau3     480000
tau4     480000
p1       480000
p2       480000
p3       480000
p4       480000
g1       480000
g2       480000
g3       480000
g4       480000
stab     480000
stabf    480000
dtype: int64

In [12]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,5.250000,5.250001,5.250001,5.250001,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742434,2.742437,2.742437,2.742437,0.752129,0.433017,0.433017,0.433017,0.274244,0.274243,0.274243,0.274243,0.036917
min,0.500793,0.500141,0.500141,0.500141,1.582590,-1.999945,-1.999945,-1.999945,0.050009,0.050028,0.050028,0.050028,-0.080760
25%,2.874892,2.875011,2.875011,2.875011,3.218300,-1.624997,-1.624997,-1.624997,0.287521,0.287497,0.287497,0.287497,-0.015557
50%,5.250004,5.249981,5.249981,5.249981,3.751025,-1.249996,-1.249996,-1.249996,0.525009,0.525007,0.525007,0.525007,0.017142
75%,7.624690,7.624896,7.624896,7.624896,4.282420,-0.874993,-0.874993,-0.874993,0.762435,0.762490,0.762490,0.762490,0.044878
max,9.999469,9.999837,9.999837,9.999837,5.864418,-0.500025,-0.500025,-0.500025,0.999937,0.999982,0.999982,0.999982,0.109403

In [14]:
df.shape

(60000, 14)

In [15]:
df.dtypes

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stab     float64
stabf     object
dtype: object

In [16]:
df['tau1']

0        2.959060
1        9.304097
2        8.971707
3        0.716415
4        3.134112
           ...
59995    2.930406
59996    3.392299
59997    2.364034
59998    9.631511
59999    6.530527
Name: tau1, Length: 60000, dtype: float64

In [17]:
df.isnull().any()

tau1     False
tau2     False
tau3     False
tau4     False
p1       False
p2       False
p3       False
p4       False
g1       False
g2       False
g3       False
g4       False
stab     False
stabf    False
dtype: bool

In [18]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [21]:
random_list =  df['tau1']
new_list = []

for a in random_list:
    if a > 5:
        new_list.append(a)

print(len(random_list))
print(len(new_list))

60000
31578

In [ ]:
### 1.  Creating a dataframe using pandas.

# example_df = pd.DataFrame(data, columns=[2], index=[2])
# in above example the value "data" can be dictionary, list, or array

In [ ]:
### 2. Inspecting & Understanding Data

#   df.head(n)             First n rows (default 5)
#   df.tail(n)             Last n rows
#   df.info()              Data types, non-null counts


### → Essential for quick schema check.

#   df.describe()                                 Statistical summary (mean, std, min, max, etc.)
#   df.describe(include='all')                    Includes categorical columns.
#   df.shape                                      Returns (rows, columns)
#   df.columns                                    Column names
#   df.index                                      Row index
#   df.dtypes                                     Data types per column
#   df.memory_usage()                             Memory consumption



### → 3. Selection & Filtering

# Column Selection
#   df['col']
#   df[['col1', 'col2']]


# Row Selection
#   df.loc[] (Label-based)
#   df.loc[5]
#   df.loc[0:10, ['col1', 'col2']]
#   df.iloc[] (Position-based)
#   df.iloc[0:5, 1:3]


# Boolean Filtering

#   df[df['age'] > 30]
#   df.query()

# SQL-like filtering

#   df.query("age > 30 and salary < 5000")         → Cleaner for complex conditions.




### 4. Adding / Modifying Columns

# Assign new column
#   df['new_col'] = df['col1'] + df['col2']
#   df.assign()

# Chainable column creation
#   df = df.assign(new_col=lambda x: x.col1 * 2)

#   df.apply()                                        
#   df['col'].apply(lambda x: x*2)
#   df.apply(func, axis=1)                Apply function row-wise or column-wise


# → Used for feature engineering.

#   df.map() (Series only)      Element-wise mapping
#   df.replace()                Replace values
#   df.rename()                  Rename columns

#   df.rename(columns={'old': 'new'})



###   5. Handling Missing Data
    
#   df.isnull() / df.notnull()

#   df.dropna()                          Drop missing rows/columns
#   df.dropna(axis=0)  # rows
#   df.dropna(axis=1)  # columns

#   df.fillna()                          Fill missing values
#   df.fillna(0)
#   df.fillna(method='ffill')


#   df.interpolate()                    Numerical interpolation  → Important for time series.




###  6. Aggregation & Statistics
# Basic aggregations

#   df.mean()
#   df.sum()
#   df.min()
#   df.max()
#   df.std()
#   df.var()
#   df.count()



#   df.agg()       Multiple aggregations
#   df.agg(['mean', 'std'])



### 7. Grouping (VERY IMPORTANT in ML preprocessing)

#   df.groupby()
#   df.groupby('category').mean()


# Group + multiple aggregations
#   df.groupby('category').agg({
#       'salary': ['mean', 'max'],
#       'age': 'median'
#   })


#   df.transform()              Broadcast group-level stats back to rows
#   df['mean_salary'] = df.groupby('dept')['salary'].transform('mean')          → Very useful for feature engineering.



### 8. Sorting
#   df.sort_values()
#   df.sort_values(by='age', ascending=False)
#   df.sort_index()



### 9. Merging & Joining (Database-like operations)

#   pd.merge()
#   pd.merge(df1, df2, on='id', how='inner')

# how options:
#   inner
#   left
#   right
#   outer

#   df.join()         Join on index.
#   pd.concat()       Stack DataFrames vertically or horizontally.


###  10. Reshaping

# df.pivot()
# df.pivot(index='date', columns='category', values='sales')


#   df.pivot_table()             Pivot + aggregation
#   df.melt()                    Wide → long format

#   df.stack() / df.unstack()    Multi-index reshaping



### 11. Working with Duplicates

#   df.duplicated()
#   df.drop_duplicates()


### 12. Encoding / Feature Engineering

#   pd.get_dummies()                  One-hot encoding
#   pd.get_dummies(df['category'])

#   df.astype()                       Type conversion
#   pd.cut() / pd.qcut()              Binning numerical features


### 13. Export / Import
 
# Reading
# pd.read_csv()
# pd.read_excel()
# pd.read_json()
# pd.read_sql()

# Writing
# df.to_csv()
# df.to_excel()
# df.to_json()
# df.to_sql()